Repository gardenlinux/gardenlinux, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, test-env, test, build-env, docs, features, tools, logo, certificates, repo-key, checksums, packages, bare-container, gcp-platform, azure-platform, aws-platform, ali-platform, firecracker-platform, kvm-platform, metal-platform

.github/labeler.yml:

# GitHub Actions
github-actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

# Non workflow related changes
github-settings:
- all:
  - changed-files:
    - any-glob-to-any-file: '.github/**'
    - all-globs-to-all-files: '!.github/workflows/**'

test-env:
- changed-files:
  - any-glob-to-any-file:
    - 'container/platform-test/*'
    - 'tests/**'
    - 'test'

test:
- changed-files:
  - any-glob-to-any-file: 
    - 'features/*/test/**'

build-env:
- changed-files:
  - any-glob-to-any-file:
    - 'build'
    - 'get_repo'
    - 'get_timestamp'
    - 'get_version'
    - 'get_commit'
    - 'bin/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '*.md'
    - 'docs/**'
    - 'CODEOWNERS'
    - 'examples/**'

features:
- changed-files:
  - any-glob-to-any-file: 'features/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'hack/**'
    - 'tools/**'

logo:
- changed-files:
  - any-glob-to-any-file: 'logo/*'

certificates:
- changed-files:
  - any-glob-to-any-file: 'cert/**'

# Explicit label to show changes on gardenlinux public repo key
repo-key:
- changed-files:
  - any-glob-to-any-file: 'gardenlinux.asc'

checksums:
- changed-files:
  - any-glob-to-any-file: 'checksums.sha256'

packages:
- changed-files:
  - any-glob-to-any-file: 'features/**/pkg.*'

bare-container:
- changed-files:
  - any-glob-to-any-file:
    - 'bare_flavors/**'
    - 'unbase_oci'

gcp-platform:
- changed-files:
  - any-glob-to-any-file:
    - 'features/gcp/**'
    - 'tests/platformSetup/gcp.py'

azure-platform:
- changed-files:
  - any-glob-to-any-file:
    - 'features/azure/**'
    - 'tests/platformSetup/azure.py'

aws-platform:
- changed-files:
  - any-glob-to-any-file:
    - 'features/aws/**'
    - 'tests/platformSetup/aws.py'

ali-platform:
- changed-files:
  - any-glob-to-any-file:
    - 'features/ali/**'
    - 'tests/platformSetup/ali.py'

firecracker-platform:
- changed-files:
  - any-glob-to-any-file:
    - 'features/firecracker/**'
    - 'tests/platformSetup/firecracker.py'

kvm-platform:
- changed-files:
  - any-glob-to-any-file:
    - 'features/kvm/**'
    - 'tests/platformSetup/kvm.py'

metal-platform:
- changed-files:
  - any-glob-to-any-file: 'features/metal/**'

reorder and remove duplicates (#22)
  package-imports
Labels: none

packages for dogfooding GL in platform-test-images (#23)
  package-imports
Labels: none

Add feature to install glvd client and enable summary in motd
  features/glvd/README.md
  features/glvd/file.include/etc/update-motd.d/99-glvd
  features/glvd/info.yaml
  features/glvd/pkg.include
Labels: features, packages

[no ci] clarify https
  features/glvd/README.md
Labels: features

[no ci] docs
  features/glvd/README.md
Labels: features

[no ci] Update README.md
  features/glvd/README.md
Labels: features

Add feature to install glvd client and enable summary in motd (#2383)
  features/glvd/README.md
  features/glvd/file.include/etc/update-motd.d/99-glvd
  features/glvd/info.yaml
  features/glvd/pkg.include
Labels: features, packages
