Repository gardenlinux/gardenlinux, pull requests merged in 2020-11, with the labels that each got.

#163 Fix 2 typos in VERSION.md & remove RELEASE.md
  RELEASE.md
  VERSION.md
Labels: needs/review, size/xs

#162 Update openstacksdk to 0.50.0
  ci/requirements.txt
Labels: needs/review, size/xs

#161 Set DEBIAN_FRONTEND to noninteractive in Debian docker images
  Dockerfile
  packages/Dockerfile
  repository/Dockerfile
  snapshot/Dockerfile
Labels: needs/review, size/xs

#157 More detailed requirement documentation.
  README.md
Labels: size/xs

#167 Create qcow2 image when using the OpenStack builder
  features/openstack/image
Labels: reviewed/lgtm, size/xs

#165 Use "Garden Linux"
  features/cloud/file.include/usr/share/pam-configs/garden
  packages/defaults
  packages/linux
Labels: needs/review, size/xs

#171 Set mlock limit for containerd and containers
  features/gardener/file.include/etc/systemd/system/containerd.service.d/override.conf
Labels: needs/review, size/xs

#170 Set mlock limit for containerd and containers
  features/gardener/file.include/etc/systemd/system/containerd.service.d/override.conf
Labels: needs/review, size/xs

#169 Remove Python2 package patches.
  packages/python2.7
  packages/python2.7.patch
Labels: needs/review, size/s

#172 fix v1.19 download link
  features/chost/exec.config
Labels: needs/review, size/xs

#174 Fixed font issue with svg logos
  logo/gardenlinux-logo-black-text.svg
  logo/gardenlinux-logo-white-text.svg
  logo/gardenlinuxio-black-text.svg
  logo/gardenlinuxio-white-text.svg
Labels: reviewed/lgtm, size/m

#175 for advanced Docker Proxy.
  features/gardener/file.include/etc/docker/daemon.json
Labels: size/xs

#178 Add support to test if all systemd units are started successfully
  tests/integration/test_gardenlinux.py
Labels: needs/review, size/xs

#177 Use secure URLs if possible for accessing mirrors
  bin/.snapshot-url.sh
  bin/debuerreotype-debian-sources-list
  ci/glci/alicloud.py
  hack/nginx.conf
  hack/raspbian.sh
  hack/steamos.sh
  packages/Dockerfile
  packages/coreutils
  repository/repo.sh
  repository/settings
  snapshot/Dockerfile
Labels: needs/review, size/s

#176 Renamed "debuerreotype-" files to "garden-" files.
  bin/.apt-version.sh
  bin/.dpkg-arch.sh
  bin/.gpgv-ignore-expiration.sh
  bin/.tar-exclude
  bin/garden-apt-get
  bin/garden-build.sh
  bin/garden-chroot
  bin/garden-config
  bin/garden-debian-sources-list
  bin/garden-fixup
  bin/garden-fs
  bin/garden-gpgv-ignore-expiration-config
  bin/garden-init
  bin/garden-slimify
  bin/garden-tar
  bin/garden-version
  features/_slim/garden-slimify
  features/base/exec.config
  hack/raspbian.sh
  hack/steamos.sh
  hack/ubuntu.sh
Labels: size/m
