Repository gardenlinux/gardenlinux, pull requests merged in 2020-10, with the labels that each got.

#148 libvirt example
  hack/kvmvirt.xml
Labels: size/m

#150 moved the quota creation after the disk buildout
  bin/makef.sh
Labels: needs/review, size/xs

#154 Fix build problem if build directory .build does not exist
  Makefile
Labels: needs/review, size/xs

#149 just some typos
  README.md
Labels: reviewed/lgtm, size/xs

#118 Refactor integrationtests pipeline
  ci/integrationtests/pipeline.yaml
  ci/integrationtests/pipelineresource.yaml
  ci/integrationtests/pipelinerun.yaml
  ci/integrationtests/task.yaml
  ci/integrationtests/taskrun.yaml
  tests/integration/gcp.py
  tests/test_config.yaml
Labels: lifecycle/stale
