Repository gardenlinux/gardenlinux, pull requests merged in 2020-09, with the labels that each got.

#124 [Azure] Enable verbose logging for waagent
  features/azure/exec.config
Labels: platform/azure

#128 Increase the memlock ulimit to 64Mib
  features/gardener/file.include/etc/docker/daemon.json
Labels: reviewed/lgtm

#139 Bring back some changes
  features/azure/pkg.include
  features/cloud/exec.config
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/growroot.sh
Labels: needs/review
