Repository gardenlinux/gardenlinux, pull requests merged in 2020-12, with the labels that each got.

#181 Update github PR template
  .github/pull_request_template.md
Labels: needs/review, os/garden-linux, size/xs

#183 Anvil
  .dockerignore
  Makefile
  features/cloud-anvil/exec.config
  features/cloud-anvil/file.include/etc/default/grub.d/cmdline.cfg
  features/cloud-anvil/file.include/etc/default/grub.d/default.cfg
  features/cloud-anvil/file.include/etc/default/grub.d/device.cfg
  features/cloud-anvil/file.include/etc/default/grub.d/distributor.cfg
  features/cloud-anvil/file.include/etc/default/grub.d/enable-swap-cgroup-accounting.cfg
  features/cloud-anvil/file.include/etc/default/grub.d/serial.cfg
  features/cloud-anvil/file.include/etc/default/grub.d/timeout.cfg
  features/cloud-anvil/file.include/etc/kernel-img.conf
  features/cloud-anvil/file.include/etc/profile.d/50-autologout.sh
  features/cloud-anvil/file.include/etc/ssh/ssh_config
  features/cloud-anvil/file.include/etc/ssh/sshd_config
  features/cloud-anvil/file.include/etc/sysctl.d/20-cloud.conf
  features/cloud-anvil/file.include/usr/lib/dracut/modules.d/98gardenlinux/grow-root.sh.old
  features/cloud-anvil/file.include/usr/lib/dracut/modules.d/98gardenlinux/growroot.sh
  features/cloud-anvil/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/cloud-anvil/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.service
  features/cloud-anvil/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
  features/cloud-anvil/file.include/usr/share/pam-configs/garden
  features/cloud-anvil/info.yaml
  features/cloud-anvil/pkg.include
  features/cloud-anvil/test/helpers
  features/cloud-anvil/test/pam_cracklib
  features/cloud-anvil/test/pam_tally
  features/cloud-anvil/test/ssh_expected
  features/cloud-anvil/test/ssh_not_expected
  features/cloud-anvil/test/sshd
  features/cloud-anvil/test/sshd.chroot
  features/cloud-anvil/test/tmout
  features/cloud-anvil/test/tmout.chroot
  features/cloud-anvil/test/umask
  features/server/exec.config
  packages/linux
  packages/python3.8
  packages/python3.8.patch
Labels: needs/review, needs/second-opinion, size/xl

#182 Add WireGuard support
  features/cloud/exec.config
Labels: needs/review, size/xs

#184 Temp fix for usr mount service
  features/cloud-anvil/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
Labels: needs/review, size/xs

#180 Updates for PXE
  bin/.boot.pxe
  bin/start-vm
  features/_pxe/exec.config
  features/_pxe/file.include/etc/initramfs-tools/modules
  features/_pxe/file.include/etc/initramfs-tools/scripts/init-bottom/root-ro
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/is-live-image.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.service
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-overlay-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-sysroot-generator.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/net-module-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/sd-module-setup.sh
  features/_pxe/image
  features/_pxe/pkg.include
Labels: needs/review, needs/second-opinion, size/xl

#185 PXE bug fixes
  bin/.boot.pxe
  bin/start-vm
  features/_pxe/exec.config
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.service
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/sd-module-setup.sh
Labels: needs/review, size/s
