Repository gardenlinux/gardenlinux, pull requests merged in 2021-11, with the labels that each got.

#455 Openstack tests to use floating ips
  tests/integration/openstackccee.py
  tests/integration/util.py
Labels: area/os, kind/test, reviewed/lgtm, size/m, os/garden-linux

#466 replace makef.sh with makepart and makedisk
  bin/garden-build.sh
  bin/makedisk
  bin/makef.sh
  bin/makef.sh.ro
  bin/makeimg.sh
  bin/makepart
  features/ali/fstab
  features/ali/image
  features/aws/fstab
  features/aws/image
  features/azure/fstab
  features/azure/image
  features/gcp/fstab
  features/gcp/image
  features/kvm/fstab
  features/kvm/image
  features/metal/fstab
  features/metal/image
  features/openstack/fstab
  features/openstack/image
  features/vmware/fstab
  features/vmware/image
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, needs/second-opinion, size/xl, os/garden-linux

#467 Remove all usr related services/scripts from dracut module
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr-fsck.service
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr.mount
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.service
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr-fsck.service
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr.mount
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.service
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#469 CI: Don't build cfssl from scratch for every build
  cert/Makefile
  ci/params.py
  ci/render_all.py
  ci/render_pipeline_run.py
  ci/render_pipelines_and_trigger_job
  ci/render_task.py
  ci/steps.py
  ci/steps/build_cert.sh
  ci/steps/build_cfssl.sh
  ci/tasks.py
  docker/build/Dockerfile
  docker/build/install-cfssl.sh
Labels: needs/review, reviewed/do-not-merge, size/m

#468 Align fstab columns
  bin/makepart
  docker/build-image/Dockerfile
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, size/xs, os/garden-linux

#461 test(manual): allow tests on prepared hosts
  tests/README.md
  tests/integration/manual.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#459 Always upload component-descriptor (if configured)
  ci/steps/component_descriptor.py
Labels: needs/review, size/xs

#473 Remove remnants of cfssl-build from central pipeline
  ci/render_all.py
  ci/render_pipelines_and_trigger_job
  ci/render_task.py
  ci/steps.py
  ci/steps/build_cert.sh
  ci/steps/build_cfssl.sh
  ci/tasks.py
Labels: needs/review, size/m

#474 remove debootstrap.patch
  docker/build-image/Dockerfile
  docker/build-image/debootstrap.patch
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#480 reordering exec files. closes #462
  bin/.init-excludes
  bin/garden-config
  bin/garden-init
  features/_dev/exec.config
  features/_pxe/exec.config
  features/ali/exec.config
  features/aws/exec.config
  features/azure/exec.config
  features/base/exec.config
  features/chost/exec.config
  features/cloud/exec.config
  features/example/exec.before
  features/example/exec.config
  features/example/exec.post
  features/example/exec.pre
  features/example/feature.exclude
  features/example/feature.include
  features/gardener/exec.config
  features/gcp/exec.config
  features/khost/exec.config
  features/metal/exec.config
  features/openstack/exec.config
  features/pkg.exclude
  features/server/exec.config
  features/server/exec.post
  features/vmware/exec.config
Labels: needs/review, size/m

#477 Restructure, Cleanup and Prepend Hugo front matter
  docs/TODO.txt
  docs/deployment/install-non-default.md
  docs/deployment/openstack.md
  docs/deployment/vmware-ova.md
  docs/features.txt
  docs/flags.txt
  docs/oci.txt
  docs/os-release.txt
  docs/release.txt
  docs/releases.md
  docs/secureboot.txt
Labels: area/documentation, needs/review, needs/second-opinion, size/l

#482 Vagrant
  hack/local-vm-workstation/.gitignore
  hack/local-vm-workstation/README.md
  hack/local-vm-workstation/Vagrantfile
  hack/local-vm-workstation/deps.list
  hack/local-vm-workstation/init.sh
Labels: kind/enhancement, needs/review, size/s

#483 Moved vmware.ovf.template
  docs/deployment/vmware-ova.md
  features/vmware/image
  features/vmware/vmware.ovf.template
Labels: kind/cleanup, needs/review, needs/second-opinion, size/xs

#485 makepart: fix bootctl not working if /tmp is not mounted as a tmpfs
  bin/makepart
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#486 Update Dockerfile
  docker/build/Dockerfile
Labels: needs/review, size/xs

#481 Ci publishing action onstable
  .ci/pipeline_definitions
  ci/README.md
  ci/glci/model.py
  ci/lib.sh
  ci/params.py
  ci/promote.py
  ci/render_pipeline_run.py
  ci/render_pipelines_and_trigger_job
  ci/steps.py
  ci/steps/attach_logs.py
  ci/steps/build_base_image.py
  ci/steps/component_descriptor.py
  ci/steps/pre_build_step.py
  ci/steps/pre_check_tests.py
  ci/steps/promote_step.py
  ci/steps/release_step.py
  ci/steps/run_tests.py
  ci/steps/upload_results_step.py
  ci/steps/upload_test_results.py
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/l, os/garden-linux

#484 test(azure): switch Azure tests to Azure Python SDK
  docker/integration-test/Dockerfile
  tests/Pipfile
  tests/Pipfile.lock
  tests/integration/azure.py
Labels: area/os, kind/test, needs/review, needs/second-opinion, size/xl, os/garden-linux

#487 Ci: Move each branches pipelines to their own namespace
  ci/cleanup_namespaces
  ci/lib.sh
  ci/render_pipelines_and_trigger_job
Labels: needs/review, size/m

#478 Prepare pipeline for tekton-upgrade
  ci/render_task.py
  ci/steps/build_kernel_package.sh
  ci/steps/build_package.sh
  ci/steps/clone_repo_step.py
  ci/tasks.py
Labels: needs/review, size/s

#488 Added documentation for iPXE installation process
  docs/deployment/ipxe-install.md
  docs/deployment/svg/firstboot.svg
  docs/deployment/svg/subsboots.svg
  examples/ipxe-install/boot.ipxe
  examples/ipxe-install/ignition.yaml
  examples/ipxe-install/install.yaml
Labels: needs/review, needs/second-opinion, size/l

#475 Initial Doc for Kernel Integration
  docs/kernel.md
Labels: area/documentation, needs/review, size/s

#489 docs: Conventional commits in contribution guidelines
  CONTRIBUTING.md
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, size/xs, os/garden-linux

#490 packages: fix cyrus-sasl2 build
  packages/manual/cyrus-sasl2
Labels: area/os, kind/bug, needs/lgtm, needs/review, size/xs, os/garden-linux

#472 solves issue 471: CII badge added to README.md
  README.md
Labels: reviewed/lgtm, size/xs, os/garden-linux

#499 Rename to SECURITY.md to be better surfaced by GitHub
  SECURITY.md
Labels: area/documentation, area/open-source, area/security, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#497 Ci: also notify via slack for build failures.
  ci/cicd.yaml
  ci/glci/model.py
  ci/steps/notify.py
Labels: needs/review, size/s

#498 Ci improve
  ci/render_pipeline_run.py
  ci/render_pipelines.py
  ci/steps.py
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#502 Update readme.txt
  features/cis/test/readme.txt
Labels: needs/review, size/xs

#503 fix: make sure build container is based on bullseye for 318 release branch
  docker/needslim
Labels: area/os, kind/regression, needs/lgtm, needs/review, size/xs, os/garden-linux

#504 docker/Makefile: no longer depending on host having dpkg
  docker/Makefile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#505 Update iproute2 to 5.15
  features/server/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#506 Add test for administrative accounts
  features/_dev/test/groups.chroot
  features/_dev/test/groups.d/groups.list
  features/base/test/groups.chroot
  features/base/test/groups.d/groups.list
  features/gardener/test/groups.chroot
  features/gardener/test/groups.d/groups.list
Labels: area/os, kind/test, needs/lgtm, needs/review, size/s, os/garden-linux

#507 preparing slim
  bin/garden-build.sh
  build.sh
  docker/base/create.sh
  docs/kernel.md
  hack/garden-feat/Makefile
  hack/garden-feat/go.mod
  hack/garden-feat/go.sum
  packages/manual/linux-5.10.d/fpga-config.patch
Labels: needs/review, size/m

#508 Fix for administrative users test
  features/_dev/test/groups.d/groups.list
  features/base/test/groups.chroot
Labels: area/os, kind/bug, needs/lgtm, needs/review, size/xs, os/garden-linux

#509 Remove features from /tmp
  bin/garden-config
Labels: area/os, kind/bug, needs/lgtm, needs/review, size/xs, os/garden-linux

#510 Copy only the tests that run in a chroot
  bin/garden-build.sh
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, size/xs, os/garden-linux

#514 Prevent Slack-messages from main-branch dev-pipelines
  ci/steps/notify.py
Labels: needs/review, size/xs

#515 feature descriptor optimization
  .gitignore
  Makefile
  bin/.constants.sh
  bin/garden-build
  bin/garden-config
  bin/garden-init
  build.sh
  ci/steps/build_base_image.py
  docker/Makefile
  docker/build-image/Dockerfile
Labels: needs/review, size/m

#500 Ci: report pipeline-status to commit
  ci/glci/github.py
  ci/render_pipelines.py
  ci/steps.py
  ci/steps/notify.py
  ci/steps/update_status.py
  ci/tasks.py
Labels: needs/review, size/m

#520 feat: updated linux-5.4 kernel to 5.4.154
  packages/manual/linux-5.4
  packages/manual/linux-5.4.d/VERSION
  packages/manual/linux-5.4.d/patches/debian/0003-MODSIGN.patch
  packages/manual/linux-5.4.d/patches/debian/fs-add.patch
  packages/manual/linux-5.4.d/patches/debian/fuzz.patch
  packages/manual/linux-5.4.d/patches/debian/relax.patch
  packages/manual/linux-5.4.d/patches/debian/series.patch
  packages/manual/linux-5.4.d/patches/debian/version.patch
  packages/manual/linux-5.4.d/patches/environment/analogix.patch
  packages/manual/linux-5.4.d/patches/environment/builderror.patch
  packages/manual/linux-5.4.d/patches/environment/cpupower.patch
  packages/manual/linux-5.4.d/patches/environment/missinglds.patch
  packages/manual/linux-5.4.d/patches/environment/python3-dev.patch
  packages/manual/linux-5.4.d/patches/environment/scsi_common.patch
  packages/manual/linux-5.4.d/patches/series
  packages/manual/linux-5.4.d/rt0133.patch
  packages/manual/linux-5.4.d/udev.patch
Labels: needs/review, needs/second-opinion, size/l

#519 Start-vm - fetch files via http when pxebooting
  Makefile
  bin/start-vm
  examples/ipxe/start-vm.ipxe
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#517 Proper sftp-server path in sshd_config
  features/server/file.include/etc/ssh/sshd_config
  features/server/test/sshd.d/ssh_expected
Labels: area/os, kind/bug, needs/lgtm, needs/review, size/xs, os/garden-linux

#518 test(aws): refactoring of AWS test environment with tags for automation
  tests/integration/aws.py
Labels: area/os, kind/test, needs/lgtm, needs/second-opinion, size/xl, os/garden-linux

#524 remove -ti from all docker runs except for manual builds
  bin/Makefile
  cert/Makefile
  packages/Makefile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#526 LTS is 5.15
  README.md
Labels: needs/review, size/xs

#527 remove column x86 binary from server file.include and replace with bsdextrautils package
  features/server/file.include/usr/bin/column
  features/server/pkg.include
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#528 fix: allow /dev/shm/* in rkhunter conf
  features/base/test/rkhunter.d/rkhunter.conf
Labels: needs/review, size/xs

#522 Use serial console as default output for cloud
  features/cloud/file.include/etc/kernel/cmdline.d/00-default.cfg
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#533 test(aws): parameter and key generation
  tests/README.md
  tests/integration/aws.py
Labels: area/os, kind/test, needs/lgtm, needs/review, size/s, os/garden-linux

#532 test(azure): parameter and key generation
  tests/README.md
  tests/integration/azure.py
  tests/integration/sshclient.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#531 Remove hardcoded path for /boot/efi
  features/cloud/file.include/etc/kernel/postinst.d/zz-kernel-install
  features/cloud/file.include/usr/lib/kernel/install.d/95-unified.install
  features/metal/file.include/etc/kernel/postinst.d/zz-kernel-install
  features/metal/file.include/usr/lib/kernel/install.d/95-unified.install
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#525 Support PRs from forks
  ci/params.py
  ci/render_pipeline_run.py
  ci/render_pipelines_and_trigger_job
  ci/steps.py
  ci/steps/clone_repo_step.py
  ci/steps/notify.py
Labels: needs/ok-to-test, needs/review, size/s
