Repository gardenlinux/gardenlinux, pull requests merged in 2021-07, with the labels that each got.

#278 Error notifications
  ci/render_local.sh
  ci/render_pipeline_run.py
  ci/render_pipelines.py
  ci/render_task.py
  ci/steps.py
  ci/steps/get_logs.py
  ci/steps/notify.py
  ci/tasks.py
  ci/templates/email_notification.html
  ci/tkn/model.py
Labels: area/os, needs/changes, needs/review, needs/second-opinion, os/garden-linux, size/xl

#279 Ci fix
  ci/render_pipeline_run.py
  ci/render_pipelines.py
  ci/steps/notify.py
  ci/tkn/model.py
Labels: area/os, kind/bug, needs/review, os/garden-linux, size/s

#281 ci: Concourse split build and disable notifications
  .ci/clean_build_result_repositories
  .ci/pipeline_definitions
  .ci/run_integration_tests
  ci/lib.sh
  ci/render_pipelines_and_trigger_job
Labels: area/os, needs/review, os/garden-linux, size/s

#282 Sign centrally build packages
  bin/.snapshot-url.sh
  ci/render_pipeline_run.py
  ci/render_task.py
  ci/steps.py
  ci/steps/build_cert.sh
  ci/steps/build_cfssl.sh
  ci/steps/build_kernel_package.sh
  ci/steps/build_package.sh
  ci/steps/write_key.py
  ci/tasks.py
  packages/manual/linux-5.10
  packages/manual/linux-5.10-signed
  packages/manual/linux-5.10.d/sign-helper
Labels: needs/review, needs/second-opinion, size/xl

#284 External build
  README.md
  ci/README.md
  ci/cfg/aws.yaml
  ci/cfg/cfg_types.yaml
  ci/cfg/container_registry.yaml
  ci/cfg/email.yaml
  ci/cfg/github.yaml
  ci/render_local.sh
  ci/render_task.py
  ci/steps.py
  ci/tasks.py
  ci/tkn/model.py
Labels: area/os, kind/enhancement, needs/review, needs/second-opinion, os/garden-linux, size/l

#292 Replace package rng-tools-debian with rng-tools5
  features/cloud/pkg.include
  features/gcp/pkg.include
  features/kvm/pkg.include
Labels: area/os, kind/technical-debt, needs/review, os/garden-linux, size/xs

#215 avoid setting ENV DEBIAN_FRONTEND in Dockerfiles
  docker/build-image/Dockerfile
  docker/build/Dockerfile
  repository/Dockerfile
  snapshot/Dockerfile
Labels: area/os, kind/cleanup, lifecycle/rotten, needs/review, os/garden-linux, size/xs
