Repository gardenlinux/gardenlinux, pull requests merged in 2021-12, with the labels that each got.

#535 Expect ping to have capabilities in pxe as well
  features/_pxe/test/capabilities.d/capabilities.list
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#534 Remove unused gdisk
  features/_pxe/pkg.include
Labels: area/os, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#539 Use merged-/usr
  bin/garden-build
  bin/garden-init
  features/_pxe/test/capabilities.d/capabilities.list
  features/base/test/rkhunter.d/rkhunter.conf
  features/base/test/suid.d/suid.list
  features/server/exec.config
  features/server/file.include/usr/lib/systemd/system/dbus.socket
  features/server/test/capabilities.d/capabilities.list
  hack/raspbian.sh
  hack/steamos.sh
  hack/ubuntu.sh
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#537 tests(aws): provide a script to find and clean orphaned test resources
  tests/tools/clean_orphans_aws.py
Labels: area/os, kind/technical-debt, needs/review, size/m, os/garden-linux

#536 Remove not referenced perl build
  packages/manual/perl
  packages/manual/perl.d/libdb.patch
Labels: area/os, kind/cleanup, needs/lgtm, needs/review, size/s, os/garden-linux

#512 CI fix release
  ci/github_release.py
  ci/glci/model.py
  ci/release.py
  ci/steps.py
  ci/steps/release_step.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/m, os/garden-linux

#547 feat: lkm build container
  docker/Makefile
  docker/build-kernelmodule/.gitignore
  docker/build-kernelmodule/Dockerfile
  docs/build/driver.md
Labels: needs/review, size/s

#546 test(azure): upload test images directly from S3
  tests/integration/azure.py
Labels: area/os, kind/test, reviewed/lgtm, size/s, os/garden-linux

#538 Reproducible disk images without loopback devices
  bin/garden-build
  bin/garden-config
  bin/makedisk
  bin/makepart
  build.sh
  docker/build-image/Dockerfile
  features/cloud/exec.config
  features/cloud/exec.post
  features/metal/exec.config
  features/metal/exec.post
  features/server/exec.config
  features/server/exec.post
  features/server/file.include/etc/dracut.conf.d/30-secureboot.conf
  features/server/pkg.include
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux

#551 test: remove default configuration file
  tests/test_config.yaml
Labels: area/os, kind/cleanup, reviewed/lgtm, size/s, os/garden-linux

#550 FIX: deps for DKMS in kernelmodule container
  docker/build-kernelmodule/Dockerfile
Labels: needs/review, size/xs

#552 re-add lost template for github release
  ci/release.py
  ci/templates/github_release.md
Labels: area/os, needs/review, size/s, os/garden-linux

#553 Cherry-pick last release
  bin/garden-config
  features/cloud/pkg.include
  features/metal/pkg.include
  packages/manual/linux-5.10
  packages/manual/linux-5.10-signed
  packages/manual/linux-5.10.d/VERSION
  packages/manual/linux-5.10.d/android.patch
  packages/manual/linux-5.10.d/perf-pmu.patch
  packages/manual/linux-5.10.d/series.patch
  packages/manual/linux-5.4-signed
Labels: needs/review, size/m

#554 Test aws ena
  tests/integration/aws.py
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#555 Do not remove full /var/log
  bin/makepart
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#521 Boot unified linux image without systemd-boot
  bin/makepart
  features/cloud/exec.config
  features/cloud/exec.post
  features/metal/exec.config
  features/metal/exec.post
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#557 unprivileged build
  build.sh
  features/base/test/tiger.d/tigerrc
Labels: kind/enhancement, area/os, needs/lgtm, size/xs, os/garden-linux

#559 Dracut - new modules and fixes
  packages/manual/dracut
  packages/manual/dracut.d/dracut-core.install.patch
  packages/manual/dracut.d/dracut-files.patch
  packages/manual/dracut.d/dracut-network.install.patch
  packages/manual/dracut.d/sysusers-configs.patch
  packages/manual/dracut.d/sysusers-override.patch
  packages/manual/dracut.d/tr.patch
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, size/m, os/garden-linux

#556 dm-verity support
  bin/makepart
  docker/build-image/Dockerfile
  features/kvm/fstab
  features/server/pkg.include
Labels: kind/enhancement, area/os, needs/ok-to-test, reviewed/lgtm, size/m, os/garden-linux

#375 Use own repository
  bin/.snapshot-url.sh
  bin/garden-build
  bin/garden-debian-sources-list
  bin/garden-init
  build.sh
  features/_pxe/pkg.include
  features/azure/pkg.include
  features/cloud/exec.config
  features/cloud/pkg.include
  features/gcp/pkg.include
  features/metal/exec.config
  features/metal/pkg.include
  features/server/pkg.include
  gardenlinux.asc
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/l, os/garden-linux

#562 Azure sig
  ci/cicd.yaml
  ci/glci/az.py
  ci/glci/model.py
  ci/promote.py
Labels: kind/enhancement, area/os, needs/rebase, needs/review, needs/second-opinion, size/l, os/garden-linux

#566 feat(aws debug): simple serial console dump script
  tests/Pipfile
  tests/Pipfile.lock
  tests/tools/dump_console.py
Labels: needs/review, needs/second-opinion, size/xl

#567 Ci notify fix
  ci/logs.py
  ci/params.py
  ci/render_pipelines.py
  ci/steps.py
  ci/steps/attach_logs.py
  ci/steps/get_logs.py
  ci/steps/notify.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux

#570 Ci: Rename "flavourset" parameter
  bin/.cicd-cli.py
  ci/github_release.py
  ci/glci/util.py
  ci/params.py
  ci/promote.py
  ci/steps.py
  ci/steps/attach_logs.py
  ci/steps/promote_step.py
  ci/steps/release_step.py
Labels: needs/changes, needs/review, needs/second-opinion, size/s, size/xl

#568 Add Additional Resources to Component-Descriptor
  ci/steps.py
  ci/steps/component_descriptor.py
Labels: needs/review, needs/second-opinion, size/m

#572 Ci: consistently use logging
  ci/build_kaniko.py
  ci/clean.py
  ci/glci/aws.py
  ci/glci/model.py
  ci/glci/util.py
  ci/logs.py
  ci/promote.py
  ci/release.py
  ci/render_pipeline_run.py
  ci/render_pipelines.py
  ci/render_task.py
  ci/steps.py
  ci/steps/attach_logs.py
  ci/steps/build_base_image.py
  ci/steps/clone_repo_step.py
  ci/steps/clone_simple_step.py
  ci/steps/component_descriptor.py
  ci/steps/notify.py
  ci/steps/pre_build_step.py
  ci/steps/pre_check_tests.py
  ci/steps/promote_step.py
  ci/steps/release_step.py
  ci/steps/run_tests.py
  ci/steps/upload_results_step.py
  ci/steps/upload_test_results.py
  ci/tkn/model.py
  ci/tkn/util.py
  ci/wait_for_pipelinerun.py
Labels: needs/review, needs/second-opinion, size/xl
