Repository gardenlinux/gardenlinux, pull requests merged in 2021-08, with the labels that each got.

#297 Add dev folder to gitignore
  .gitignore
Labels: area/os, kind/cleanup, needs/review, os/garden-linux, size/xs

#296 noninteractive pam-auth update
  features/cloud/exec.config
Labels: needs/review, size/xs

#293 Add docker volume for build (and logs)
  bin/garden-build.sh
  build.sh
Labels: needs/review, size/s

#298 Add step publishing Component Descriptor
  ci/glci/alicloud.py
  ci/glci/aws.py
  ci/glci/az.py
  ci/glci/gcp.py
  ci/glci/model.py
  ci/glci/openstack_image.py
  ci/glci/util.py
  ci/promote.py
  ci/render_pipeline_run.py
  ci/render_pipelines_and_trigger_job
  ci/render_task.py
  ci/steps.py
  ci/steps/component_descriptor.py
  ci/tasks.py
Labels: needs/review, needs/second-opinion, size/l

#299 Annotate package patches
  docker/build-image/debootstrap.patch
  packages/manual/dracut.d/noperl.patch
Labels: area/os, needs/review, size/xs, os/garden-linux

#300 chost feature - memlock limit for containerd
  features/chost/file.include/etc/systemd/system/containerd.service.d/override.conf
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#301 Fpga
  examples/ignition/install.sh
  packages/Makefile
  packages/manual/linux-5.10
  packages/manual/linux-5.10-signed
  packages/manual/linux-5.10.d/VERSION
  packages/manual/linux-5.10.d/changelog
  packages/manual/linux-5.10.d/fpga-config.patch
  packages/manual/linux-5.10.d/fpga-ofs.patch
  packages/manual/linux-5.10.d/gpgkeys
  packages/manual/linux-5.10.d/mok.patch
  packages/manual/linux-5.10.d/series.patch
  packages/manual/linux-5.10.d/sign-helper
Labels: area/os, os/garden-linux

#304 Small fixes
  bin/garden-build.sh
  bin/garden-config
  bin/garden-init
  features/base/exec.config
  features/base/test/debsums.chroot
  features/base/test/orphaned.chroot
  features/base/test/packages-musthave.chroot
  features/base/test/password-hashes
  features/base/test/tiger.chroot
  features/base/test/tiger.d/tigerrc
  features/server/exec.config
  features/server/test/machine_id
  features/server/test/tiger.chroot
  features/server/test/tiger.d/tigerrc
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#305 keep the tar output for the pipelines
  bin/garden-build.sh
Labels: area/os, needs/review, size/xs, os/garden-linux

#306 Fix pipeline build
  bin/garden-build.sh
  ci/steps/build_image.sh
  ci/steps/upload_results_step.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#307 Keep the order of features
  bin/.constants.sh
  bin/garden-build.sh
  bin/garden-config
  bin/garden-init
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#311 Fix metal feature / gl dracut module
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr-fsck.service
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr.mount
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#312 ci: fix broken build consider run_tests publishing action correctly
  ci/steps.py
  ci/steps/pre_check_tests.py
  ci/steps/run_tests.py
  ci/steps/upload_test_results.py
  ci/tasks.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#314 ci: improve command line tools for finding manifests
  bin/.cicd-cli.py
Labels: kind/enhancement, area/os, needs/ok-to-test, needs/review, size/m, os/garden-linux
