Repository gardenlinux/gardenlinux, pull requests merged in 2021-04, with the labels that each got.

#225 Small test fixes
  features/server/test/helpers
  features/server/test/packages_musthave.chroot
  features/server/test/rkhunter
  features/server/test/rkhunter.chroot
Labels: needs/review, size/xs

#224 Merge of rel 318
  Makefile
  features/ali/exec.config
  features/aws/file.include/etc/default/grub.d/70-nvme.cfg
  features/aws/file.include/etc/default/grub.d/clocksource.cfg
  features/azure/exec.config
  features/azure/pkg.include
  features/cloud/file.include/etc/default/grub.d/00-cmdline.cfg
  features/cloud/file.include/etc/default/grub.d/10-default.cfg
  features/cloud/file.include/etc/default/grub.d/20-device.cfg
  features/cloud/file.include/etc/default/grub.d/30-distributor.cfg
  features/cloud/file.include/etc/default/grub.d/40-enable-swap-cgroup-accounting.cfg
  features/cloud/file.include/etc/default/grub.d/50-serial.cfg
  features/cloud/file.include/etc/default/grub.d/60-timeout.cfg
  features/gardener/file.include/etc/default/grub.d/80-cgroup.cfg
  features/gardener/file.include/etc/docker/daemon.json
  features/gcp/file.include/etc/default/grub.d/00-cmdline.cfg
  features/server/exec.config
  features/server/pkg.include
Labels: area/os, kind/enhancement, needs/review, os/garden-linux, size/s

#223 Configure recipients for azure publishing-notifications
  ci/cicd.yaml
  ci/glci/az.py
  ci/glci/model.py
  ci/promote.py
Labels: needs/review, size/xs

#229 add default make target
  Makefile
Labels: area/os, kind/cleanup, needs/review, os/garden-linux, size/xs

#230 add newer image to pipeline build job
  ci/build-task.yaml.template
Labels: area/os, kind/enhancement, needs/review, os/garden-linux, size/xs

#228 Remove cloud-init leftover
  features/azure/file.include/etc/cloud/cloud.cfg.d/91_azure_datasource.cfg
Labels: area/os, needs/review, os/garden-linux, size/xs

#227 move declaration of tmp variable out of conditional
  bin/garden-init
Labels: area/os, kind/bug, needs/review, os/garden-linux, size/xs

#233 tests - allow for uninitialized machine-id
  features/server/test/machine_id
Labels: area/os, needs/review, os/garden-linux, size/xs

#232 Makefile fixes and Ali fix
  Makefile
  features/ali/pkg.include
Labels: area/os, kind/bug, needs/review, os/garden-linux, size/xs

#243 Overwrite waagent config after it is installed
  features/azure/exec.config
Labels: area/os, kind/bug, os/garden-linux, priority/5, reviewed/lgtm, size/xs

#244 [rel-318] Automated cherry pick of #243: Overwrite waagent config after it is installed
  features/azure/exec.config
Labels: needs/review, size/xs

#245 Temporary hard-code the version of GL to 318.4 in /etc/os-release
  bin/garden-build.sh
Labels: area/os, needs/review, os/garden-linux, size/xs

#250 PXE - set DefaultDependencies to no
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.service
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-overlay-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-sysroot-generator.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/squash-mount-generator.sh
Labels: needs/review, size/xs
