Repository gardenlinux/gardenlinux, pull requests merged in 2021-09, with the labels that each got.

#339 Add syslinux support
  bin/makef.sh
  features/_pxe/exec.config
  features/ali/image
  features/aws/file.include/etc/default/grub.d/70-nvme.cfg
  features/aws/file.include/etc/kernel/cmdline.d/70-nvme.cfg
  features/aws/image
  features/azure/image
  features/cloud/exec.config
  features/cloud/file.include/etc/default/grub.d/00-cmdline.cfg
  features/cloud/file.include/etc/default/grub.d/10-default.cfg
  features/cloud/file.include/etc/default/grub.d/20-device.cfg
  features/cloud/file.include/etc/default/grub.d/30-distributor.cfg
  features/cloud/file.include/etc/default/grub.d/40-enable-swap-cgroup-accounting.cfg
  features/cloud/file.include/etc/default/grub.d/50-serial.cfg
  features/cloud/file.include/etc/default/grub.d/60-timeout.cfg
  features/cloud/file.include/etc/kernel/cmdline.d/00-default.cfg
  features/cloud/file.include/etc/kernel/cmdline.d/40-enable-swap-cgroup-accounting.cfg
  features/cloud/file.include/etc/kernel/cmdline.d/60-timeout.cfg
  features/cloud/file.include/etc/kernel/cmdline.d/70-nvme.cfg
  features/cloud/file.include/etc/kernel/cmdline.d/80-cgroup.cfg
  features/cloud/file.include/etc/kernel/postinst.d/zz-kernel-cmdline
  features/cloud/file.include/etc/kernel/postinst.d/zz-kernel-install
  features/cloud/file.include/etc/kernel/postinst.d/zz-update-syslinux
  features/cloud/file.include/etc/kernel/postrm.d/zz-kernel-remove
  features/cloud/file.include/etc/kernel/postrm.d/zz-update-syslinux
  features/cloud/file.include/usr/local/sbin/update-bootloaders
  features/cloud/file.include/usr/local/sbin/update-kernel-cmdline
  features/cloud/file.include/usr/local/sbin/update-syslinux
  features/cloud/pkg.include
  features/gardener/file.include/etc/default/grub.d/80-cgroup.cfg
  features/gardener/file.include/etc/kernel/cmdline.d/80-cgroup.cfg
  features/gcp/file.include/etc/default/grub.d/00-cmdline.cfg
  features/gcp/file.include/etc/kernel/cmdline.d/00-cmdline.cfg
  features/gcp/image
  features/kvm/image
  features/kvm/pkg.include
  features/metal/exec.config
  features/metal/file.include/etc/kernel/cmdline
  features/metal/file.include/etc/kernel/cmdline.d/00-default.cfg
  features/metal/file.include/etc/kernel/postinst.d/zz-update-syslinux
  features/metal/file.include/etc/kernel/postrm.d/zz-kernel-remove
  features/metal/file.include/etc/kernel/postrm.d/zz-update-syslinux
  features/metal/file.include/usr/local/sbin/update-bootloaders
  features/metal/file.include/usr/local/sbin/update-kernel-cmdline
  features/metal/file.include/usr/local/sbin/update-syslinux
  features/metal/image
  features/metal/pkg.include
  features/openstack/image
  features/vmware/image
Labels: needs/review, needs/second-opinion, size/l

#343 ci: small typo-like fixes
  ci/glci/model.py
  ci/steps/notify.py
Labels: area/os, needs/review, os/garden-linux

#341 Fixes Problem where Azure VMs cannot resolve its own hostname
  features/azure/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#344 Azure clock source
  features/azure/exec.config
  features/azure/file.include/etc/chrony/chrony.conf
  features/azure/file.include/etc/udev/rules.d/60-udev-hyperv.rules
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#346 ci: add download option to retrieve_single_manifest cmd-line tool
  bin/.cicd-cli.py
Labels: area/os, needs/review, size/s, os/garden-linux

#351 Integration tests for Azure and AWS
  Makefile
  bin/azurewrapper.py
  bin/garden-version
  bin/make-azure-ami
  bin/make-ec2-ami
  bin/make-gcp-ami
  docker/Makefile
  docker/integration-test/Dockerfile
  tests/Pipfile
  tests/Pipfile.lock
  tests/README.md
  tests/integration/aws.py
  tests/integration/azure.py
  tests/integration/conftest.py
  tests/integration/gcp.py
  tests/integration/test_gardenlinux.py
  tests/run_full_test.py
Labels: area/os, kind/test, needs/review, needs/second-opinion, size/xl, os/garden-linux

#355 Clarify build result folder
  README.md
Labels: area/os, reviewed/lgtm, size/xs, os/garden-linux

#356 Dev build targets output
  Makefile
Labels: area/os, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#357 Add metal/metal-dev to add_prod/all_dev targets
  Makefile
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#358 fixes for dracut package
  packages/manual/dracut
  packages/manual/dracut.d/dracut-core.install.patch
  packages/manual/dracut.d/dracut-network.install.patch
Labels: area/os, needs/review, os/garden-linux

#363 Remove extra file
  features/aws/upload
  features/gcp/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#362 Fix NTP server for GCP
  features/gcp/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#361 Error out when tests are failing
  bin/garden-build.sh
  build.sh
Labels: area/os, needs/review, size/xs

#365 Add image upload functinality to GCP tests
  tests/Pipfile
  tests/Pipfile.lock
  tests/README.md
  tests/integration/gcp.py
  tests/integration/utild.py
Labels: area/os, kind/test, needs/review, needs/second-opinion, size/xl, os/garden-linux

#364 fix: delete all container images on make clean
  Makefile
Labels: area/os, kind/cleanup, needs/review, size/s, os/garden-linux

#354 activate overlay redirect_dir
  features/chost/file.include/overlay-redirect-dir.conf
Labels: area/os, needs/review, size/xs, os/garden-linux

#350 Install extra packages via apt
  bin/garden-init
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#309 Rebuild Ubuntu source package for google-guest-agent
  packages/manual/google-guest-agent
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#367 Update iproute2 and python3
  features/server/pkg.include
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#366 ci[aws]: add tags for image security scanning
  ci/glci/aws.py
Labels: area/os, kind/technical-debt, needs/lgtm, size/xs, os/garden-linux

#371 refactor(integration-tests): improve container for integration tests
  .gitignore
  docker/Makefile
  docker/integration-test/Dockerfile
  tests/Pipfile
  tests/Pipfile.lock
  tests/README.md
Labels: area/os, kind/cleanup, reviewed/lgtm, size/m, os/garden-linux

#368 Add security=selinux kernel parameter
  features/server/file.include/etc/kernel/cmdline.d/90-selinux.cfg
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#373 walinuxagent edit / switch to drop in
  features/azure/exec.config
  features/azure/file.include/etc/systemd/system/walinuxagent.service.d/10-startpost.conf
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#377 Azure integration tests
  tests/integration/azure.py
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, reviewed/lgtm, size/s, os/garden-linux

#374 AWS configuration integration test
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#380 Fix azure build and tests
  features/azure/exec.config
  features/azure/file.include/etc/systemd/system/walinuxagent.service.d/10-startpost.conf
  features/azure/pkg.exclude
  features/azure/pkg.include
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#370 Publish Built OCI-Images to GCR and Include Them in Component Descriptor
  ci/glci/oci.py
  ci/promote.py
  ci/steps.py
  ci/steps/component_descriptor.py
  ci/steps/upload_results_step.py
Labels: kind/enhancement, area/delivery, needs/changes, needs/review, needs/second-opinion, size/xl, os/garden-linux

#384 fix: add security tags to make-ec2-ami
  bin/make-ec2-ami
Labels: area/os, kind/cleanup, needs/lgtm, needs/review, size/xs, os/garden-linux

#383 Add waagent, other small fix
  packages/manual/google-guest-agent
  packages/manual/waagent
  packages/manual/waagent.d/networkctl
  packages/manual/waagent.d/tobytes
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#382 test!: several fixes and changes to the configuration files
  bin/make-azure-ami
  tests/integration/aws.py
  tests/integration/azure.py
  tests/integration/gcp.py
  tests/integration/sshclient.py
  tests/integration/test_gardenlinux.py
  tests/integration/util.py
  tests/run_full_test.py
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, needs/second-opinion, size/xl, os/garden-linux

#381 docs(integration-tests): comprehensive description of configuration files
  tests/README.md
Labels: area/os, kind/cleanup, needs/lgtm, needs/review, size/m, os/garden-linux

#369 Change dns server in resolv.conf to point to local revolver
  features/openstack/file.include/etc/systemd/system/systemd-resolved.service.d/resolv.conf
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#386 reenabling netcat for debugging
  features/gardener/pkg.include
Labels: needs/review, size/xs

#385 create .packages folder
  packages/Makefile
Labels: needs/review, size/xs

#290 vmware: Support cloud-init datasource GuestInfo
  features/vmware/file.include/etc/cloud/cloud.cfg.d/99_enabled-datasources.cfg
  features/vmware/file.include/usr/bin/dscheck_VMwareGuestInfo
  features/vmware/file.include/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceVMwareGuestInfo.py
  features/vmware/pkg.include
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/xl, os/garden-linux

#387 resolv.conf symlinks
  bin/garden-chroot
  features/openstack/file.include/etc/resolv.conf
  features/openstack/file.include/etc/systemd/system/systemd-resolved.service.d/resolv.conf
  features/server/file.include/etc/resolv.conf
  features/server/file.include/etc/systemd/system/systemd-resolved.service.d/resolv.conf
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, size/xs, os/garden-linux

#388 ci: undo model change b94ba0
  ci/glci/model.py
  ci/glci/util.py
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#391 Gardenlinux sticker svg
  logo/gardenlinux-sticker.svg
Labels: kind/enhancement, reviewed/lgtm, size/xl, os/garden-linux

#389 Add option to set tags for ec2 amis
  bin/make-ec2-ami
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#372 docs: clearly mention OpenStack reference implementation
  docs/openstack.md
  features/openstack/README.md
Labels: area/os, needs/changes, needs/review, size/xs, os/garden-linux

#392 bug: fix wrong function call in make-ec2-ami
  bin/make-ec2-ami
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#394 remove resolv.conf symlink from openstack
  features/openstack/file.include/etc/resolv.conf
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#395 Handle multiple paths for the kernel.full cert
  packages/manual/linux-5.10
Labels: needs/review, size/xs

#398 Configure correct datasource avoiding timeouts
  features/openstack/file.include/etc/cloud/cloud.cfg.d/50-datasource.cfg
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#396 Add CONTRIBUTING.md document
  CONTRIBUTING.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux
