Repository gardenlinux/gardenlinux, pull requests merged in 2021-02, with the labels that each got.

#198 PAM - switch to faillock from tally
  features/cloud/exec.config
  features/cloud/file.include/usr/share/pam-configs/garden
  features/cloud/file.include/usr/share/pam-configs/garden-extra
  features/cloud/test/pam_faillock
  features/cloud/test/pam_tally
Labels: needs/review, size/s

#199 PAM - typo in test
  features/cloud/test/pam_faillock
Labels: needs/review, size/xs

#200 Small PAM and test improvements
  features/cloud/exec.config
  features/cloud/file.include/usr/share/pam-configs/garden-extra
  features/server/test/debsums_exclude.list
  features/server/test/dev
  features/server/test/dev_files
  features/server/test/password_hashes
Labels: needs/review, size/xs

#201 Dracut - mount usr after fsck
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr-fsck.service
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/sysroot-usr.mount
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/usr-mount.sh
Labels: needs/review, size/s

#204 Change Docker cgroup driver back to cgroupfs
  features/gardener/file.include/etc/docker/daemon.json
Labels: area/os, needs/review, os/garden-linux, size/xs

#205 Add kernel parameter to disable cgroup v2 plus fixes
  VERSION
  features/aws/file.include/etc/default/grub.d/70-nvme.cfg
  features/aws/file.include/etc/default/grub.d/clocksource.cfg
  features/cloud/file.include/etc/default/grub.d/00-cmdline.cfg
  features/cloud/file.include/etc/default/grub.d/10-default.cfg
  features/cloud/file.include/etc/default/grub.d/20-device.cfg
  features/cloud/file.include/etc/default/grub.d/30-distributor.cfg
  features/cloud/file.include/etc/default/grub.d/40-enable-swap-cgroup-accounting.cfg
  features/cloud/file.include/etc/default/grub.d/50-serial.cfg
  features/cloud/file.include/etc/default/grub.d/60-timeout.cfg
  features/gardener/file.include/etc/default/grub.d/80-cgroup.cfg
Labels: area/os, needs/review, os/garden-linux, priority/normal, size/xs

#207 Fix openssl CVE-2021-23841 plus minor housekeeping
  VERSION
  bin/makef.sh
  features/cloud/exec.config
  features/server/exec.config
  features/server/pkg.include
Labels: area/os, needs/review, os/garden-linux, priority/normal, size/xs

#208 Ipmi
  bin/start-vm
  features/metal/image
  features/metal/pkg.include
Labels: needs/review, size/xs

#209 Pxe
  Makefile
  bin/start-vm
  features/_pxe/exec.config
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/net-module-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/sd-module-setup.sh
  packages/manual/dracut
  packages/manual/dracut.d/net-module-setup.patch
  packages/manual/dracut.d/sd-module-setup.patch
  packages/manual/ignition
  packages/manual/ignition.d/build.patch
Labels: needs/review, size/m
