Repository gardenlinux/gardenlinux, pull requests merged in 2021-06, with the labels that each got.

#254 Address several runc issues and security updates
  VERSION
  features/cloud/exec.config
  features/gardener/exec.config
  features/gardener/pkg.include
Labels: area/os, kind/bug, needs/review, os/garden-linux, size/xs

#259 Rel 318 cleanup
  features/ali/exec.config
  features/cloud/exec.config
  features/gardener/exec.config
Labels: area/os, needs/review, os/garden-linux, size/xs

#258 Fix reference to previous cloud-init version for ALI compatibility
  features/ali/exec.config
  features/ali/pkg.include
Labels: area/os, needs/review, os/garden-linux, size/xs

#260 Add test to make sure wireguard is installed
  features/cloud/test/packages
  features/cloud/test/packages.validate
Labels: area/os, needs/review, os/garden-linux, size/s

#261 Main test fixes
  Makefile
  bin/make-gcp-ami
  docker/Makefile
  docker/integration-test/Dockerfile
  tests/README.md
  tests/integration/aws.py
  tests/test_config.yaml
Labels: area/os, needs/review, os/garden-linux, size/s

#238 add support for a second mirror that serves gardlinux-specific packages.
  bin/.snapshot-url.sh
  bin/garden-init
Labels: area/os, kind/enhancement, lifecycle/rotten, needs/review, os/garden-linux, size/s

#262 Credativ kernel build improvements
  packages/manual/linux-5.10
  packages/manual/linux-5.4
Labels: area/os, needs/review, os/garden-linux, size/s

#265 Small fixes/improvements
  bin/garden-init
  features/khost/exec.config
Labels: needs/review, size/xs

#264 Install the hard-coded cloud-init version
  features/ali/exec.config
  features/ali/pkg.include
  flavours.yaml
Labels: area/os, kind/bug, needs/lgtm, needs/review, os/garden-linux, platform/alicloud, priority/1, size/xs

#269 Enable again aws, azure, gcp, openstack and vmware flavours
  flavours.yaml
Labels: area/os, kind/cleanup, lifecycle/stale, needs/review, os/garden-linux, priority/3, size/xs

#271 added kexec-tools to kvm feature
  features/kvm/pkg.include
Labels: area/os, needs/review, os/garden-linux, size/xs

#270 Prepare next dev version 318.9
  VERSION
Labels: area/os, needs/review, os/garden-linux, size/xs

#272 add ignition/install.yaml
  ignition/install.yaml
Labels: area/os, needs/review, os/garden-linux, size/m

#276 Packages - linux kernel package stick to defined debian version
  packages/manual/linux-5.10
Labels: needs/review, size/xs

#273 Update PR template
  .github/pull_request_template.md
Labels: area/os, kind/cleanup, needs/review, os/garden-linux, size/xs
