Repository gardenlinux/gardenlinux, pull requests merged in 2021-01, with the labels that each got.

#186 PXE verify hash of squashfs
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_pxe/image
Labels: needs/review, size/s

#188 Reproducibility fixes
  features/_pxe/exec.config
  features/cloud/exec.config
  features/server/exec.config
  features/server/file.include/etc/dracut.conf.d/general.conf
Labels: needs/review, size/xs

#189 repositories - remove https for repos that don't have it
  bin/garden-debian-sources-list
Labels: needs/review, size/xs

#190 Tests - skip tests when building
  bin/garden-build.sh
  build.sh
Labels: needs/review, size/xs

#191 mount options - add discard mount option for root/usr
  bin/makef.sh
Labels: needs/review, size/xs

#192 Add garden-feat
  features/_build/info.yaml
  features/_dev/info.yaml
  features/_ignite/info.yaml
  features/_nopkg/info.yaml
  features/_prod/info.yaml
  features/_pxe/info.yaml
  features/_readonly/info.yaml
  features/_slim/info.yaml
  features/base/info.yaml
  features/chost/info.yaml
  features/cloud-anvil/info.yaml
  features/cloud/info.yaml
  features/example/info.yaml
  features/gardener/info.yaml
  features/server/info.yaml
  features/vhost/info.yaml
  hack/garden-feat/garden-feat.go
  hack/garden-feat/go.mod
  hack/garden-feat/go.sum
Labels: needs/review

#194 Fix build failures
  Dockerfile
  Makefile
Labels: area/os, needs/review, os/garden-linux, priority/normal, size/s

#195 Stop build container on ctrl-c
  build.sh
Labels: needs/review, size/xs
