Repository gardenlinux/gardenlinux, pull requests merged in 2022-05, with the labels that each got.

#774 Migrate sshd test to pytest
  features/server/test/sshd.chroot
  features/server/test/sshd.d/ssh_not_expected
  features/server/test/sshd.d/sshd_expected
  features/server/test/sshd.d/sshd_not_expected
  features/server/test/test_sshd.py
  tests/helper/tests/sshd.py
  tests/helper/utils.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#845 remove deprecated net.ipv4.ip_forward, use net.ipv4.conf.all.forwardi…
  features/cis_sysctl/file.include/etc/sysctl.d/99-cis.conf
  features/cloud/file.include/etc/sysctl.d/20-cloud.conf
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#846 Migrate test `password` to PyTest
  features/base/test/password
  features/base/test/test_password_shadow.py
  features/cis/test/password_shadow.disable
  tests/helper/tests/password_shadow.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#848 migrate tiger.chroot test to pytest
  features/base/test/test_tiger.py
  features/base/test/tiger.chroot
  features/server/test/test_tiger.py
  features/server/test/tiger.chroot
  tests/helper/tests/tiger.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#847 Migrate legacy test `password-hashes` to PyTest
  features/base/test/password-hashes
  features/base/test/test_password_hashes.py
  tests/helper/tests/password_hashes.py
Labels: area/os, kind/test, needs/review, size/m, os/garden-linux

#850 Migrate legacy test `min-users` to PyTest
  features/base/test/min-users
  features/base/test/test_duplicate_uids.py
  tests/helper/tests/find_dup_uids.py
Labels: area/os, kind/test, needs/review, size/m, os/garden-linux

#851 migrate systemctl.chroot test to pytest
  features/server/test/systemctl.chroot
  features/server/test/test_systemctl.py
  tests/helper/tests/systemctl.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#844 feat(test): Adjust Garden Linux Repository File and Add Test for CIS
  bin/garden-debian-sources-list
  features/cis/test/check_scripts/1.2.2_ensure_apt_gpg_keys.sh
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#852 fix(doc): Adjusting the repo `README.md`
  README.md
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#855 migrate legacy ssh_authorized test to pytest
  features/server/test/ssh-authorized
  features/server/test/test_ssh_authorized.py
  tests/README.md
  tests/helper/tests/ssh_authorized.py
  tests/integration/chroot.py
  tests/integration/kvm.py
  tests/integration/misc/sshd_config_integration_tests
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#856 migrate legacy soft-hard-links.chroot test to pytest
  features/server/test/soft_hard_links.chroot
  features/server/test/test_soft_hard_links.py
  tests/helper/tests/soft_hard_links.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#857 Migrate legacy tests to PyTest
  features/base/test/root-perm
  features/base/test/service-account-shell
  features/base/test/test_users.py
  tests/helper/tests/users.py
  tests/helper/utils.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#858 migrate legacy reset-env-vars test to pytest
  features/server/test/reset_env_vars
  features/server/test/test_reset_env_vars.py
  tests/helper/tests/reset_env_vars.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#862 feat(test): Add validation for supported file extensions
  tests/integration/chroot.py
  tests/integration/kvm.py
Labels: area/os, kind/test, reviewed/lgtm, size/s, os/garden-linux

#866 updates for Garden Linux 576.9
  ci/release.py
  features/base/test/packages-musthave.chroot
  features/cloud/pkg.include
  features/gardener/pkg.include
  features/metal/pkg.include
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#868 test(ali): allow upload from s3 url
  tests/README.md
  tests/integration/ali.py
  tests/integration/azure.py
  tests/integration/gcp.py
Labels: area/os, kind/test, needs/review, needs/second-opinion, size/l, os/garden-linux, merge/squash

#877 change aliyun oss bucket name to gardenlinux-community and update sdk…
  ci/cicd.yaml
  ci/glci/alicloud.py
  ci/requirements.txt
  ci/steps.py
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#873 migrate legacy machine_id test to pytest
  bin/garden-integration-test-config
  build.sh
  features/server/test/machine_id
  features/server/test/test_machine_id.py
  tests/README.md
  tests/conftest.py
  tests/helper/tests/machine_id.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#888 feat(pytest): Migrate legacy `umask` test to `PyTest`
  features/cloud/test/test_umask.py
  features/cloud/test/umask
  tests/helper/tests/key_val_in_file.py
Labels: area/os, kind/test, needs/changes, needs/review, size/s, os/garden-linux

#886 feat(pytest): Migrate legacy `sgid` & `suid` unit tests to `PyTest`:
  features/base/test/sgid
  features/base/test/sgid.d/sgid.list
  features/base/test/suid
  features/base/test/suid.d/suid.list
  features/base/test/test_sgid_suid_files.py
  tests/helper/tests/sgid_suid_files.py
Labels: area/os, kind/test, needs/changes, needs/review, size/m, os/garden-linux

#863 Pytest migrate feature test memory requirements chroot
  features/server/test/memory-requirement.chroot
  features/server/test/test_kernel_parameter.py
  features/server/test/test_soft_hard_links.py
  tests/helper/tests/kernel_parameter.py
  tests/helper/tests/soft_hard_links.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#890 Adjust podman documentation in `README.md`
  README.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#893 Remove duplicate coreutils on apt install
  README.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#887 Set digest attribute for resources in Component Descriptor
  ci/steps/component_descriptor.py
Labels: reviewed/lgtm, size/xs

#895 fix expected value for kernel.randomize_va_space
  features/server/test/test_kernel_parameter.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#897 ci: fix DigestSpec arg
  ci/steps/component_descriptor.py
Labels: reviewed/lgtm, size/xs

#896 Cleanup chroot tests
  tests/Pipfile.lock
  tests/helper/tests/password_shadow.py
  tests/helper/tests/sgid_suid_files.py
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#900 simplify existing pytest ssh_authorized
  features/server/test/test_ssh_authorized.py
  tests/helper/tests/ssh_authorized.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#899 simplify existing pytest systemctl
  features/server/test/test_systemctl.py
  tests/helper/tests/systemctl.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#902 simplify existing pytest sshd
  features/server/test/sshd.chroot
  features/server/test/sshd.d/ssh_authorized
  features/server/test/sshd.d/sshd.chroot
  features/server/test/sshd.d/sshd_expected
  features/server/test/sshd.d/sshd_not_expected
  features/server/test/test_sshd.py
  tests/helper/tests/sshd.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/l, os/garden-linux

#889 Simplify existing pytest capabilities
  features/_iso/test/capabilities
  features/_iso/test/capabilities.d/capabilities.list
  features/_iso/test/test_capabilities.py
  features/_pxe/test/capabilities
  features/_pxe/test/capabilities.d/capabilities.list
  features/_pxe/test/test_capabilities.py
  features/base/test/capabilities
  features/base/test/capabilities.d/capabilities.list
  features/base/test/test_capabilities.py
  features/server/test/capabilities
  features/server/test/capabilities.d/capabilities.list
  features/server/test/test_capabilities.py
  tests/helper/tests/capabilities.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#892 feat(pytest): Migrate legacy `autologin` test to `PyTest`
  features/server/test/autologin
  features/server/test/test_autologin.py
  tests/helper/tests/key_val_in_file.py
Labels: area/os, kind/test, needs/changes, needs/review, size/s, os/garden-linux

#903 feat(pytest): Migrate legacy `tmout.chroot` to autologout `PyTest`
  features/cloud/test/test_autologout.py
  features/cloud/test/tmout.chroot
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#898 smplify existing pytest reset_env_vars
  features/server/test/test_reset_env_vars.py
  tests/helper/tests/reset_env_vars.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/s, os/garden-linux

#894 simplify packages musthave pytest
  features/_dev/test/packages-musthave.chroot
  features/_dev/test/packages-musthave.d/pkg.include
  features/_dev/test/test_packages_musthave.py
  features/_iso/test/packages-musthave.chroot
  features/_iso/test/packages-musthave.d/pkg.include
  features/_iso/test/test_packages_musthave.py
  features/_pxe/test/packages-musthave.chroot
  features/_pxe/test/packages-musthave.d/pkg.include
  features/_pxe/test/test_packages_musthave.py
  features/ali/test/packages-musthave.chroot
  features/ali/test/packages-musthave.d/pkg.include
  features/ali/test/test_packages_musthave.py
  features/aws/test/packages-musthave.chroot
  features/aws/test/packages-musthave.d/final.list
  features/aws/test/packages-musthave.d/pkg.include
  features/aws/test/test_packages_musthave.py
  features/azure/test/packages-musthave.chroot
  features/azure/test/packages-musthave.d/pkg.include
  features/azure/test/test_packages_musthave.py
  features/base/test/packages-musthave.chroot
  features/base/test/packages-musthave.d/final.list
  features/base/test/packages-musthave.d/packages-musthave.list
  features/base/test/test_packages_musthave.py
  features/chost/test/packages-musthave.chroot
  features/chost/test/packages-musthave.d/pkg.include
  features/chost/test/test_packages_musthave.py
  features/cloud/test/packages-musthave.chroot
  features/cloud/test/packages-musthave.d/final.list
  features/cloud/test/packages-musthave.d/pkg.include
  features/cloud/test/test_packages_musthave.py
  features/gardener/test/packages-musthave.chroot
  features/gardener/test/packages-musthave.d/final.list
  features/gardener/test/packages-musthave.d/pkg.include
  features/gardener/test/test_packages_musthave.py
  features/gcp/test/packages-musthave.chroot
  features/gcp/test/packages-musthave.d/pkg.include
  features/gcp/test/test_packages_musthave.py
  features/khost/test/packages-musthave.chroot
  features/khost/test/packages-musthave.d/pkg.include
  features/khost/test/test_packages_musthave.py
  features/kvm/test/packages-musthave.chroot
  features/kvm/test/packages-musthave.d/pkg.include
  features/kvm/test/test_packages_musthave.py
  features/metal/test/packages-musthave.chroot
  features/metal/test/packages-musthave.d/pkg.include
  features/metal/test/test_packages_musthave.py
  features/openstack/test/packages-musthave.chroot
  features/openstack/test/packages-musthave.d/pkg.include
  features/openstack/test/test_packages_musthave.py
  features/server/test/packages-musthave.chroot
  features/server/test/packages-musthave.d/final.list
  features/server/test/packages-musthave.d/pkg.include
  features/server/test/test_packages_musthave.py
  features/vmware/test/packages-musthave.chroot
  features/vmware/test/packages-musthave.d/pkg.include
  features/vmware/test/test_packages_musthave.py
  tests/helper/tests/packages_musthave.py
  tests/helper/utils.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/l, os/garden-linux

#911 910: remove old code path, that will not be called any more
  features/base/exec.config
Labels: area/os, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#914 Fix typo in bin/start-vm help text
  bin/start-vm
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#905 fix: remove reference to gardenlinux.io
  docs/README.md
Labels: needs/review, size/xs

#789 Some documentation enhancement and preparation for automated Garden Linux Website
  README.md
  docs/deployment.md
  docs/motivation.md
  features/README.md
Labels: size/s, merge/squash

#872 feat: secureboot keys
  Makefile
  bin/garden-build
  bin/makepart
  build.sh
  cert/Makefile
  cert/README.md
  cert/cert.json
  cert/config.json
  cert/gardenlinux.kernel.sign.crt
  cert/gardenlinux.sign.pub
  cert/gencert
  cert/genefiauth
  cert/gengpg
  cert/gpg.conf
  cert/rename
  ci/steps/build_image.sh
  container/Makefile
  container/build-cert/Dockerfile
  container/build/Dockerfile
  features/_pxe/image
  features/cloud/exec.post
  features/cloud/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
  features/metal/exec.post
  features/metal/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
Labels: kind/enhancement, area/os, needs/second-opinion, size/xl, os/garden-linux

#924 fix(pkg): Fix pkg install in debootstrap not using `noninteractive` mode
  bin/garden-init
Labels: area/os, reviewed/lgtm, size/xs, os/garden-linux

#923 feat(doc): Adjust docs
  README.md
  features/aide/README.md
  features/cis/README.md
  features/cis/info.yaml
  features/clamav/README.md
  features/clamav/file.include/var/spool/cron/crontabs/root
  features/fedramp/README.md
  features/firewall/README.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#919 feat(cis): Obtain `CIS` related packages from the Garden Linux repository
  features/cis_packages/exec.config
  features/cis_packages/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#906 simplify existing pytest users
  features/base/test/test_users.py
  tests/helper/tests/users.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#931 doc: make it clear that integration_tests is only used by tekton
  integration_tests/readme.md
Labels: needs/review, size/xs

#930 feat(test): Remove unneeded `apt-utils` package from legacy tests
  features/base/test/debsums.chroot
  features/base/test/orphaned.chroot
  features/base/test/rkhunter.chroot
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#929 feat(test): Simplify `CIS` PyTest
  features/cis/test/config.yaml
  features/cis/test/test_debian_cis.py
  tests/helper/tests/debian_cis.py
Labels: area/os, kind/test, needs/changes, needs/review, size/m, os/garden-linux

#932 Fix type in general heading
  features/README.md
Labels: area/os, needs/review, size/xs, os/garden-linux

#865 Enable chroot pytests by default
  build.sh
  features/_iso/test/capabilities.d/capabilities.list
  features/_iso/test/test_capabilities.py
  features/_pxe/test/capabilities.d/capabilities.list
  features/_pxe/test/test_capabilities.py
  features/base/test/debsums.chroot
  features/server/test/capabilities.d/capabilities.list
  features/server/test/test_autologin.py
  features/server/test/test_capabilities.py
  tests/conftest.py
  tests/helper/tests/capabilities.py
  tests/helper/tests/packages_musthave.py
  tests/helper/tests/tiger.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/m, os/garden-linux

#933 docs: rename reference baremtal to metal
  README.md
Labels: needs/review, size/xs

#928 feat(test): Migrate legacy `history.chroot` test to `PyTest`
  features/server/test/history.chroot
  features/server/test/test_history.py
  tests/helper/utils.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#936 fix(start-vm): properly split the inflatelist
  bin/start-vm
Labels: needs/review, size/xs

#942 fix(cis): Add whitelist for `CIS` check `1.5.1_bootloader_ownership`
  features/cis/test/conf.d/1.5.1_bootloader_ownership.cfg
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#941 Adjust aide config rules
  features/aide/exec.config
  features/aide/file.include/etc/aide/aide.conf
  features/aide/pkg.include
  features/cis/test/check_scripts/1.4.4_aide_cron.sh
  features/cis/test/conf.d/6.1.13_find_suid_files.cfg
Labels: area/os, needs/review, size/s, os/garden-linux

#944 fix(cis): Add additional rules for `audit.rules` file
  features/cis_audit/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#948 fix: add xen-blkfront driver to initrd for aws images
  features/aws/file.include/etc/dracut.conf.d/90-xen-blkfront-driver.conf
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#951 feat(cis): Add package `logrotate` for feature `CIS`
  features/cis_os/file.include/etc/logrotate.d/btmp
  features/cis_os/file.include/etc/logrotate.d/wtmp
  features/cis_packages/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#953 simplify existing pytest debsums
  features/base/test/debsums.d/debsums_exclude.list
  features/base/test/test_debsums.py
  tests/helper/tests/debsums.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#955 simplify existing pytest duplicate uids
  features/base/test/test_duplicate_uids.py
  tests/helper/tests/find_dup_uids.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#956 simplify existing pytest password hashes
  features/base/test/test_password_hashes.py
  tests/helper/tests/password_hashes.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#964 fix(container): Remove symlink for /usr/bin/pytest-3 /usr/bin/pytest...
  container/base-test/Dockerfile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#962 fix(pytest): Add `usr/share/runit/meta/ssh/installed` to be excluded
  features/base/test/test_debsums.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#958 feat(PyTest): Replace legacy `wireguard.chroot` test by PyTest
  features/cloud/test/test_wireguard.py
  features/cloud/test/wireguard.chroot
  tests/helper/tests/kernel_modules.py
  tests/helper/utils.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/s, os/garden-linux

#967 fix(doc): Add `sudo` package for installation (may not be present on …
  README.md
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#969 reimplement feature .disable function for tests
  tests/conftest.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#935 feat: Use configuration parameters of Debian in GCP config
  features/gcp/exec.config
  features/gcp/file.include/etc/default/instance_configs.cfg
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#968 fix(pytest): Fix path to systemd unit for `test_autologin`
  features/server/test/test_autologin.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#971 simplify existing pytest password shadow
  features/base/test/test_password_shadow.py
  tests/helper/tests/password_shadow.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#977 feat(pytest): Migrate legacy `dmesg` unit test to Pytest
  features/server/file.include/etc/sysctl.d/allow-nonroot-dmesg.conf
  features/server/file.include/etc/sysctl.d/restric-dmesg.conf
  features/server/test/dmesg
  features/server/test/test_dmesg.py
  tests/helper/tests/file_content.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#976 feat(pytest): Migrate legacy `pam_cracklib` unit test to Pytest
  features/cloud/test/pam_cracklib
  features/cloud/test/test_pam_cracklib.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#965 simplify existing pytest kernel config
  features/base/test/test_kernel_config.py
  tests/helper/tests/file_content.py
  tests/helper/tests/kernel_config.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux
