Repository gardenlinux/gardenlinux, pull requests merged in 2022-12, with the labels that each got.

#1321 Feature/1310 add test local and implement testing for oci feature
  features/_oci/test/test_oci.py
  tests/README.md
  tests/conftest.py
  tests/integration/misc/docker_registry_config_integrations_tests
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, needs/changes, needs/review, needs/second-opinion, size/m, os/garden-linux

#1449 feature(firewall): Switch to "allow" for output & forward, allow ICMP
  features/firewall/file.include/etc/nft.d/default.conf
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1445 fix: update signing key for package verification
  gardenlinux.asc
Labels: area/os, kind/impediment, reviewed/lgtm, size/s, os/garden-linux

#1442 feat: generate make targets from flavours.yaml
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
  .gitignore
  Makefile
  bin/expand-flavours
  bin/garden-debian-sources-list
  bin/garden-feat
  bin/gen_make_targets
  bin/make_repart_partition
  bin/makepart
  build.sh
  cert/gardenlinux-secureboot.aws-efivars
  container/Makefile
  container/base-test/Dockerfile
  container/build-cert/Dockerfile
  container/build-image/Dockerfile
  container/build/Dockerfile
  features/gardener/fstab.mod
  flavours.yaml
  make_targets/ali
  make_targets/anvil
  make_targets/aws
  make_targets/aws-readonly-secureboot
  make_targets/aws-secureboot
  make_targets/azure
  make_targets/cloud
  make_targets/container
  make_targets/firecracker
  make_targets/gcp
  make_targets/githubActionRunner
  make_targets/kvm
  make_targets/kvm-readonly-persistence-secureboot
  make_targets/kvm-readonly-secureboot
  make_targets/kvm-secureboot
  make_targets/metal
  make_targets/metal-iso
  make_targets/metal-secureboot
  make_targets/metalk
  make_targets/metalv
  make_targets/openstack
  make_targets/openstack-qcow2
  make_targets/pxe
  make_targets/vmware
  tests/helper/utils.py
Labels: kind/enhancement, area/os, needs/rebase, needs/review, needs/second-opinion, size/l, os/garden-linux

#1451 fix: new version of bootctl requiring /proc to be mounted during install
  bin/makepart
Labels: needs/review, size/xs

#1454 improvements for Garden Linux 934.2
  VERSION
  features/azure/file.include/etc/systemd/network/99-azure-unmanaged-devices.network
  flavours.yaml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1458 fix: Fix wrong error handling in the chroot platform
  tests/integration/chroot.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1459 fix(pipeline): Fix docker CRE support for unit testing
  build.sh
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1466 doc(Makefile): Adjust docs for auto generated make targets from flavour.yaml
  Makefile
  README.md
  bin/README.md
  docs/build/README.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1468 enhancement(flavours): Add container and sort ASC yaml file
  flavours.yaml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1469 extend local test platform
  container/base-test/Dockerfile
  tests/README.md
  tests/conftest.py
  tests/helper/tests/garden_feat.py
  tests/local/README.md
  tests/local/test_garden_feat.py
  tests/local/test_oci.py
  tests/pytest.ini
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#1467 Feature/oci push oras
  features/_oras/README.md
  features/_oras/image
  features/_oras/info.yaml
Labels: area/os, kind/discussion, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1477 add oras to build image container
  container/build-image/Dockerfile
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1472 feature(build): Integrate `garden-repo-manager`
  bin/README.md
  bin/garden-build
  bin/garden-init
  features/base/exec.config
Labels: area/os, kind/cleanup, needs/changes, needs/review, size/s, os/garden-linux

#1479 make secureboot_parameters parameter optional
  tests/integration/gcp.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1317 Feature/1037 arm64 pytest integration test azure 2
  tests/README.md
  tests/integration/azure.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux, merge/squash

#1483 fix(garden-feat): Fix output of `platforms` argument
  bin/garden-feat
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1452 Feature/1440 create cleanup script for gcp
  tests/tools/clean_orphans_gcp.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux

#1494 feature(_prod): Disable core dumps (legacy & systemd)
  features/_prod/file.include/etc/security/limits.conf
  features/_prod/file.include/etc/sysctl.d/99-disable-core-dump.conf
  features/_prod/file.include/etc/systemd/coredump.conf.d/disable_coredump.conf
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1491 fix(feature): Fix perl version in `base` feature
  features/base/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1487 feature(kernel): Disable `sysrq` completely as default
  features/base/file.include/etc/sysctl.d/10-disable-sysrq.conf
  features/base/test/test_disable_sysrq.py
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux
