Repository gardenlinux/gardenlinux, pull requests merged in 2022-07, with the labels that each got.

#1083 mount /overlay and etc overlay in initramfs
  bin/makepart
  features/_fstab_verity/fstab.mod
Labels: area/os, kind/bug, needs/changes, needs/review, size/xs, os/garden-linux

#1085 fix(start-vm): Pass $imagefile also when running as `root`
  bin/start-vm
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1088 add build-environment and secureboot crt to secureboot target
  Makefile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1091 temp fix for missing bird2 package
  features/metal/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1087 feature(build-pipeline): Add crossbuild compatibility
  README.md
  bin/garden-init
  features/base/test/test_sgid_suid_files.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1093 fix: use user and group names instead of ids in sgid_suid_files test
  features/base/test/test_sgid_suid_files.py
  features/server/test/sgid
  features/server/test/sgid.d/sgid.list
  tests/helper/tests/sgid_suid_files.py
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#1078 add firecracker platform feature
  .github/workflows/build.yml
  Makefile
  bin/garden-build
  bin/make_reproducible_ext4
  bin/makepart
  features/firecracker/file.exclude
  features/firecracker/fstab.mod
  features/firecracker/image
  features/firecracker/info.yaml
  features/firecracker/pkg.exclude
  features/firecracker/pkg.include
  features/server/exec.post
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#1094 fix: don't minimize ext4 when using explicit size in fstab
  bin/makepart
Labels: needs/review, size/xs

#1095 re-add bird2 package
  features/metal/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1096 use efi-updatevar to write to efivars
  features/metal/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
  features/metal/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1019 autoscaling AWS self hosted GitHub action runners
  .github/workflows/build.yml
  Makefile
  features/base/test/test_groups.py
  features/base/test/test_users.py
  features/github_action_runner/exec.config
  features/github_action_runner/file.include/etc/kernel/cmdline.d/99-no-lsm.cfg
  features/github_action_runner/file.include/etc/systemd/system/configure_from_aws_user_data.service
  features/github_action_runner/file.include/etc/systemd/system/github_action_runner.service
  features/github_action_runner/file.include/etc/systemd/system/github_action_scheduler.service
  features/github_action_runner/file.include/etc/systemd/system/tmp.mount
  features/github_action_runner/file.include/etc/systemd/system/var-lib-containers.mount
  features/github_action_runner/file.include/etc/systemd/system/var-tmp.mount
  features/github_action_runner/file.include/usr/bin/configure_from_aws_user_data
  features/github_action_runner/file.include/usr/bin/github_action_runner
  features/github_action_runner/file.include/usr/bin/github_action_runner_aws_scheduler
  features/github_action_runner/file.include/usr/bin/github_webhook_workflow_job_listener
  features/github_action_runner/file.include/usr/bin/jwt
  features/github_action_runner/file.include/usr/bin/notify_scheduler
  features/github_action_runner/file.include/usr/bin/run_ec2_github_action_runner
  features/github_action_runner/file.include/usr/bin/server
  features/github_action_runner/info.yaml
  features/github_action_runner/pkg.include
  features/github_action_runner/test/groups.chroot
  features/github_action_runner/test/groups.d/groups.list
  features/server/test/test_users.py
  tests/conftest.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xl, os/garden-linux

#1103 feature: Make KVM work with Garden Linux ARM
  bin/garden-integration-test-config
  bin/start-vm
  build.sh
  features/base/test/test_orphaned.py
  features/cloud/test/test_autologout.py
  features/server/test/test_dmesg.py
  tests/README.md
  tests/helper/tests/machine_id.py
  tests/helper/tests/rkhunter.py
  tests/helper/tests/tiger.py
  tests/integration/kvm.py
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/bug, needs/changes, needs/review, size/m, os/garden-linux

#1106 fix(secureboot): Symlink enroll-gardenlinux-secureboot-keys to only have a single file
  features/cloud/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1111 fix: adapt README badges for new workflow files
  README.md
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1113 fix(test): Make packages_musthave work with pkg.exclude properly
  tests/helper/tests/packages_musthave.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1114 adjust snapshot size for kvm integration tests
  features/cis_os/exec.config
  tests/integration/kvm.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1110 run debsums check only in chroot integration test environment
  features/base/test/test_debsums.py
Labels: area/os, kind/bug, needs/changes, needs/review, size/xs, os/garden-linux

#1109 feature(secureboot): Extend _secureboot feature with additional tools and config
  Makefile
  bin/makepart
  features/_secureboot/exec.post
  features/_secureboot/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
  features/_secureboot/info.yaml
  features/_secureboot/pkg.include
  features/cloud/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
  features/metal/exec.post
Labels: kind/enhancement, area/os, needs/changes, size/xs, os/garden-linux

#1117 fix: retry go build of garden-feat
  container/build-image/Dockerfile
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#1120 feat(tests): Add chart
  tests/README.md
Labels: area/os, kind/test, needs/changes, needs/review, size/m, os/garden-linux

#1121 feature(test): Add AWS MFA information to the documentation
  tests/README.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1104 feature(start-vm): Refactor `start-vm` script
  README.md
  bin/README.md
  bin/start-vm
Labels: area/os, kind/cleanup, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1136 fix: upgrade kernel to 5.10.133
  features/cloud/pkg.include
  features/metal/pkg.include
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1138 mark usr-is-merged as manual installed to pass orphaned test
  features/base/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1145 feat: include long git commit hash in os-release
  bin/garden-build
  build.sh
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1147 fix: add some fixes to S3 meta yaml
  .github/workflows/upload_to_s3.sh
Labels: area/os, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#1139 test: check for enabled AppArmor
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux
