Repository gardenlinux/gardenlinux, pull requests merged in 2022-01, with the labels that each got.

#573 Ci 2022 01 04
  ci/logs.py
  ci/render_pipeline_run.py
  ci/steps/attach_logs.py
  ci/steps/notify.py
  ci/templates/email_notification.html
  ci/templates/email_notification.txt
  ci/tkn/model.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#575 CI minor fixes and improvements
  ci/glci/github.py
  ci/release.py
  ci/render_pipeline_run.py
  ci/steps/notify.py
  ci/steps/update_status.py
Labels: area/os, kind/cleanup, needs/review, size/m, os/garden-linux

#576 Linux 5.15
  packages/manual/linux.d/gpgkeys
  packages/manual/linux.d/patches/5.15.13/debian/disable-android.patch
  packages/manual/linux.d/patches/5.15.13/debian/series.patch
  packages/manual/linux.d/patches/5.15.13/series
  packages/manual/linux.d/versions/VERSION-5.15
Labels: needs/review, size/s

#571 Change Garden Linux defaults to nftables and cgroupv2
  features/gardener/exec.config
  features/gardener/file.include/etc/kernel/cmdline.d/80-cgroup.cfg
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#579 sulogin force for emergency/rescue mode
  features/_dev/file.include/etc/systemd/system/emergency.service.d/sulogin.conf
  features/_dev/file.include/etc/systemd/system/rescue.service.d/sulogin.conf
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#578 Test for files with the SGID bit set
  features/base/test/sgid
  features/base/test/sgid.d/sgid.list
  features/server/test/sgid
  features/server/test/sgid.d/sgid.list
Labels: area/os, kind/test, needs/lgtm, size/s, os/garden-linux

#577 Tiger test fixes
  features/base/test/tiger.chroot
  features/base/test/tiger.d/tigerrc
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#583 Support and use dev as default version
  VERSION
  bin/garden-version
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#574 use local packages for dev / testing
  Makefile
  bin/garden-debian-sources-list
  bin/garden-fixup
  bin/garden-init
  build.sh
  docker/build-image/Dockerfile
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#586 Fix: typo in sample helptext
  build.sh
Labels: needs/review, size/xs

#584 arm64 image build
  Makefile
  bin/garden-build
  bin/garden-config
  bin/makepart
  bin/start-vm
  docker/build-image/Dockerfile
  features/base/test/root-perm
  features/cloud/exec.config
  features/cloud/pkg.include
  features/metal/exec.config
  features/metal/pkg.include
  features/server/pkg.include
  get_arch.sh
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, needs/second-opinion, size/m, os/garden-linux

#581 Use systemd-repart instead of growroot
  features/cloud/file.include/etc/repart.d/root.conf
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/growroot.sh
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/cloud/pkg.include
  features/metal/file.include/etc/repart.d/root.conf
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/growroot.sh
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/metal/pkg.include
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux

#588 minor fixes
  features/base/file.include/etc/apt/apt.conf.d/no-recommends
  features/base/file.include/etc/apt/apt.conf.d/no-suggests
  features/base/file.include/etc/ucf.conf
  features/server/exec.config
Labels: needs/review, size/xs

#589 GitHub actions
  .github/workflows/build.yml
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#594 Rkhunter test fixes
  features/base/test/rkhunter.chroot
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#590 PXE updates
  features/_pxe/exec.config
  features/_pxe/file.exclude
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/cleanup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.service
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_pxe/pkg.include
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#597 Adjusted documentation/README fixes #593
  README.md
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/xs, os/garden-linux

#602 Drop using global /dev inside build
  build.sh
  features/base/test/rkhunter.d/rkhunter.conf
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#605 Repart fixes
  bin/makepart
  features/cloud/exec.config
  features/cloud/file.include/etc/repart.d/root.conf
  features/metal/exec.config
  features/metal/file.include/etc/repart.d/root.conf
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#601 Fix containerd CVE-2021-43816
  features/gardener/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#607 Preserve symbolic links in file.include
  bin/garden-config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#609 fix(apparmor): disable selinux completey for 576 for server feature
  features/server/file.include/etc/kernel/cmdline.d/90-lsm.cfg
Labels: area/os, kind/regression, needs/review, size/xs, os/garden-linux

#616 Update kernel version for Garden Linux 576.3
  features/cloud/pkg.include
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#614 test: check is apparmor is enabled
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#617 fix typo in project description text
  README.md
Labels: needs/review, size/xs

#619 Minorpatch
  bin/garden-build
  bin/garden-debian-sources-list
  features/chost/file.include/overlay-redirect-dir.conf
  features/server/exec.post
Labels: needs/review, size/s

#596 Move applicable contents of google-compute-engine package
  features/gcp/file.include/etc/modprobe.d/gce-blacklist.conf
  features/gcp/file.include/etc/sysctl.d/60-gce-network-security.conf
  features/gcp/file.include/usr/lib/udev/google_nvme_id
  features/gcp/file.include/usr/lib/udev/rules.d/64-gce-disk-removal.rules
  features/gcp/file.include/usr/lib/udev/rules.d/65-gce-disk-naming.rules
  features/gcp/pkg.include
Labels: kind/enhancement, area/os, needs/second-opinion, size/l, os/garden-linux

#618 PXE EFI boot
  .github/workflows/build.yml
  Makefile
  bin/garden-build
  bin/start-vm
  build.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.service
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-overlay-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/squash-mount-generator.sh
  features/_pxe/image
  features/_pxe/pkg.include
Labels: kind/enhancement, area/os, needs/lgtm, needs/review, needs/second-opinion, size/m, os/garden-linux

#621 Drop explicit removal of libdb5.3
  features/base/test/blacklisted-packages.d/blacklisted-packages.list
  features/base/test/blacklisted-packages.d/final.list
  features/server/exec.post
Labels: area/os, kind/cleanup, needs/lgtm, needs/review, size/xs, os/garden-linux

#620 ci: add script to manually create github release, fix small bug
  ci/make_github_release.py
  ci/release.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#622 Make Promote-step Coding More Resilient
  ci/promote.py
  ci/steps.py
Labels: needs/review

#627 Remove the file features/_dev/id_dev.pub from git
  features/_dev/id_dev.pub
Labels: area/security, kind/cleanup, needs/review, size/xs, os/garden-linux

#629 Fix file.exclude for directories
  bin/garden-config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#630 Fetch ignition pkg from snapshot
  features/_pxe/pkg.include
Labels: area/os, kind/bug, needs/lgtm, needs/review, size/xs, os/garden-linux

#623 dracut gardenlinux-live module: fix problem from generator being run twice
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-overlay-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/squash-mount-generator.sh
Labels: area/os, kind/bug, needs/lgtm, needs/review, size/s, os/garden-linux
