Repository gardenlinux/gardenlinux, pull requests merged in 2022-11, with the labels that each got.

#1358 doc(build): Extend the build documentation
  docs/build/README.md
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1374 feature(build-pipeline): Validate checksums on files from external re…
  build.sh
  checksums.sha256
  container/Makefile
  container/build/Dockerfile
  container/integration-test/Dockerfile
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1380 fix(Makefile): Fix removing/untagging `build-image` container
  container/Makefile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1382 fix(nightly-builds): Fix checksum for awscli-exe-linux-x86_64
  checksums.sha256
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1375 fix: update openssl to 3.0.7
  VERSION
  features/server/pkg.include
  tests/helper/tests/packages_musthave.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1397 test: write junit.xmls to dedicated location
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/gcp_tests.sh
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1395 use GitHub environments for OIDC
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: reviewed/lgtm, size/xs

#1400 doc(features): Adjust feature `README.md` files
  features/README.md
  features/_dev/README.md
  features/_iso/README.md
  features/_prod/README.md
  features/_pxe/README.md
  features/_readonly/README.md
  features/_secureboot/README.md
  features/_slim/README.md
  features/aide/README.md
  features/ali/README.md
  features/aws/README.md
  features/azure/README.md
  features/base/README.md
  features/chost/README.md
  features/cis/README.md
  features/cisAudit/README.md
  features/cisModprobe/README.md
  features/cisOS/README.md
  features/cisPackages/README.md
  features/cisPartition/README.md
  features/cisSshd/README.md
  features/cisSysctl/README.md
  features/clamav/README.md
  features/cloud/README.md
  features/example/README.md
  features/fedramp/README.md
  features/firecracker/README.md
  features/firewall/README.md
  features/gardener/README.md
  features/gcp/README.md
  features/githubActionRunner/README.md
  features/khost/README.md
  features/kvm/README.md
  features/metal/README.md
  features/openstack/README.md
  features/vhost/README.md
  features/vmware/README.md
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1403 Add iginiton for start-vm without pxe
  bin/start-vm
  docs/test_VM_with_start-vm_and_qemu.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1407 feature(example): Adjust docs for example
  features/_iso/README.md
  features/base/README.md
  features/cis/README.md
  features/cisAudit/README.md
  features/cisModprobe/README.md
  features/cisOS/README.md
  features/cisPackages/README.md
  features/cisPartition/README.md
  features/cisSshd/README.md
  features/cisSysctl/README.md
  features/example/README.md
  features/example/convert
  features/example/file.include.stat
  features/example/image
  features/firewall/README.md
  features/gardener/README.md
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1350 Add gardenlinux repo to base-test container
  container/Makefile
  container/base-test/Dockerfile
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1402 feat: garden-version gets latest minor from gl apt repo
  bin/garden-version
Labels: needs/review, size/xs

#1409 feature(container): Preserve file permissions when copying GL repo key
  container/Makefile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1417 feat: enable ipv6 forwarding by default
  features/cloud/file.include/etc/sysctl.d/20-cloud.conf
  features/cloud/file.include/etc/sysctl.d/21-ipv4-settings.conf
  features/cloud/file.include/etc/sysctl.d/22-ipv6-settings.conf
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1396 feat: add a gardener flavour set
  flavours.yaml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1418 fix shellcheck erros
  build.sh
  ci/lib.sh
  container/build/install-cfssl.sh
  features/cis/test/check_scripts/1.2.1_ensure_repository_is_configured.sh
  features/cloud/file.include/etc/profile.d/50-autologout.sh
  features/server/file.include/etc/profile.d/50-nohistory.sh
Labels: area/os, kind/technical-debt, needs/review, size/xs, os/garden-linux

#1421 fix: set file attributes of key in Dockerfile
  container/base-test/Dockerfile
  container/build-image/Dockerfile
Labels: needs/review, size/xs

#1419 Add new 2022 key
  checksums.sha256
  gardenlinux.asc
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1398 feature(build-pipeline): Add new platform type `container`
  Makefile
  bin/garden-build
  container/build-image/Dockerfile
  features/base/test/test_groups.py
  features/base/test/test_kernel_config.py
  features/base/test/test_orphaned.py
  features/base/test/test_rkhunter.py
  features/base/test/test_users.py
  features/container/README.md
  features/container/image
  features/container/info.yaml
  make_targets/container
  tests/conftest.py
  tests/helper/tests/rkhunter.py
  tests/integration/chroot.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1351 feature(ssh): Make ssh as an optional feature
  features/cisOS/exec.config
  features/firewall/exec.config
  features/kvm/fail2ban/fail2ban.conf
  features/kvm/pkg.include
  features/server/README.md
  features/server/exec.config
  features/server/file.exclude
  features/server/info.yaml
  features/server/pkg.include
  features/ssh/README.md
  features/ssh/exec.config
  features/ssh/file.exclude
  features/ssh/file.include.stat
  features/ssh/file.include/etc/fail2ban/jail.conf
  features/ssh/file.include/etc/ssh/ssh_config
  features/ssh/file.include/etc/ssh/sshd_config
  features/ssh/file.include/etc/systemd/system/fail2ban.service.d/override.conf
  features/ssh/file.include/etc/systemd/system/ssh-keygen.service
  features/ssh/file.include/etc/systemd/system/ssh-moduli.service
  features/ssh/info.yaml
  features/ssh/pkg.include
  features/ssh/test/test_ssh_authorized.py
  features/ssh/test/test_sshd.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1309 Add feature _oci to bundle build articats as OCI compatible
  features/_oci/README.md
  features/_oci/image
  features/_oci/info.yaml
  features/oci/README.md
  features/oci/info.yaml
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/l, os/garden-linux

#1431 Enable secure boot on AWS
  ci/glci/aws.py
  docs/deployment/aws-secureboot.md
  make_targets/aws-secureboot
  tests/README.md
  tests/integration/aws.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1430 refactor: consolidate ignition into the ignite feature
  features/_ignite/README.md
  features/_ignite/file.include/etc/dracut.conf.d/30-ignition.conf
  features/_ignite/file.include/usr/lib/dracut/modules.d/30ignition-extra/ignition-env-generator.sh
  features/_ignite/file.include/usr/lib/dracut/modules.d/30ignition-extra/ignition-files.env
  features/_ignite/file.include/usr/lib/dracut/modules.d/30ignition-extra/module-setup.sh
  features/_ignite/pkg.include
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_pxe/pkg.include
  features/kvm/file.include/usr/lib/dracut/modules.d/30ignition-extra/ignition-env-generator.sh
  features/kvm/file.include/usr/lib/dracut/modules.d/30ignition-extra/ignition-files.env
  features/kvm/info.yaml
  features/kvm/pkg.include
Labels: needs/review, size/s

#1426 feature(devel): Add new build command `--debian-mirror`
  README.md
  bin/garden-build
  bin/garden-debian-sources-list
  bin/garden-init
  build.sh
  features/example/README.md
  tests/helper/tests/debsums.py
  tests/helper/tests/tiger.py
  tests/helper/utils.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1435 use systemd-repart to create ephemeral root partition in readonly
  .gitignore
  bin/make_repart_disk
  bin/make_repart_partition
  bin/makepart
  bin/makesecureboot
  cert/Makefile
  container/build-cert/Dockerfile
  container/build-image/Dockerfile
  features/_persistence/fstab.mod
  features/_persistence/info.yaml
  features/_readonly/file.exclude
  features/_readonly/file.include/etc/kernel/cmdline.d/99-no-gpt-auto.cfg
  features/_readonly/fstab.mod
  features/_secureboot/fstab.mod
  make_targets/aws-readonly-secureboot
  make_targets/kvm-readonly-persistence-secureboot
  make_targets/kvm-readonly-secureboot
Labels: needs/review, needs/second-opinion, size/l

#1434 Enable ignition on vmware
  features/vmware/file.include/etc/kernel/cmdline.d/50-ignition.cfg
  features/vmware/file.include/etc/systemd/system/ignition-disable.service
  features/vmware/info.yaml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1444 add vmware ovf properties for ignition
  features/vmware/vmware.ovf.template
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux
