Repository gardenlinux/gardenlinux, pull requests merged in 2022-09, with the labels that each got.

#1238 tests(clamav): Add unit tests for feature `clamav`
  features/clamav/test/test_clamav_cron.py
  features/clamav/test/test_packages_musthave.py
  tests/helper/utils.py
Labels: area/os, kind/test, needs/changes, needs/review, size/xs, os/garden-linux

#1239 tests(aide): Add unit tests for feature `aide`
  features/aide/test/test_aide_cron.py
  features/aide/test/test_packages_musthave.py
Labels: area/os, kind/test, needs/changes, needs/review, size/xs, os/garden-linux

#1241 tests(firecracker): Add unit tests for feature `firecracker`
  features/firecracker/test/test_packages_musthave.py
  features/firecracker/test/test_systemd_unit.py
  tests/conftest.py
  tests/helper/utils.py
Labels: area/os, kind/test, needs/changes, needs/review, size/s, os/garden-linux

#1242 tests(_secureboot): Add unit tests for feature `_secureboot`
  features/_secureboot/test/test_empty_files_boot_efi.py
  features/_secureboot/test/test_packages_musthave.py
  features/_secureboot/test/test_uefi_pki_files.py
Labels: area/os, kind/test, needs/changes, needs/review, size/xs, os/garden-linux

#1247 test: remove check for storage account name
  tests/integration/azure.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#1245 tests: make test name for platform tests configurable
  tests/README.md
  tests/conftest.py
  tests/integration/ali.py
  tests/integration/aws.py
  tests/integration/azure.py
  tests/integration/gcp.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1246 test: fix tests to run with non-root user on cloud platforms
  features/ali/test/test_users.py
  features/aws/test/test_users.py
  features/azure/test/test_users.py
  features/base/test/test_users.py
  features/gardener/test/test_dmesg.py
  features/gardener/test/test_systemd_units.py
  features/gcp/test/test_users.py
  features/server/test/test_reset_env_vars.py
  features/server/test/test_users.py
  tests/conftest.py
  tests/helper/tests/capabilities.py
  tests/helper/tests/file_content.py
  tests/helper/tests/kernel_parameter.py
  tests/helper/tests/sshd.py
  tests/helper/tests/users.py
  tests/helper/utils.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux, merge/squash

#1243 fix: systemd-coredump remove dirs
  features/server/file.include/etc/systemd/system/systemd-coredump@.service.d/override.conf
Labels: needs/review, size/xs

#1140 Ci: Add component-responsible-labels to Component Descriptor
  ci/steps/component_descriptor.py
Labels: reviewed/lgtm, size/xs

#1250 tests(chost): Add unit test for feature `chost`
  features/chost/test/test_systemd_unit.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1255 tests(vhost): Add unit test for feature `vhost`
  features/vhost/README.md
  features/vhost/test/test_packages_musthave.py
  features/vhost/test/test_systemd_unit.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1253 tests(fedramp): Add unit test for feature `fedramp`
  features/fedramp/test/test_packages_musthave.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1251 tests(_readonly): Add unit tests for feature `_readonly`
  features/_readonly/test/test_mount.py
  tests/helper/tests/mount.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1252 tests(example): Add unit tests for feature `example`
  features/README.md
  features/example/README.md
  features/example/test/test_example_consistency.py
Labels: area/os, kind/test, needs/changes, needs/review, size/s, os/garden-linux

#1257 tests(vmware): Add unit tests for feature `vmware`
  features/vmware/test/test_check_files.py
  features/vmware/test/test_content_in_file.py
  tests/helper/utils.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1262 tests(openstack): Add unit tests for feature `openstack`
  features/openstack/test/test_check_files.py
  features/openstack/test/test_content_in_file.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1261 fix: Use dist repo instead of the Azure one for azure-cli
  container/integration-test/Dockerfile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1258 GitHub actions: S3 upload use full prefix in object key
  .github/workflows/upload_to_s3.sh
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1266 fix: Fix typo of the integration test container Dockerfile
  container/integration-test/Dockerfile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1256 Remove systemd-coredump from _prod
  features/_prod/file.exclude
  features/_prod/pkg.exclude
Labels: needs/review, size/xs

#1269 docs(pytest): Add example config for running feature related tests
  tests/README.md
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1268 tests: exclude ARM64 from automatic platform tests on Azure
  .github/workflows/tests.yml
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1272 fix: remove on push from nightly
  .github/workflows/nightly.yml
Labels: reviewed/lgtm, size/xs

#1271 test: refactor test containers
  container/Makefile
  container/base-test/Dockerfile
  container/integration-test/Dockerfile
  tests/Pipfile
  tests/Pipfile.lock
Labels: area/os, kind/test, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1273 tests: include full feature tests into nightly run
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/gcp_tests.sh
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1274 Fix : rootfs not resized properly sometimes
  bin/makesecureboot
  features/cloud/exec.config
  features/metal/exec.config
  features/server/file.include/etc/systemd/system/systemd-growfs@.service.d/override.conf
Labels: reviewed/lgtm, size/xs

#1276 ci: skip static source check for Garden Linux repo
  ci/steps/component_descriptor.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1152 feat(garden-feat): Rewrite garden-feat in Python
  .gitignore
  bin/Makefile
  bin/garden-feat
  bin/garden-feat.go
  build.sh
  container/Makefile
  container/build-image/Dockerfile
  features/base/test/test_local_garden_feat.py
  tests/helper/tests/garden_feat.py
Labels: kind/enhancement, area/os, needs/rebase, needs/changes, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1279 tests: allow additional sudo users
  features/ali/test/test_users.py
  features/aws/test/test_users.py
  features/azure/test/test_users.py
  features/gcp/test/test_users.py
  tests/helper/tests/users.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1275 clean: remove gardener configuration scripts
  features/gardener/exec.config
  features/gardener/file.include/etc/systemd/system/gardener-configure-settings.service
  features/gardener/file.include/etc/systemd/system/gardener-restart-kernel.service
  features/gardener/file.include/var/lib/gardener-gardenlinux/01_configure_lsm.sh
  features/gardener/file.include/var/lib/gardener-gardenlinux/02_iptables_backend.sh
  features/gardener/file.include/var/lib/gardener-gardenlinux/restart_kernel.sh
Labels: area/os, kind/cleanup, needs/review, size/m, os/garden-linux

#1281 tests: exclude Azure ARM from nightly tests
  .github/workflows/tests.yml
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1133 Add ignition to kvm
  bin/makepart
  features/kvm/exec.config
  features/kvm/file.include/etc/dracut.conf.d/30-ignition.conf
  features/kvm/file.include/etc/kernel/cmdline.d/50-ignition.cfg
  features/kvm/file.include/etc/systemd/system/ignition-disable.service
  features/kvm/file.include/usr/lib/dracut/modules.d/30ignition-extra/ignition-env-generator.sh
  features/kvm/file.include/usr/lib/dracut/modules.d/30ignition-extra/ignition-files.env
  features/kvm/file.include/usr/lib/dracut/modules.d/30ignition-extra/module-setup.sh
  features/kvm/file.include/usr/local/sbin/update-bootloaders
  features/kvm/pkg.include
  features/kvm/test/capabilities.d/capabilities.list
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1284 tests: add exception tags to test resources in AWS
  tests/integration/aws.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1283 tests: remove integration_tests folder
  integration_tests/ali/ali_test.py
  integration_tests/ali/conftest.py
  integration_tests/aws/aws_test.py
  integration_tests/aws/conftest.py
  integration_tests/aws/legacy_test.py
  integration_tests/azure/azure_test.py
  integration_tests/azure/conftest.py
  integration_tests/azure/readme.md
  integration_tests/conftest.py
  integration_tests/gcp/conftest.py
  integration_tests/gcp/gcp_test.py
  integration_tests/gcp/readme.md
  integration_tests/openstack/conftest.py
  integration_tests/openstack/openstack_test.py
  integration_tests/readme.md
Labels: area/os, kind/cleanup, needs/review, needs/second-opinion, size/l, os/garden-linux

#1286 KVM ignition fixes
  features/kvm/file.include/etc/kernel/cmdline.d/50-ignition.cfg
  features/kvm/file.include/usr/local/sbin/update-bootloaders
Labels: needs/review, size/xs

#1287 fix: use prefix instead of name in single yaml
  .github/workflows/upload_to_s3.sh
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1259 define feature sets for make targets in files
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  Makefile
  features/_prod/info.yaml
  make_targets/ali
  make_targets/anvil
  make_targets/aws
  make_targets/azure
  make_targets/cloud
  make_targets/firecracker
  make_targets/gcp
  make_targets/github_action_runner
  make_targets/kvm
  make_targets/kvm-secureboot
  make_targets/metal
  make_targets/metal-iso
  make_targets/metal-secureboot
  make_targets/metalk
  make_targets/metalv
  make_targets/openstack
  make_targets/openstack-qcow2
  make_targets/pxe
  make_targets/vmware
Labels: kind/enhancement, area/os, needs/rebase, needs/review, size/m, os/garden-linux

#1290 GitHub actions release workflow
  .github/workflows/download_from_s3.sh
  .github/workflows/release.sh
  .github/workflows/release.yml
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1294 fix: rename githubActionRunner make_target to fit with b8407664
  make_targets/githubActionRunner
  make_targets/github_action_runner
Labels: needs/review, size/xs

#1293 Add policykit again
  features/base/test/test_sgid_suid_files.py
  features/server/pkg.include
Labels: area/os, needs/review, size/xs, os/garden-linux

#1296 Small fixes for start-vm
  bin/start-vm
Labels: needs/review, size/xs

#1297 fix: GitHub actions: handle prod modifier in tests and upload workflow
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: needs/review, size/xs

#1298 test: allow missing packages to be ignored
  features/server/test/pkg.ignore
  tests/helper/tests/packages_musthave.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1301 Append test logs to build log
  build.sh
Labels: needs/review, size/xs

#1303 fix: properly parse arch from name for meta yaml manifest
  .github/workflows/upload_to_s3.sh
Labels: needs/review, size/xs

#1308 fix: Mark some orphaned packages as manually installed
  features/base/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1295 CI: Make use of Release Manifests Build via GitHub Actions
  .ci/pipeline_definitions
  ci/cicd.yaml
  ci/glci/model.py
  ci/glci/util.py
  ci/params.py
  ci/promote.py
  ci/render_pipeline_run.py
  ci/render_pipelines.py
  ci/render_pipelines_and_trigger_job
  ci/render_task.py
  ci/steps.py
  ci/steps/build_base_image.py
  ci/steps/build_cert.sh
  ci/steps/build_image.sh
  ci/steps/build_step_image.py
  ci/steps/component_descriptor.py
  ci/steps/pre_build_step.py
  ci/steps/pre_check_tests.py
  ci/steps/promote_step.py
  ci/steps/upload_results_step.py
  ci/steps/write_key.py
  ci/tasks.py
Labels: area/os, kind/cleanup, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1291 add architecture option to azure integration script
  bin/makepart
  bin/makesecureboot
  features/cloud/exec.config
  features/cloud/fstab.mod
  features/metal/exec.config
  features/metal/fstab.mod
  tests/README.md
  tests/integration/azure.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1311 Revert "add architecture option to azure integration script"
  bin/makepart
  bin/makesecureboot
  features/cloud/exec.config
  features/cloud/fstab.mod
  features/metal/exec.config
  features/metal/fstab.mod
  tests/README.md
  tests/integration/azure.py
Labels: needs/review, size/m
