Repository gardenlinux/gardenlinux, pull requests merged in 2022-02, with the labels that each got.

#633 Use ignition from own repo
  features/_pxe/pkg.include
Labels: needs/review, size/xs

#634 Add fix for CVE-2021-4034
  features/server/pkg.include
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#639 GitHub actions: automatically select newest qemu-user-static version
  .github/workflows/build.yml
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#636 cleanup: remove policykit
  features/base/test/suid.d/suid.list
  features/server/pkg.include
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#637 Remove gardenlinux dracut module
  bin/makepart
  features/_pxe/exec.config
  features/aws/exec.config
  features/aws/file.include/etc/systemd/system/aws-clocksource.service
  features/aws/file.include/usr/local/sbin/clocksource-setup.sh
  features/cloud/exec.config
  features/cloud/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/metal/exec.config
  features/metal/file.include/usr/lib/dracut/modules.d/98gardenlinux/module-setup.sh
  features/server/file.include/etc/dracut.conf.d/20-gardenlinux.conf
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#635 Merge network config into a single file
  features/server/file.include/etc/systemd/network/99-default.network
  features/server/file.include/etc/systemd/network/eth.network
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#640 Move systemd config to files within their drop in directories
  features/ali/exec.config
  features/ali/file.include/etc/systemd/resolved.conf.d/00-gardenlinux-ali.conf
  features/ali/file.include/etc/systemd/timesyncd.conf
  features/ali/file.include/etc/systemd/timesyncd.conf.d/00-gardenlinux-ali.conf
  features/aws/exec.config
  features/aws/file.include/etc/systemd/resolved.conf.d/00-gardenlinux-aws.conf
  features/aws/file.include/etc/systemd/timesyncd.conf.d/00-gardenlinux-aws.conf
  features/gcp/exec.config
  features/gcp/file.include/etc/systemd/timesyncd.conf.d/00-gardenlinux-gcp.conf
  features/server/exec.config
  features/server/file.include/etc/systemd/networkd.conf.d/00-gardenlinux-server.conf
  features/server/file.include/etc/systemd/system.conf.d/00-gardenlinux-server.conf
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#638 CI: use more appropriate service-principal and storage-account
  ci/cicd.yaml
Labels: needs/review, reviewed/do-not-merge, size/xs

#642 ci: treat 'dev' version string like 'today' version string
  ci/glci/model.py
Labels: area/os, kind/regression, needs/review, size/xs, os/garden-linux

#643 Startvm script fixes
  bin/start-vm
  examples/ipxe-install/boot.ipxe
  examples/ipxe/start-vm-ignition.ipxe
  examples/ipxe/start-vm.ipxe
Labels: needs/review, size/s

#644 fix: hand build arch over to makepart
  bin/garden-build
  bin/makepart
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#646 Fix (Readme): Fixed link to LICENSE.md
  README.md
Labels: reviewed/lgtm, size/xs

#654 adding new intermediate type
  Makefile
Labels: needs/review, size/xs

#655 Makefile format fix
  Makefile
Labels: reviewed/lgtm

#650 Delete “External Installation Planner Protocol” log
  features/base/file.exclude
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#663 fix component descriptor
  ci/github_release.py
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#661 Disable rp_filter due to incompatibility with Cilium
  features/cloud/file.include/etc/sysctl.d/20-cloud.conf
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#662 Missing selinux context for boot efi
  bin/makepart
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#660 Disable rp_filter due to incompatibility with Cilium
  features/cloud/file.include/etc/sysctl.d/20-cloud.conf
  features/gcp/file.include/etc/sysctl.d/60-gce-network-security.conf
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#657 doc: remove outdated releases page and refer to GitHub releases
  README.md
  docs/releases.md
Labels: area/os, kind/cleanup, needs/review, size/m, os/garden-linux

#652 git-ignore log files left behind from tests
  .gitignore
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#665 disable rp_filter and enable BTF for 576
  .gitignore
  features/cloud/pkg.include
  features/cloud/test/kernel_config_options
  features/metal/pkg.include
Labels: kind/enhancement, area/os, kind/technical-debt, reviewed/lgtm, size/s, os/garden-linux

#670 Fix package priority of the Garden Linux repo
  features/base/file.include/etc/apt/preferences.d/gardenlinux
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#674 fix gcp to work with new google-guest-agent package in repo
  features/gcp/exec.config
  features/gcp/file.include/etc/default/instance_configs.cfg
Labels: area/os, kind/bug, reviewed/lgtm, size/s, os/garden-linux

#678 Disable verity feature for KVM images
  features/kvm/fstab
  features/kvm/info.yaml
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#681 Mark which.debianutils as a script
  features/base/test/rkhunter.d/rkhunter.conf
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux
