Repository gardenlinux/gardenlinux, pull requests merged in 2022-03, with the labels that each got.

#675 fix: remove cni demo binaries from garden feature
  features/gardener/pkg.include
  features/khost/pkg.include
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#686 ci: new job image, add generation to environment
  ci/render_task.py
  ci/steps.py
Labels: area/os, reviewed/lgtm, size/xs, os/garden-linux

#690 Let Github Actions run with --lessram
  .github/workflows/build.yml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#667 add gardenlinux-selinux-module
  features/server/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#693 Add SSH Hardening documentation
  docs/configuration/ssh-hardening.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#684 Split (unit)tests and add running OS support
  bin/garden-build
  bin/garden-test
  build.sh
  docker/build-image/Dockerfile
Labels: area/os, needs/changes, needs/review, needs/second-opinion, size/l, os/garden-linux

#673 look for rw partition and make sure it is last for makedisk input
  bin/garden-build
Labels: area/os, kind/bug, needs/changes, needs/review, size/xs, os/garden-linux

#691 Add tpm2-tools for metal
  features/metal/pkg.include
Labels: area/security, needs/review, size/xs

#694 update: kernel 5.10.103
  features/cloud/pkg.include
  features/metal/pkg.include
Labels: reviewed/lgtm

#697 Documentation update, typos, default arch in build.sh
  README.md
  build.sh
  ci/README.md
  docs/test VM with start-vm and qemu.md
  features/README.md
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux, merge/squash

#698 Refactor ISO feature
  features/_iso/file.include/opt/install/install.fstab
  features/_iso/file.include/opt/install/install.part
  features/_iso/file.include/opt/install/install.sh
  features/_iso/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-overlay-setup.sh
  features/_iso/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-sysroot-generator.sh
  features/_iso/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_iso/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/prepare-squashfs.sh
  features/_iso/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/squash-mount-generator.sh
  features/_iso/image
  features/_iso/pkg.include
  features/_iso/test/capabilities
  features/_iso/test/capabilities.d/capabilities.list
Labels: needs/review, size/m

#699 fixing typo in kernel scripts
  features/cloud/file.include/etc/kernel/postrm.d/zz-update-syslinux
  features/metal/file.include/etc/kernel/postrm.d/zz-update-syslinux
Labels: needs/review, size/xs

#703 Sync sshd_config with SSH documentation
  docs/configuration/ssh-hardening.md
  features/server/file.include/etc/ssh/sshd_config
  features/server/test/sshd.d/ssh_expected
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#704 fix: remove arptables and ebtables packages
  features/gardener/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#705 fix: garden-version script when given version number as input
  bin/garden-version
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#706 feat: use self hosted runners
  .github/workflows/build.yml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#707 Feat/integration test kvm
  docker/integration-test/Dockerfile
  tests/README.md
  tests/integration/kvm.py
  tests/integration/misc/sshd-integration.test.service
  tests/integration/misc/sshd_config_integration_tests
  tests/integration/sshclient.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/l, os/garden-linux, merge/squash

#714 Mainly Documentation Update in /features and in /docs/build
  README.md
  build.sh
  docs/build/README.md
  features/README.md
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#708 doc: use new container for kernel module build
  docs/build/driver.md
Labels: needs/review, size/xs

#712 feat(test): add chroot as integration test platform (#709)
  tests/README.md
  tests/integration/chroot.py
  tests/integration/test_gardenlinux.py
  tests/test_config.yaml
Labels: area/os, reviewed/lgtm, size/l, os/garden-linux

#710 clean(hack): remove files from hack folder
  hack/docker-compose.yml
  hack/nginx.conf
  hack/raspbian.sh
  hack/steamos.sh
  hack/ubuntu.sh
Labels: reviewed/lgtm, size/xl

#718 update(kernel): use kernel 5.15
  features/cloud/pkg.include
  features/metal/pkg.include
Labels: reviewed/lgtm, size/xs

#724 test: prepare platform tests for pipeline integration
  ci/steps/run_tests.py
  ci/test_cfg.yaml
  tests/README.md
  tests/integration/aws.py
  tests/integration/azure.py
  tests/integration/conftest.py
  tests/integration/gcp.py
  tests/integration/sshclient.py
  tests/integration/test_gardenlinux.py
  tests/integration/util.py
  tests/tools/clean_orphans_aws.py
Labels: area/os, kind/test, reviewed/lgtm, size/xl, os/garden-linux, merge/squash

#723 feat(test): move wait_sshd() func to RemoteClient
  tests/integration/chroot.py
  tests/integration/kvm.py
  tests/integration/sshclient.py
  tests/test_config.yaml
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#727 fix(test): fix broken KVM test (wrong func. order)
  tests/integration/kvm.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#726 fix(test): fix integration tests for Ali, chroot, OpenStack, KVM
  tests/integration/conftest.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#728 Documentation Add
  features/_build/README.md
  features/_dev/README.md
  features/_ignite/README.md
  features/_iso/README.md
  features/_nopkg/README.md
  features/_prod/README.md
  features/_pxe/README.md
  features/_readonly/README.md
  features/_slim/README.md
  features/ali/README.md
  features/aws/README.md
  features/azure/README.md
  features/base/README.md
  features/chost/README.md
  features/cloud/README.md
  features/gardener/README.md
  features/gcp/README.md
  features/khost/README.md
  features/kvm/README.md
  features/metal/README.md
  features/oci/README.md
  features/openstack/README.md
  features/server/README.md
  features/vhost/README.md
  features/vmware/README.md
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux, merge/squash

#734 fix(test): Adjust 'unarchive' func. in chroot platform to support xattrs
  tests/integration/chroot.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux
