Repository gardenlinux/gardenlinux, pull requests merged in 2022-04, with the labels that each got.

#738 Tests/shellcheck
  docker/integration-test/Dockerfile
  tests/shellcheck/README.md
  tests/shellcheck/conftest.py
  tests/shellcheck/error.ignore
  tests/shellcheck/file.ignore
  tests/shellcheck/pytest.ini
  tests/shellcheck/test_shellcheck_gl_source.py
Labels: needs/review, size/m

#743 doc(tests): Add ToC, reorder content, adjust content
  tests/README.md
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/xl, os/garden-linux

#741 feat(features): Add possibility to make features exclusive
  bin/garden-feat.go
  features/README.md
  features/example/info.yaml
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux

#745 clean(hack): remove legacy files + add README
  hack/README.md
  hack/build-all.sh
  hack/kvmvirt.xml
Labels: reviewed/lgtm, size/m

#742 Documentation: FAQ.md and Repository Readme
  docs/FAQ.md
  docs/Repository/README.md
Labels: kind/enhancement, area/documentation, reviewed/lgtm, size/m, os/garden-linux

#748 clean: delete flavours.md
  flavours.md
Labels: reviewed/lgtm, size/xs

#750 fix: remove error message for error string
  bin/garden-feat.go
Labels: area/os, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#749 feat: mechanism to let Gardener configure OS settings
  docs/configuration/gardener-kernel-restart.md
  features/gardener/exec.config
  features/gardener/file.include/etc/systemd/system/gardener-configure-settings.service
  features/gardener/file.include/etc/systemd/system/gardener-restart-kernel.service
  features/gardener/file.include/var/lib/gardener-gardenlinux/01_cgroup_configure.sh
  features/gardener/file.include/var/lib/gardener-gardenlinux/02_configure_lsm.sh
  features/gardener/file.include/var/lib/gardener-gardenlinux/03_iptables_backend.sh
  features/gardener/file.include/var/lib/gardener-gardenlinux/restart_kernel.sh
  features/server/file.include/etc/kernel/cmdline.d/90-lsm.cfg
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux, merge/squash

#730 Adopt feature tests to pytest
  docker/integration-test/Dockerfile
  features/_dev/test/test_packages_musthave.py
  features/_iso/test/test_capabilities.py
  features/_iso/test/test_packages_musthave.py
  features/_pxe/test/test_capabilities.py
  features/_pxe/test/test_packages_musthave.py
  features/ali/test/test_packages_musthave.py
  features/aws/test/test_packages_musthave.py
  features/azure/test/test_packages_musthave.py
  features/base/test/test_blacklisted_packages.py
  features/base/test/test_capabilities.py
  features/base/test/test_debsums.py
  features/base/test/test_packages_musthave.py
  features/chost/test/test_packages_musthave.py
  features/cloud/test/test_packages_musthave.py
  features/gardener/test/test_packages_musthave.py
  features/gcp/test/test_blacklisted_packages.py
  features/gcp/test/test_packages_musthave.py
  features/khost/test/test_packages_musthave.py
  features/kvm/test/test_packages_musthave.py
  features/metal/test/test_packages_musthave.py
  features/openstack/test/test_packages_musthave.py
  features/server/test/test_capabilities.py
  features/server/test/test_packages_musthave.py
  features/vmware/test/test_packages_musthave.py
  tests/README.md
  tests/conftest.py
  tests/helper/__init__.py
  tests/helper/exception.py
  tests/helper/tests/__init__.py
  tests/helper/tests/blacklisted_packages.py
  tests/helper/tests/capabilities.py
  tests/helper/tests/debsums.py
  tests/helper/tests/packages_musthave.py
  tests/helper/utils.py
  tests/integration/sshclient.py
  tests/integration/test_gardenlinux.py
  tests/pytest.ini
Labels: kind/enhancement, area/os, needs/rebase, needs/changes, needs/review, needs/second-opinion, size/xl, os/garden-linux

#753 docs: integrate package documentation
  docs/FAQ.md
  docs/README.md
  docs/Repository/README.md
  docs/build/README.md
  docs/build/driver.md
  docs/build/troubleshooting.md
  docs/kernel.md
  docs/repository/README.md
  docs/test_VM_with_start-vm_and_qemu.md
Labels: reviewed/lgtm, size/xl

#756 fix(tests): do not attempt to read empty ssh keys
  tests/integration/azure.py
  tests/integration/sshclient.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#763 fix cipher order to match order in sshd_config
  features/server/test/sshd.d/ssh_expected
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#762 support community image for AliCloud
  ci/glci/alicloud.py
  ci/requirements.txt
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#766 test: check for presence of SELinux
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#767 fix: metal/cloud exec.confing
  features/cloud/exec.config
  features/metal/exec.config
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#752 add integration tests to build.sh
  Makefile
  README.md
  bin/garden-integration-test-config
  build.sh
  container/Makefile
  container/base-test/Dockerfile
  container/integration-test/Dockerfile
  tests/Pipfile
  tests/Pipfile.lock
  tests/README.md
  tests/conftest.py
  tests/helper/tests/capabilities.py
  tests/helper/tests/debsums.py
  tests/helper/utils.py
  tests/integration/misc/sshd_config_integration_tests
  tests/integration/sshclient.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/l, os/garden-linux

#770 fixes image location
  bin/Makefile
Labels: needs/review, size/xs

#777 Remove authorized_key from _dev feature
  features/_dev/exec.config
  features/_dev/file.include/authorized_keys
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#795 doc: require squashed commits in contribution guidelines
  CONTRIBUTING.md
Labels: size/xs

#797 Add libssl1.1 to blacklisted packages
  features/base/test/blacklisted-packages.d/blacklisted-packages.list
  features/base/test/blacklisted-packages.d/final.list
Labels: size/xs

#761 skip tests that do not pass on chroot or kvm
  tests/conftest.py
  tests/helper/sshclient.py
  tests/integration/ali.py
  tests/integration/aws.py
  tests/integration/azure.py
  tests/integration/chroot.py
  tests/integration/gcp.py
  tests/integration/kvm.py
  tests/integration/manual.py
  tests/integration/openstackccee.py
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/bug, reviewed/lgtm, size/m, os/garden-linux, merge/squash

#799 replace tripwire with aide
  features/cis/README.md
  features/cis/info.yaml
  features/cis/test/check_scripts/1.4.3_install_aide.sh
  features/cis/test/check_scripts/1.4.4_aide_cron.sh
  features/cis/test/conf.d/1.4.1_install_tripwire.cfg
  features/cis/test/conf.d/1.4.2_tripwire_cron.cfg
  features/cis_aide/file.include/etc/aide/aide.conf
  features/cis_aide/file.include/etc/systemd/system/default.target.wants/gardenlinux-aide-setup.service
  features/cis_aide/file.include/etc/systemd/system/gardenlinux-aide-setup.service
  features/cis_aide/file.include/usr/bin/aideinit
  features/cis_aide/info.yaml
  features/cis_aide/pkg.include
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#794 feat: Add tool to inject ssh pubkey to a final artifact
  bin/inject-sshkey
Labels: needs/review, size/m

#800 feat: switchable build container runtime
  Makefile
  README.md
  bin/Makefile
  bin/start-vm
  build.sh
  cert/Makefile
  container/Makefile
  container/needslim
  features/fedramp/test/test.sh
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#801 feat(doc): Add documentation for the `bin/` directory
  bin/README.md
Labels: kind/enhancement, area/os, reviewed/lgtm, size/m, os/garden-linux

#804 add missing newline at the end of the aide config
  features/cis_aide/file.include/etc/aide/aide.conf
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#834 harden kvm test environment
  features/cis_aide/file.include/usr/bin/aideinit
  tests/integration/kvm.py
  tests/integration/misc/sshd-integration.test.service
Labels: area/os, kind/bug, needs/changes, needs/review, size/xs, os/garden-linux

#837 fix(feature): Add SELinux bootloader test
  features/cis/test/check_scripts/1.7.1.2_enable_selinux.sh
  features/cis/test/conf.d/1.7.1.2_enable_apparmor.cfg
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#840 fix: Gitter chat badge links to gitter channel
  README.md
Labels: reviewed/lgtm, size/xs

#841 fix(test): Fix CIS related test scripts
  features/cis/test/check_scripts/1.2.1_ensure_repository_is_configured.sh
  features/cis/test/check_scripts/1.2.2_ensure_apt_gpg_keys.sh
  features/cis/test/check_scripts/1.5.1_bootloader_ownership_syslinux.sh
Labels: area/os, kind/bug, needs/review, size/m, os/garden-linux

#843 Add custom whitelist checks for CIS tests
  features/cis/test/conf.d/6.1.13_find_suid_files.cfg
  features/cis/test/conf.d/6.1.14_find_sgid_files.cfg
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux
