Repository gardenlinux/gardenlinux, pull requests merged in 2022-08, with the labels that each got.

#1148 576: Kernel-update and fix of build-image
  .gitignore
  ci/steps/build_base_image.py
  docker/needslim
  features/cloud/pkg.include
  features/metal/pkg.include
Labels: area/os, kind/technical-debt, kind/cleanup, reviewed/lgtm, size/s, os/garden-linux

#1146 Feature/1119 gardenlinux version number is always today
  bin/garden-build
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#1153 feat: use apparmor as lsm for Gardener feature
  features/gardener/file.include/etc/kernel/cmdline.d/90-lsm.cfg
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1123 feature(test): Make feature test work with AWS images (arm64/amd64)
  tests/helper/sshclient.py
  tests/helper/tests/ssh_authorized.py
  tests/integration/aws.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1060 add nftables as replacement for iptables
  features/aide/exec.config
  features/cis/README.md
  features/cis/test/check_scripts/3.5.1.1_enable_firewall.sh
  features/cis/test/check_scripts/3.5.4.1.1_net_fw_default_policy_drop.sh
  features/fedramp/README.md
  features/fedramp/exec.config
  features/fedramp/file.include/etc/firewall/ipv4_flush.sh
  features/fedramp/file.include/etc/firewall/ipv4_gl_default.conf
  features/fedramp/file.include/etc/firewall/ipv6_flush.sh
  features/fedramp/file.include/etc/firewall/ipv6_gl_default.conf
  features/fedramp/file.include/etc/systemd/system/gardenlinux-fw-ipv4.service
  features/fedramp/file.include/etc/systemd/system/gardenlinux-fw-ipv6.service
  features/fedramp/info.yaml
  features/firewall/README.md
  features/firewall/exec.config
  features/firewall/file.include/etc/nft.d/default.conf
  features/firewall/pkg.include
  tests/integration/kvm.py
  tests/integration/misc/nft_ssh_integration_test_ports.conf
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/m, os/garden-linux

#1157 Update Start-VM: Added support for Manjaro
  bin/start-vm
Labels: kind/enhancement, needs/review, size/xs

#1154 move ro /usr from cloud to gardener feature
  features/gardener/fstab.mod
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1156 bug: build fails on mac because there is no /bin/true
  build.sh
Labels: kind/bug, needs/review, size/xs

#1162 fix(tests-doc): Fix tag/version for testing containers
  tests/README.md
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1164 fix(build): Fix Makefile for macOS
  container/Makefile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1165 check if .git directory is present
  build.sh
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1167 cleanup(unittest): Remove deprecated `garden-test` test framework
  bin/README.md
  bin/garden-test
  build.sh
  docs/build/README.md
Labels: area/os, kind/cleanup, needs/changes, needs/review, needs/second-opinion, size/l, os/garden-linux

#1168 Readme Update + StartVM Fix
  README.md
  bin/start-vm
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1161 fix: move login.defs umask to base feature
  features/base/exec.config
  features/base/test/test_umask.py
  features/cloud/exec.config
Labels: needs/review, size/xs

#1160 fix dmverity configuration
  bin/makepart
  bin/makesecureboot
  features/_fstab_verity/README.md
  features/_fstab_verity/fstab.mod
  features/_fstab_verity/info.yaml
  features/_readonly/README.md
  features/_readonly/fstab.mod
  features/_readonly/info.yaml
  features/cloud/info.yaml
Labels: area/os, kind/bug, needs/review, size/m, os/garden-linux

#1169 fix(SELinux): Reenable `setfiles` for `SELinux` file contexts
  bin/makepart
  features/_pxe/image
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1171 feat(test): Move LSM tests to dedicated gardener test folder
  features/gardener/test/test_lsm.py
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1176 feat(docu): Enhance the documentation of the _readonly feature
  features/_readonly/README.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1175 feature(pkg): Add pkg virtinst for feature vhost #1174
  features/vhost/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1180 feat(pkg): Add pkg dnsmasq for feature vhost #1179
  features/vhost/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1188 feat(pkg): Add pkg dmidecode for feature vhost
  features/vhost/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1178 Feature/345 add gardenlinux image flavour for hypervisor generation v2
  tests/README.md
  tests/integration/azure.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/xs, os/garden-linux

#1190 remove _readonly from cloud feature
  features/_readonly/fstab.mod
  features/cloud/info.yaml
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1197 hotfix(selinux): Temporary deactivate gardenlinux-selinux-module
  features/server/pkg.include
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1216 Validate the /usr is read-only.
  features/base/test/test_usr_ro.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#1194 add local_packages and how to replace the kernel to the docs
  docs/build/README.md
Labels: area/os, kind/bug, needs/changes, needs/review, size/s, os/garden-linux

#1229 feat: github actions: arm64 aws platform tests
  .github/workflows/aws_tests.sh
  .github/workflows/tests.yml
Labels: kind/enhancement, area/os, reviewed/lgtm, size/s, os/garden-linux

#1217 Enable Azure accelerated networking
  features/azure/file.include/etc/systemd/99-azure-unmanaged-devices.network
  tests/README.md
  tests/integration/azure.py
Labels: kind/enhancement, area/os, needs/rebase, size/xs, os/garden-linux

#1231 fix: github actions: gcp ignore --arch arguments
  .github/workflows/gcp_tests.sh
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#1232 feat: add azure-cli to gh-actions runner
  features/github_action_runner/pkg.include
Labels: area/os, kind/technical-debt, needs/review, size/xs, os/garden-linux

#1237 fix(start-vm): Fix running `start-vm` inside a container
  bin/start-vm
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1233 cleanup(chost): Cleanup chost feature
  features/chost/README.md
  features/chost/exec.config
  features/chost/file.include/etc/sysctl.d/ip-forward.conf
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#1236 tests(firewall): Add unit tests for feature `firewall`
  features/firewall/test/test_nft_config.py
  features/firewall/test/test_packages_musthave.py
  features/firewall/test/test_systemd_units.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1228 test: make Azure vm_size selectable
  tests/README.md
  tests/integration/azure.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux
