Repository gardenlinux/gardenlinux, pull requests merged in 2022-06, with the labels that each got.

#984 feat(pytest): Remove deprecated test `dev`
  features/base/test/dev
  features/base/test/dev.d/dev.files
Labels: area/os, kind/cleanup, needs/review, size/s, os/garden-linux

#979 Migrate legacy unit test `orphaned` to Pytest
  features/base/test/orphaned.chroot
  features/base/test/test_orphaned.py
  tests/helper/tests/orphaned.py
  tests/helper/utils.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#985 feat(pytest): Migrate legacy `groups` unit test to Pytest
  features/base/test/groups.chroot
  features/base/test/groups.d/groups.list
  features/base/test/test_groups.py
  tests/helper/tests/groups.py
  tests/helper/tests/users.py
Labels: area/os, kind/test, needs/review, size/m, os/garden-linux

#990 replace waagent with cloud-init in azure and disable cloud-init netwo…
  features/azure/exec.config
  features/azure/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#992 feat(selinux): Activate SELinux (mode=enforcing)
  features/cis_os/file.include/etc/selinux/config
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#995 tests: support ARM64 for tests on AWS
  ci/glci/aws.py
  tests/README.md
  tests/integration/aws.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1001 fix(ci): Fix Py syntax in `aws.py` errors
  ci/glci/aws.py
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#991 Ci: build step-image on the fly
  ci/README.md
  ci/build_kaniko.py
  ci/images/step_image/Dockerfile
  ci/images/step_image/requirements.txt
  ci/make_github_release.py
  ci/params.py
  ci/render_pipeline_run.py
  ci/requirements.txt
  ci/steps.py
  ci/steps/build_step_image.py
  ci/tasks.py
Labels: kind/cleanup, needs/review, size/m

#994 Migrate rkhunter test to pytest
  features/base/test/rkhunter.chroot
  features/base/test/test_rkhunter.py
  tests/helper/tests/rkhunter.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/s, os/garden-linux

#1004 fix(startvm): Allow virtualized ARM64 systems to run QEMU
  bin/start-vm
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1005 test: enable Azure boot diagnostics
  tests/integration/azure.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#1007 test: seperate capability list
  build.sh
Labels: area/os, kind/bug, kind/test, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#915 907: dpkg origin gardenlinux
  features/base/exec.config
  features/base/file.include/etc/dpkg/origins/gardenlinux
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1002 test: speed up Azure image upload
  tests/integration/azure.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#1016 feat: update kernel to 5.10.123
  features/cloud/pkg.include
  features/metal/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1015 fix(SELinux): Temporary deactivate 'setfiles' command
  bin/makepart
  features/_pxe/image
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1012 test: use ssd for test vms
  tests/integration/aws.py
  tests/integration/azure.py
  tests/integration/gcp.py
  tests/integration/util.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#1018 fix: use .endswith to check for allowed image extensions
  tests/integration/chroot.py
  tests/integration/kvm.py
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#1023 Ci: also add digest to rootfs-resources
  ci/steps/component_descriptor.py
Labels: reviewed/lgtm, size/xs

#1017 fix: use $version instead of hardcoded dev for test container
  build.sh
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#729 move secure boot unified uefi image creation into feature flag
  Makefile
  bin/garden-build
  bin/make_reproducible_ext4
  bin/make_reproducible_swap
  bin/make_reproducible_vfat
  bin/makedisk
  bin/makepart
  bin/makesecureboot
  bin/uuid_hash
  features/_secureboot/file.exclude
  features/_secureboot/fstab.mod
  features/_secureboot/info.yaml
  features/_secureboot/pkg.exclude
  features/cloud/exec.config
  features/cloud/file.include/etc/kernel/entry-token
  features/cloud/file.include/etc/kernel/postinst.d/zz-kernel-install
  features/cloud/file.include/usr/lib/kernel/install.d/95-unified.install
  features/metal/exec.config
  features/metal/file.include/etc/kernel/entry-token
  features/metal/file.include/etc/kernel/postinst.d/zz-kernel-install
  features/metal/file.include/usr/lib/kernel/install.d/95-unified.install
  features/server/pkg.include
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1013 feature(build): Add support for macOS
  README.md
  bin/.constants.sh
  bin/garden-build
  bin/garden-version
  bin/start-vm
  build.sh
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#1027 Add support for macOS and CentOS (Stream) in `startvm`
  README.md
  bin/start-vm
Labels: area/os, kind/bug, needs/review, size/m, os/garden-linux

#1029 remove out commented cloud-guest-utils from metal and cloud feature
  features/cloud/pkg.include
  features/metal/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1041 Feature/1033 kvm arm unittests
  container/base-test/Dockerfile
  tests/README.md
  tests/integration/kvm.py
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#1048 fix: debugfs timestamps
  bin/make_reproducible_ext4
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1046 test: check for timestamps in the future
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1034 fix: install latest cloud-init for alicloud
  features/ali/pkg.include
  features/server/file.include/etc/systemd/system/systemd-resolved.service.d/wait-for-networkd.conf
  tests/integration/test_gardenlinux.py
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#1026 enable verity in readonly feature
  features/_readonly/info.yaml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1010 test(manual): reenable manual test for existing host
  tests/conftest.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1061 feature(pytest): Add PyTest for validating the `machine-id`
  features/server/test/test_machine_id.py
  tests/helper/tests/machine_id.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1075 fix: use dynamic version for the base image of integration-test
  container/Makefile
  container/integration-test/Dockerfile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1077 Integrate arch for KVM tests properly
  bin/garden-integration-test-config
  build.sh
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1058 feat(startvm): General enhancements for `startvm`
  bin/start-vm
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#1080 feature(startvm): Check if `/dev/kvm` can be used by user
  bin/README.md
  bin/start-vm
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/s, os/garden-linux
