Repository gardenlinux/gardenlinux, pull requests merged in 2022-10, with the labels that each got.

#1313 fix: increase startup time tolerance in integration tests
  tests/integration/test_gardenlinux.py
Labels: needs/review, size/xs

#1315 feat: clean_orphans_aws can be forced
  tests/tools/clean_orphans_aws.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1318 feat(pytest): Add Firecracker IAAS for PyTest
  container/integration-test/Dockerfile
  tests/README.md
  tests/conftest.py
  tests/integration/firecracker.py
Labels: area/os, kind/test, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1322 fix(integration-test): Add missing arch eval after moving to new test container
  container/integration-test/Dockerfile
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1323 feat(ARM64): Add ARM64 util support for integration-test container
  container/integration-test/Dockerfile
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1327 docs(tests): Extend testing docs
  tests/README.md
Labels: area/os, needs/review, size/m, os/garden-linux

#1330 enhancement(pytest): Align hardware architectures for Pytest
  tests/README.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1332 doc(contributing): Adding doc for contributing and naming convention
  CONTRIBUTING.md
  docs/contributing/README.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1329 feat: Add Garden Linux Repo and onmetal-image to build container
  container/Makefile
  container/build-image/Dockerfile
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1331 feature(buildpipeline): Add possibility to define file permissions
  bin/garden-config
  features/README.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1336 cleanup(contribution): Mention "cleanup/" as allowed prefix
  CONTRIBUTING.md
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1335 cleanup(feature): Remove unused and deprecated devkey.sh file
  features/_dev/devkey.sh
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#1341 fix path to polkit-agent-helper-1 in test_sgid_suid_files
  features/base/test/test_sgid_suid_files.py
  features/vhost/test/test_sgid_suid_files.py
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1344 fix(azure): include udev rules for Az storage
  features/azure/file.include/etc/udev/rules.d/60-hyperv-ptp.rules
  features/azure/file.include/etc/udev/rules.d/66-azure-storage.rules
  features/azure/file.include/etc/udev/rules.d/99-azure-product-uuid.rules
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#1339 cleanup(build-pipeline): Cleanup of code (comments etc.)
  bin/garden-build
  bin/garden-config
  bin/garden-fs
  bin/garden-integration-test-config
  bin/shrink.sh
  bin/upload-openstack
  bin/uuid_hash
  features/_iso/exec.config
  features/_pxe/exec.config
  features/aws/exec.config
  features/cloud/exec.config
  features/metal/pkg.include
  features/metal/todo
  features/server/file.include/etc/default/locale
  features/server/file.include/etc/dracut.conf.d/25-uefi-stub.conf
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1345 fix(start-vm): add garden as supported host_dist
  bin/start-vm
Labels: needs/review, size/xs

#1346 file.include.stat extras
  bin/garden-config
Labels: needs/review, size/xs

#1354 doc(build): Add doc for building in an air-gapped environment
  README.md
  docs/build/README.md
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1355 doc(build): Fix link in `README.md`
  README.md
Labels: area/os, needs/review, size/xs, os/garden-linux

#1356 use aws-sdk-cpp and aws-kms-pkcs11 from gardenlinux repo
  container/build-image/Dockerfile
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1359 fix: github actions: correct commit in github release page
  .github/workflows/release.sh
  .github/workflows/release.yml
Labels: needs/review, size/xs

#1361 fix: don't fail fast in release action
  .github/workflows/release.yml
Labels: needs/review

#1362 feat: GitHub actions: upload integration test logs to S3
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: needs/review, size/s

#1363 temporary: use yesterday version for repo
  .github/workflows/nightly.yml
Labels: needs/review

#1365 fix: upload integration test logs to s3
  .github/workflows/upload_to_s3.yml
Labels: needs/review

#1368 feat: include integration tests logs in release artifacts
  .github/workflows/release.yml
Labels: needs/review

#1369 fix: naming of integration tests logs S3 keys
  .github/workflows/release.yml
Labels: needs/review

#1370 Revert "temporary: disable firecracker"
  .github/workflows/build.yml
Labels: needs/review
