Repository gardenlinux/gardenlinux, pull requests merged in 2023-04, with the labels that each got.

#1620 fix: differential-shellcheck on push event
  .github/workflows/differential-shellcheck.yml
Labels: needs/review, size/xs

#1600 feat(ci): scan for missing packages
  .github/workflows/check-pkgs-includes-from-features.yml
  bin/check-pkgs-availability.sh
Labels: needs/review, size/m

#1623 fix(pxe): enable gl-live dracut module, remove extra dracut run
  features/_pxe/exec.config
  features/_pxe/file.include/etc/dracut.conf.d/20-gl-live.conf
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-sysroot-generator.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/squash-mount-generator.sh
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1625 fix(ci): platform test action auth condition
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
Labels: needs/review, size/xs

#1604 ci: include release note generation in automation.
  .github/workflows/generate_release_note.py
  .github/workflows/release.sh
Labels: needs/review, size/xs

#1627 fix: kvm platform tests
  bin/start-vm
  tests/integration/kvm.py
Labels: needs/review, size/xs

#1629 refactor: systemd failed units test
  features/base/test/test_systemd.py
Labels: needs/review, size/xs

#1621 fix: serial console default on cloud provider
  features/ali/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/aws/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/azure/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/cloud/file.include/etc/kernel/cmdline.d/00-default.cfg
  features/gardener/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/gcp/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/kvm/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/metal/file.include/etc/kernel/cmdline.d/00-default.cfg
  features/metal/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/openstack/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/vmware/file.include/etc/kernel/cmdline.d/10-console.cfg
Labels: needs/review, size/xs

#1630 fix: /etc/locale.conf as source of truth for systemd compatibility
  features/server/exec.config
  features/server/file.include/etc/locale.conf
Labels: needs/review, size/xs

#1632 fix(tests): workaround for azure sudo -l -U check
  tests/helper/tests/users.py
Labels: area/os, kind/test, reviewed/lgtm, size/xs, os/garden-linux

#1635 pulling sap feature
  features/gardener/info.yaml
Labels: needs/review, size/xs

#1493 feature(vmware): switch ovf transport to vmware tools
  features/vmware/vmware.ovf.template
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/xs, os/garden-linux

#1636 feat(sap): include sap feature in gardener feature (#1635)
  features/gardener/info.yaml
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1642 server exec.conf fixes
  features/server/exec.config
Labels: needs/review, size/xs, gi

#1641 SAP specific changes
  features/cloud/file.include/etc/profile.d/50-autologout.sh
  features/cloud/test/test_autologout.py
  features/sap/exec.post
  features/sap/file.include/etc/issue
  features/sap/file.include/etc/issue.net
  features/sap/file.include/etc/motd
  features/sap/file.include/etc/tmpfiles.d/legacy.conf
  features/sap/pkg.include
Labels: size/s, gi

#1640 fix: fix content and permissions on audit rules
  features/log/file.include.stat
  features/sap/file.include.stat
  features/sap/file.include/etc/audit/rules.d/privilege_escalation.rules
  features/sap/file.include/etc/audit/rules.d/system_integrity.rules
Labels: needs/review, size/xs, gi

#1639 fix: disable unneeded kernel modules
  features/azure/file.exclude
  features/cloud/file.include/etc/modprobe.d/disabled_firewire.conf
  features/cloud/file.include/etc/modprobe.d/disabled_fs.conf
  features/cloud/file.include/etc/modprobe.d/disabled_net.conf
  features/cloud/file.include/etc/modprobe.d/disabled_udf.conf
  features/cloud/file.include/etc/modprobe.d/disabled_usb.conf
Labels: needs/review, size/xs, gi

#1637 hack(gl-search): download garden linux package
  hack/gl-search.sh
Labels: needs/review, size/s

#1602 fix(github runner): include python dependencies via apt
  features/githubActionRunner/pkg.include
Labels: needs/review, size/xs

#1316 Add a _debug feature, which includes a debian-slim based container image to the garden linux image
  features/_debug/README.md
  features/_debug/exec.config
  features/_debug/file.include/etc/debugbox.conf
  features/_debug/file.include/etc/systemd/system/setup-debugbox-ssh.service
  features/_debug/file.include/etc/systemd/system/ssh-container.service
  features/_debug/file.include/usr/sbin/setup-debugbox-ssh
  features/_debug/info.yaml
  features/_debug/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1643 feat: upgrade to 6.1 kernel
  container/Makefile
  features/cloud/pkg.include
  features/firecracker/pkg.include
  features/metal/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1647 fix: remove test_loadavg
  features/base/test/test_basics.py
Labels: needs/review, reviewed/lgtm, size/xs
