Repository gardenlinux/gardenlinux, pull requests merged in 2023-07, with the labels that each got.

#1701 document SELinux build requirements and update builder
  README.md
  build
Labels: needs/review, size/xs

#1702 update builder
  build
Labels: needs/rebase, needs/review, size/xs

#1704 update builder
  build
Labels: needs/review

#1705 Exclude firewall feature from gardener feature
  features/gardener/info.yaml
  features/gardener/test/file.exclude.d/file.exclude.list
  features/gardener/test/test_files_excluded.py
  tests/Dockerfile
  tests/helper/tests/files_excluded.py
Labels: area/os, kind/bug, needs/review, size/s, os/garden-linux

#1710 disable cryptsetup for _readonly feature
  features/_readonly/fstab.mod
Labels: needs/review, size/xs

#1711 update builder
  build
Labels: needs/review, size/xs

#1712 GitHub actions: publish nightly container base image to ghcr.io
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/publish_container.yml
  features/base/pkg.include
  features/cloud/pkg.include
  features/container/image.oci
  features/container/test/debsums.disable
  features/firecracker/pkg.include
Labels: needs/review, size/s

#1714 start-vm: Make uefi boot default, fix logic for ubuntu
  bin/start-vm
Labels: reviewed/lgtm, size/xs

#1715 use token instead of ${{ github.actor }}
  .github/workflows/publish_container.yml
Labels: needs/review, size/xs
