Repository gardenlinux/gardenlinux, pull requests merged in 2023-09, with the labels that each got.

#1754 update builder
  build
Labels: needs/review, size/xs

#1751 clean: remove garden-integration-test-config
  bin/garden-integration-test-config
Labels: reviewed/lgtm, size/s

#1752 doc: remove legacy references
  tests/README.md
Labels: reviewed/lgtm, size/s

#1758 test: limit azure nsg to incoming ssh from test system
  tests/integration/azure.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1757 Switch from /boot/efi to /efi
  build
  features/_boot/exec.late
  features/_boot/file.exclude
  features/_boot/file.include/usr/local/sbin/update-syslinux
  features/_readonly/README.md
  features/_readonly/fstab.mod
  features/_secureboot/exec.config
  features/_secureboot/fstab.mod
  features/_secureboot/test/test_empty_files_boot_efi.py
  features/base/fstab
  features/cis/test/check_scripts/1.5.1_bootloader_ownership_syslinux.sh
  features/cis/test/check_scripts/1.7.1.2_enable_selinux.sh
  features/cis/test/check_scripts/4.1.1.3_audit_bootloader.sh
  features/cis/test/check_scripts/4.1.1.4_audit_backlog_limit.sh
  features/cisPartition/fstab
  features/kvm/file.include/etc/systemd/system/ignition-disable.service
  features/vmware/file.include/etc/systemd/system/ignition-disable.service
Labels: needs/review, size/s

#1759 update-syslinux - parse sdboot loader entries to generate config
  features/_boot/exec.late
  features/_boot/file.include/usr/local/sbin/update-syslinux
Labels: needs/review, size/m

#1763 start-vm: Support using fedora linux hosts
  bin/start-vm
Labels: kind/enhancement, area/os, needs/review, size/xs, os/garden-linux

#1764 update builder
  build
Labels: needs/review, size/xs
