Repository gardenlinux/gardenlinux, pull requests merged in 2023-10, with the labels that each got.

#1762 adr: dists can never change retroactively
  docs/architecture/decisions/0002-dists-can-never-change-retroactively.md
Labels: needs/review, size/s

#1769 Add lima/vscode ssh plugin dev environment
  hack/lima-dev-env.yaml
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1774 fix(startvm): Add note regarding UEFI firmware for ARM64 guests
  bin/README.md
  bin/start-vm
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1767 hack: script to lists download paths of a given apt package
  hack/gl-pkg-url.sh
Labels: needs/review, size/xs

#1784 fix(vmware): Fix vmware feature in combination with ARM64 based systems
  features/vmware/exec.config
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1783 feature(pkg2deps): Add `pkg2deps` to find missing dependencies
  bin/README.md
  bin/pkg2deps
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1791 openstack bare-metal feature (#1781)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upload_to_s3.yml
  features/base/test/test_users.py
  features/openstackbaremetal/README.md
  features/openstackbaremetal/convert.qcow2
  features/openstackbaremetal/convert.vmdk
  features/openstackbaremetal/exec.config
  features/openstackbaremetal/file.include/etc/cloud/cloud.cfg.d/01_debian-cloud.cfg
  features/openstackbaremetal/file.include/etc/cloud/cloud.cfg.d/50-datasource.cfg
  features/openstackbaremetal/file.include/etc/cloud/cloud.cfg.d/99_disable-network-config.cfg
  features/openstackbaremetal/file.include/etc/cloud/ds-identify.cfg
  features/openstackbaremetal/file.include/etc/default/grub.d/90_openstack_cc_ee.cfg
  features/openstackbaremetal/file.include/etc/kernel/cmdline.d/40-enable-swap-cgroup-accounting.cfg
  features/openstackbaremetal/file.include/etc/profile.d/50-autologout.sh
  features/openstackbaremetal/file.include/etc/repart.d/root.conf
  features/openstackbaremetal/file.include/etc/sysctl.d/20-cloud.conf
  features/openstackbaremetal/info.yaml
  features/openstackbaremetal/pkg.include
  features/openstackbaremetal/test/test_check_files.py
  features/openstackbaremetal/test/test_content_in_file.py
  features/openstackbaremetal/test/test_packages_musthave.py
  features/openstackbaremetal/test/test_users.py
  features/server/test/test_users.py
  flavours.yaml
  tests/conftest.py
Labels: kind/enhancement, area/os, needs/review, size/m, os/garden-linux

#1796 Pin debian images for dev env
  hack/lima-dev-env.yaml
Labels: area/os, kind/technical-debt, needs/review, size/xs, os/garden-linux

#1800 fix(gl-search): use https
  hack/gl-search.sh
Labels: needs/review, size/xs

#1801 fix: use https for bootstraping apt repo
  get_repo
Labels: needs/review, size/xs

#1802 test: remove deprecated u import
  tests/helper/sshclient.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1806 ci: pin extern github actions to commitsh or fork
  .github/workflows/build.yml
  .github/workflows/differential-shellcheck.yml
Labels: needs/review, size/xs
