Repository gardenlinux/gardenlinux, pull requests merged in 2023-05, with the labels that each got.

#1650 fix: use sane default for ext4 journal size
  bin/make_reproducible_ext4
  bin/makepart
Labels: needs/review, size/xs

#1646 release: prepare 934.8
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
  VERSION
  bin/make_reproducible_ext4
  bin/makepart
Labels: reviewed/lgtm, size/xs

#1652 Update aws-credentials action to v2
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: area/os, kind/cleanup, needs/review, size/xs, os/garden-linux

#1653 fix: acl policies for 934
  tests/integration/aws.py
Labels: reviewed/lgtm, size/xs

#1655 fix(ci): turn off auto release note gen
  .github/workflows/release.sh
Labels: reviewed/lgtm, size/xs

#1654 ci: add python3-click as dependency to auto generate release notes
  features/githubActionRunner/pkg.include
Labels: needs/review, size/xs

#1651 fix(test): azure boot is slower than other cloud provider
  features/azure/test/test_azure_times.py
  features/base/test/test_basics.py
Labels: area/os, kind/test, needs/review, size/s, os/garden-linux

#1659 fix: remove load_avg again
  features/azure/test/test_azure_times.py
Labels: needs/review, size/xs

#1663 fix: remove haveged related leftovers
  features/metal/exec.config
  features/metal/file.exclude
Labels: needs/review, size/xs

#1665 chore: Gitignore uefi vars files
  .gitignore
Labels: needs/review, size/xs

#1664 chore: Fix typos in README files
  README.md
  features/_debug/README.md
  features/_readonly/README.md
  features/metal/README.md
  features/vhost/README.md
Labels: needs/review, size/xs

#1666 test(fix): wait for systemd to finish on azure
  tests/helper/utils.py
  tests/integration/azure.py
Labels: needs/review, size/xs

#1671 test: abort all tests if SSH connection fails
  tests/helper/sshclient.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux, merge/squash

#1670 test: increase timeout for GCP Image import
  tests/integration/gcp.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1673 Fix CI link in readme
  README.md
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux
