Repository gardenlinux/gardenlinux, pull requests merged in 2023-08, with the labels that each got.

#1719 Set SYSTEMD_ESP_PATH to /boot/efi for kernel-install
  features/_boot/exec.late
Labels: needs/review, size/xs

#1721 fix(ci): nightly for 934 must be triggered with version
  .github/workflows/nightly-rel934.yml
Labels: needs/review, size/xs

#1724 doc: description of time sources
  docs/configuration/time-configuration.md
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1725 distroless
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/publish_container.yml
  build_distroless
  distroless/libc/base
  distroless/libc/dpkg_include
  distroless/libc/include
  distroless/libc/mode
  distroless/libc/target
  distroless/sapmachine/base
  distroless/sapmachine/mode
  distroless/sapmachine/target
  features/_curl/info.yaml
  features/_curl/pkg.include
  features/container/info.yaml
  features/container/pkg.exclude
  features/container/test/files_not_in_future.disable
  features/container/test/random.disable
  features/sapmachine/exec.config
  features/sapmachine/info.yaml
  unbase_oci
Labels: needs/review, size/m

#1706 fixes to file_excluded test
  tests/helper/tests/files_excluded.py
  tests/integration/chroot.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1703 Include a progress indicator into import-ec2-ami
  tools/import-ec2-ami.py
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1728 feat: a tool to remove EC2 amis with a given name
  tools/clean_ec2_ami.py
Labels: area/os, kind/technical-debt, needs/review, size/m, os/garden-linux

#1729 Add a feature for using with lima-vm
  features/lima/README.md
  features/lima/info.yaml
  features/lima/pkg.include
Labels: kind/enhancement, area/os, needs/review, size/s, os/garden-linux

#1731 feat: a tool to remove OpenStack images by name
  tools/clean_openstack_images.py
Labels: area/os, kind/technical-debt, needs/review, size/m, os/garden-linux

#1732 fix #1730
  features/container/image.oci
Labels: needs/review, size/xs

#1733 refactor: generate release note
  .github/workflows/generate_release_note.py
Labels: reviewed/lgtm, size/s

#1734 feat: add python and nodejs distroless flavours
  .github/workflows/build.yml
  .github/workflows/publish_container.yml
  distroless/nodejs/base
  distroless/nodejs/include
  distroless/nodejs/mode
  distroless/nodejs/target
  distroless/python/base
  distroless/python/include
  distroless/python/mode
  distroless/python/target
  features/nodejs/info.yaml
  features/nodejs/pkg.include
  features/python/info.yaml
  features/python/pkg.include
Labels: needs/review, size/xs

#1735 fix: remove deprecated --skip-lock flag
  tests/Containerfile
Labels: needs/review, size/xs

#1739 enable platform tests for ali cloud
  .github/workflows/ali_credentials.jq
  .github/workflows/ali_tests.sh
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
  .gitignore
  tests/integration/ali.py
Labels: needs/review, size/m

#1736 update builder
  build
Labels: needs/review, size/xs

#1738 refactor: use gl base image AND remove legacy build container
  container/Makefile
  container/base-test/Dockerfile
  container/base/create.sh
  container/build-cert/Dockerfile
  container/build-deb/Dockerfile
  container/build-image/Dockerfile
  container/build-kernelmodule/.gitignore
  container/build-kernelmodule/Dockerfile
  container/build-kernelmodule/gardenlinux-apt-preferences
  container/build/Dockerfile
  container/build/install-cfssl.sh
  container/needslim
Labels: needs/review, size/m

#1740 Fix iso feature
  features/_iso/image
  features/_iso/image.iso
  features/_iso/pkg.include
Labels: area/os, needs/review, size/m, os/garden-linux

#1746 Skip dev workflow when docs are updated
  .github/workflows/dev.yml
Labels: area/os, reviewed/lgtm, size/xs, os/garden-linux

#1747 fix(test): systemd-cron moved helper binaries
  features/base/test/test_sgid_suid_files.py
  features/vhost/test/test_sgid_suid_files.py
Labels: needs/review, size/s

#1748 Update MOTD bookworm -> trixie
  features/server/file.include/etc/update-motd.d/05-logo
Labels: needs/review, size/xs

#1750 test(gcp): enable uniform bucket access
  tests/integration/gcp.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux
