Repository gardenlinux/gardenlinux, pull requests merged in 2023-03, with the labels that each got.

#1552 fix: paramiko.py3compat was deprecated and removed from paramiko
  tests/helper/sshclient.py
Labels: needs/review, size/xs

#1556 remove iptables-nft default relation
  features/gardener/exec.config
  features/gardener/pkg.include
Labels: needs/changes, needs/review, size/xs

#1555 hack(gl-search): dependency checking modes and performance improvements
  hack/gl-search-package.sh
  hack/gl-search.sh
Labels: needs/review, size/m

#1569 fix(base-test): Fix `base-test` Dockerfile if file not present
  container/base-test/Dockerfile
Labels: area/os, kind/bug, reviewed/lgtm, size/xs, os/garden-linux

#1565 feature(build): Add a `requirements.txt` for Python dependencies
  requirements.txt
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1567 fix(build): Fix `macOS` build support
  README.md
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1571 Feature sap
  features/sap/file.include/etc/audit/rules.d/privilege_escalation.rules
  features/sap/file.include/etc/audit/rules.d/privileged_special.rules
  features/sap/file.include/etc/audit/rules.d/system_integrity.rules
  features/sap/file.include/usr/local/share/ca-certificates/SAP_Global_Root_CA.crt
  features/sap/info.yaml
  features/sap/pkg.include
Labels: needs/review, size/xs

#1572 New Logging feature
  features/log/exec.config
  features/log/file.include/etc/audit/rules.d/10-base-config.rules
  features/log/file.include/etc/audit/rules.d/10-no-audit.rules
  features/log/file.include/etc/audit/rules.d/11-loginuid.rules
  features/log/file.include/etc/audit/rules.d/12-cont-fail.rules
  features/log/file.include/etc/audit/rules.d/12-ignore-error.rules
  features/log/file.include/etc/audit/rules.d/20-dont-audit.rules
  features/log/file.include/etc/audit/rules.d/21-no32bit.rules
  features/log/file.include/etc/audit/rules.d/22-ignore-chrony.rules
  features/log/file.include/etc/audit/rules.d/23-ignore-filesystems.rules
  features/log/file.include/etc/audit/rules.d/30-nispom.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-1-create-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-1-create-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-2-modify-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-2-modify-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-3-access-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-3-access-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-4-delete-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-4-delete-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-5-perm-change-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-5-perm-change-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-6-owner-change-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-6-owner-change-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42.rules
  features/log/file.include/etc/audit/rules.d/30-pci-dss-v31.rules
  features/log/file.include/etc/audit/rules.d/30-stig.rules
  features/log/file.include/etc/audit/rules.d/31-privileged.rules
  features/log/file.include/etc/audit/rules.d/32-power-abuse.rules
  features/log/file.include/etc/audit/rules.d/40-local.rules
  features/log/file.include/etc/audit/rules.d/41-containers.rules
  features/log/file.include/etc/audit/rules.d/42-injection.rules
  features/log/file.include/etc/audit/rules.d/43-module-load.rules
  features/log/file.include/etc/audit/rules.d/44-installers.rules
  features/log/file.include/etc/audit/rules.d/70-einval.rules
  features/log/file.include/etc/audit/rules.d/71-networking.rules
  features/log/file.include/etc/audit/rules.d/99-finalize.rules
  features/log/file.include/etc/audit/rules.d/README
  features/log/file.include/etc/rsyslog.conf
  features/log/file.include/etc/rsyslog.d/10-local.conf.disabled
  features/log/file.include/etc/rsyslog.d/20-input.conf
  features/log/file.include/etc/rsyslog.d/21-input-klog.conf.disabled
  features/log/file.include/etc/rsyslog.d/29-input-mark.conf.disabled
  features/log/file.include/etc/rsyslog.d/30-server.conf.disabled
  features/log/file.include/etc/rsyslog.d/60-audit-log-service.conf.disabled
  features/log/file.include/etc/systemd/journald.conf.d/10-minimum.conf
  features/log/file.include/etc/systemd/journald.conf.d/20-rsyslog.conf
  features/log/info.yaml
  features/log/pkg.include
  features/server/info.yaml
  features/server/pkg.include
Labels: needs/second-opinion, size/xl

#1576 fix(ci): github actions does not set pipefail
  .github/workflows/build.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: needs/review, size/xs

#1579 ci(tests): run tests for existing builds in gh actions
  .github/workflows/tests-only.yml
Labels: needs/review, size/m

#1580 fix(ci): test-only action
  .github/workflows/tests-only.yml
Labels: needs/review, size/xs

#1581 ci(test-only): revert cname removal - require cname for artifact-name
  .github/workflows/tests-only.yml
Labels: needs/review, size/xs

#1583 fix(ci): manual test-only requires oidc authentication
  .github/workflows/tests-only.yml
Labels: needs/review

#1585 fix: s3 download in different environment job
  .github/workflows/tests-only.yml
Labels: needs/review

#1588 fix(ci): test only target is a folder, requires --resursive flag
  .github/workflows/tests-only.yml
Labels: needs/review

#1589 fix(ci): put build artifacts in folder
  .github/workflows/tests-only.yml
Labels: needs/review

#1586 Improving automatic platform tests for rel-934
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/gcp_tests.sh
  .github/workflows/tests.yml
Labels: area/os, kind/test, reviewed/lgtm, size/s, os/garden-linux

#1590 fix(ci): fixes for test-only pipeline
  .github/workflows/tests-only.yml
Labels: needs/rebase, needs/review, size/m

#1592 fix(ci): user selects integration test container version manually
  .github/workflows/tests-only.yml
Labels: needs/review, size/xs

#1595 fix: gcp integration test config defaults
  tests/integration/gcp.py
Labels: needs/review, size/s

#1573 feat: generate release notes script
  hack/generate_release_note.py
Labels: needs/review, size/m

#1597 fix(tests): tests-only action requires gcp env variables
  .github/workflows/tests-only.yml
Labels: needs/review, size/xs

#1598 fix(resolved): disable LLMNR and mDNS
  features/server/file.include/etc/systemd/resolved.conf.d/00-disable-llmnr.conf
  features/server/file.include/etc/systemd/resolved.conf.d/01-disable-mdns.conf
Labels: reviewed/lgtm, size/xs

#1599 ci: add differential-shellcheck action
  .github/workflows/differential-shellcheck.yml
Labels: needs/review, size/s

#1607 fix: logic in gcp test checks
  .github/workflows/gcp_tests.sh
Labels: needs/review, size/xs

#1608 ci: use service_account_json_path config variable for gcp platform tests
  .github/workflows/gcp_tests.sh
Labels: needs/review, size/xs

#1609 ci: fix gcp credential handling
  .github/workflows/gcp_tests.sh
Labels: needs/review, size/xs

#1610 ci: export credentials_file_path output variable
  .github/workflows/gcp_tests.sh
  .github/workflows/tests.yml
Labels: needs/review, size/xs

#1611 ci: use exported variable to extract filename
  .github/workflows/gcp_tests.sh
  .github/workflows/tests.yml
Labels: needs/review, size/xs

#1612 ci: fix use GOOGLE_APPLICATION_CREDENTIALS env var
  .github/workflows/gcp_tests.sh
Labels: needs/review, size/xs

#1616 fix(azure test): make nopasswd explicit
  tests/helper/tests/users.py
Labels: needs/review, size/xs

#1617 fix(user test): let testuser be in wheel during test
  tests/helper/tests/users.py
Labels: needs/review, size/xs

#1618 fix(test): ignore non 0 exit code for grep
  tests/helper/tests/users.py
Labels: needs/review, size/xs

#1619 fix(user test): fix test logic
  tests/helper/tests/users.py
Labels: needs/review, size/xs
