Repository gardenlinux/gardenlinux, pull requests merged in 2023-06, with the labels that each got.

#1676 tests: improve resource leakage
  tests/integration/azure.py
  tests/integration/gcp.py
Labels: area/os, kind/test, needs/review, size/xs, os/garden-linux

#1656 fix(ci): info that release action requires full committish
  .github/workflows/release.yml
Labels: needs/review, size/xs

#1679 fix(ci): Print Check Packages report
  .github/workflows/check-packages.yml
Labels: needs/review, size/xs

#1680 add nightly build of rel-934
  .github/workflows/nightly-rel934.yml
Labels: needs/review, size/xs

#1681 fix(ci): check packages should return None in good case
  .github/workflows/check-packages.yml
  .github/workflows/generate_package_report.py
Labels: needs/review, size/xs

#1683 fix: update README to reflect new build system
  README.md
Labels: needs/review, size/m

#1684 feat: add profiling to github action build
  .github/workflows/build.yml
  tests/init
Labels: needs/review, size/s

#1686 fix: check packages pipeline
  .github/workflows/check-packages.yml
  .github/workflows/generate_package_report.py
  bin/README.md
  bin/check-pkgs-availability.py
  bin/check-pkgs-availability.sh
  bin/check-pkgs-pipelines.py
Labels: needs/review, needs/second-opinion, size/l

#1685 use ghcr instead of cache for test container
  .github/workflows/build.yml
  .github/workflows/nightly.yml
Labels: needs/review, size/s

#1687 update builder
  .github/actions/setup/action.yml
  build
Labels: needs/review

#1690 fix(docu): fix some typos in README
  README.md
Labels: area/documentation, needs/review, size/xs

#1691 fix: properly handle passwdqc pam module
  features/cloud/exec.config
  features/cloud/file.include/usr/share/pam-configs/garden
Labels: needs/review, size/xs

#1692 latest build script from gardenlinux/builder
  build
Labels: needs/review, size/xs

#1696 fix: move pam configs to server
  features/cloud/exec.config
  features/cloud/pkg.include
  features/server/exec.config
  features/server/file.include/usr/share/pam-configs/garden
  features/server/file.include/usr/share/pam-configs/garden-extra
  features/server/pkg.include
  features/server/test/test_pam.py
  features/server/test/test_pam_faillock.py
Labels: needs/review, size/xs

#1698 fix: DNS resolv during build
  features/server/exec.early
Labels: needs/review, size/xs

#1699 fix: sanitize input for inject-sshkey
  bin/inject-sshkey
Labels: needs/review, size/xs

#1697 Make azure ami rewrite
  .github/workflows/build.yml
  bin/azurewrapper.py
  bin/make-azure-ami
  tools/import-azure-machine-image.py
Labels: area/os, kind/cleanup, needs/review, needs/second-opinion, size/xl, os/garden-linux

#1700 update builder
  build
Labels: needs/review
