Repository gardenlinux/gardenlinux, pull requests merged in 2023-01, with the labels that each got.

#1495 fix: use libaws-sdk-cpp-dev
  container/build-cert/Dockerfile
  container/build-image/Dockerfile
Labels: needs/review, size/xs

#1378 support path with spaces
  build.sh
Labels: area/os, kind/cleanup, reviewed/lgtm, size/xs, os/garden-linux

#1484 feature(vmware): add update-bootloaders
  features/vmware/file.include/usr/local/sbin/update-bootloaders
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1488 Force permissions for gardenlinux.asc
  bin/garden-init
Labels: area/os, kind/bug, needs/review, size/xs, os/garden-linux

#1498 doc: remove unimplemented github actions docs
  .github/workflows/README.md
Labels: needs/review, size/xs

#1471 feat: disable rd.shell in secureboot
  bin/make_repart_partition
  features/_secureboot/file.include/etc/kernel/cmdline.d/99-no-rd-shell.cfg
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xs, os/garden-linux

#1481 feature(features): Add new optional feature `_distroless` for `container`
  bin/.apt-version.sh
  bin/garden-build
  bin/garden-config
  bin/garden-init
  bin/garden-tar
  build.sh
  features/_distroless/README.md
  features/_distroless/exec.post
  features/_distroless/file.include/etc/group
  features/_distroless/file.include/etc/passwd
  features/_distroless/info.yaml
  flavours.yaml
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/m, os/garden-linux

#1328 enhancement(integration-tests): Move tests to new file structure
  features/base/test/test_basics.py
  features/base/test/test_docker.py
  features/base/test/test_kernel_config.py
  features/base/test/test_metadata_connection.py
  features/base/test/test_network.py
  features/base/test/test_partition.py
  features/base/test/test_platform_driver.py
  features/base/test/test_random.py
  features/base/test/test_systemd.py
  features/base/test/test_time_config.py
  tests/integration/test_gardenlinux.py
Labels: kind/enhancement, area/os, reviewed/lgtm, size/xl, os/garden-linux

#1501 fix: Fix perl version in base feature (#1491)
  features/base/exec.config
Labels: needs/review, size/xs

#1502 fix(tests): remove dependency to glci (#1497)
  tests/conftest.py
  tests/integration/aws.py
Labels: reviewed/lgtm, size/m

#1500 enable ssh-rsa as HostKeyAlgorithm
  features/ssh/file.include/etc/ssh/sshd_config
Labels: needs/review

#1506 allow sssd configuration
  tests/helper/tests/password_hashes.py
Labels: needs/review, size/xs

#1511 improvements for Garden Linux 934.3
  VERSION
  features/azure/file.include/etc/waagent.conf
  features/azure/pkg.include
  features/base/exec.config
  features/server/file.include/etc/ssh/sshd_config
  features/server/pkg.include
  tests/conftest.py
  tests/integration/aws.py
Labels: kind/enhancement, area/os, needs/review, needs/second-opinion, size/l, os/garden-linux

#1514 test: Az Marketplace conformance script
  tests/tools/azure-conformance-test.py
Labels: area/os, kind/test, needs/review, size/m, os/garden-linux

#1507 Add specific onmetal (vm) udev rules
  features/kvm/file.include/etc/udev/rules.d/60-onmetal.rules
Labels: needs/review, size/xs

#1509 make selinux an (optional) feature
  bin/makepart
  features/_iso/file.include/opt/install/install.sh
  features/_iso/info.yaml
  features/_pxe/image
  features/_selinux/README.md
  features/_selinux/exec.config
  features/_selinux/file.include/etc/kernel/cmdline.d/90-lsm.cfg
  features/_selinux/info.yaml
  features/_selinux/pkg.include
  features/_selinux/test/test_kernel_cmdline.py
  features/_selinux/test/test_packages_musthave.py
  features/example/README.md
  features/example/image
  features/firecracker/image
  features/server/README.md
  features/server/exec.config
  features/server/info.yaml
  features/server/pkg.include
  tests/conftest.py
Labels: kind/enhancement, area/os, needs/changes, needs/review, size/s, os/garden-linux
