Repository gardenlinux/gardenlinux, pull requests merged in 2023-11, with the labels that each got.

#1809 Add a script to update the dev env on demand
  hack/lima-dev-env/README.md
  hack/lima-dev-env/gl-dev.yaml
  hack/lima-dev-env/update-lima-dev-env.py
Labels: area/os, needs/review, size/m, os/garden-linux

#1811 Update dev env debian image
  hack/lima-dev-env/gl-dev.yaml
Labels: needs/review, size/xs

#1816 Pin all gh actions
  .github/workflows/build.yml
  .github/workflows/build_container.yml
  .github/workflows/check-packages.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/nightly-rel934.yml
  .github/workflows/publish_container.yml
  .github/workflows/release.yml
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: needs/review, size/m

#1817 Fix YAML indentation
  .github/workflows/tests-only.yml
Labels: needs/review, size/xs

#1818 fix(ci): build artifacts have 8 chars of commitish
  .github/workflows/release-page.sh
  .github/workflows/release-page.yml
Labels: needs/review, size/xs

#1819 fix(ci): complete rename of release.sh to release-page.sh
  .github/workflows/release-page.yml
Labels: needs/review, size/xs

#1792 Feature/1775 tool extact kernel package urls
  .github/workflows/generate_release_note.py
  .github/workflows/release-page.sh
  .github/workflows/release-page.yml
  bin/gl-kernelurls
Labels: kind/enhancement, area/os, needs/changes, needs/review, needs/second-opinion, size/m, os/garden-linux

#1821 fix(release note): single environment in gh action
  .github/workflows/release-page.yml
Labels: needs/review, size/xs

#1822 fix(release notes): install dependencies for generate release py tool
  .github/workflows/release-page.yml
Labels: needs/review, size/xs

#1823 fix: use short commitish also for generation of release note script
  .github/workflows/release-page.yml
Labels: reviewed/lgtm, size/xs

#1824 fix(generate release notes): no package update section for new major
  .github/workflows/generate_release_note.py
Labels: needs/review, size/xs

#1825 fix(generate release notes): doc + missing var init
  .github/workflows/generate_release_note.py
Labels: reviewed/lgtm, size/xs

#1827 fix(release note): var expansion in release-page.sh
  .github/workflows/release-page.sh
  .github/workflows/release-page.yml
Labels: needs/review, size/xs

#1828 Release note automation
  .github/workflows/generate_release_note.py
  .github/workflows/gl-kernelurls.py
  .github/workflows/release-page.sh
Labels: needs/rebase, needs/review, size/m

#1831 fix: check in Pipefile.lock for test container
  .github/dependabot.yml
  tests/Containerfile
  tests/Pipfile.lock
Labels: needs/review, needs/second-opinion, size/xl

#1833 chore(hack/lima-vm): Update github cli in script
  hack/lima-dev-env/gl-dev.yaml
  hack/lima-dev-env/update-lima-dev-env.py
Labels: needs/review, size/s

#1834 fix: use https for gardenlinux repo
  .github/workflows/gl-kernelurls.py
  bin/check-pkgs-availability.py
  bin/garden-version
  bin/pkg2deps
  container/base-test/Dockerfile
  docs/02_operators/apt_repo.md
  hack/gl-pkg-url.sh
Labels: needs/review, size/xs

#1765 free up space on github runner before building
  .github/actions/setup/action.yml
  .github/workflows/build_container.yml
Labels: needs/rebase, needs/review, size/xs

#1840 Rename Bare Container Images Feature
  .github/workflows/build.yml
  .github/workflows/publish_container.yml
  bare_container_images/libc/base
  bare_container_images/libc/dpkg_include
  bare_container_images/libc/include
  bare_container_images/libc/mode
  bare_container_images/libc/target
  bare_container_images/nodejs/base
  bare_container_images/nodejs/include
  bare_container_images/nodejs/mode
  bare_container_images/nodejs/target
  bare_container_images/python/base
  bare_container_images/python/include
  bare_container_images/python/mode
  bare_container_images/python/target
  bare_container_images/sapmachine/base
  bare_container_images/sapmachine/mode
  bare_container_images/sapmachine/target
  build_bare_container_image
  features/_bare_container_image/README.md
  features/_bare_container_image/exec.post
  features/_bare_container_image/file.include/etc/group
  features/_bare_container_image/file.include/etc/passwd
  features/_bare_container_image/info.yaml
  flavours.yaml
Labels: needs/review, size/s

#1843 Rename bare container images to bare
  .github/workflows/build.yml
  .github/workflows/publish_container.yml
  bare_flavors/libc/base
  bare_flavors/libc/dpkg_include
  bare_flavors/libc/include
  bare_flavors/libc/mode
  bare_flavors/libc/target
  bare_flavors/nodejs/base
  bare_flavors/nodejs/include
  bare_flavors/nodejs/mode
  bare_flavors/nodejs/target
  bare_flavors/python/base
  bare_flavors/python/include
  bare_flavors/python/mode
  bare_flavors/python/target
  bare_flavors/sapmachine/base
  bare_flavors/sapmachine/mode
  bare_flavors/sapmachine/target
  build_bare_flavors
  features/_bare_container_image/README.md
  features/_bare_container_image/exec.post
  features/_bare_container_image/file.include/etc/group
  features/_bare_container_image/file.include/etc/passwd
  features/_bare_container_image/info.yaml
  flavours.yaml
Labels: needs/review, size/m

#1844 refactor: fix shellcheck warning
  build_bare_flavors
Labels: needs/review, size/xs
