Repository gardenlinux/gardenlinux, pull requests merged in 2024-12, with the labels that each got.

#2510 fix: disable ssh.socket
  features/ssh/file.include/etc/systemd/system-preset/00-sshsocket-disable.preset
Labels: features

#2513 feat: usi: use bind mounts for /opt /root /home instead of symlinks
  features/_usi/exec.config
  features/_usi/exec.post
  features/_usi/file.exclude
  features/_usi/file.include/etc/systemd/system/home.mount
  features/_usi/file.include/etc/systemd/system/opt.mount
  features/_usi/file.include/etc/systemd/system/root.mount
Labels: features

#2519 fix: _usi: correctly set /var/root permissions
  features/_usi/file.include/etc/tmpfiles.d/var-root.conf
Labels: features

#2521 Remove mentions of and config for GRUB
  features/metal/README.md
  features/metal/info.yaml
  features/openstack/file.include/etc/default/grub.d/90_openstack_cc_ee.cfg
  features/openstackbaremetal/file.include/etc/default/grub.d/90_openstack_cc_ee.cfg
  features/vmware/file.include/etc/default/grub.cfg
  features/vmware/test/test_check_files.py
Labels: features, metal-platform, test

#2514 reactivate `flavors.yaml`
  .github/workflows/build.yml
  .github/workflows/generate_matrix.yml
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
  .github/workflows/upload_oci.yml
  .github/workflows/upload_to_s3.yml
  README.md
  bin/README.md
  bin/flavors_parse.py
  docs/01_developers/build_image.md
  docs/02_operators/gardener-kernel-restart.md
  features/README.md
  flavors.yaml
  flavours.yaml
  tests/README.md
  tests/platformSetup/chroot.py
  tests/platformSetup/firecracker.py
  tests/platformSetup/kvm.py
  tests/platformSetup/openstackccee.py
Labels: build-env, test-env, features, github-actions, docs, firecracker-platform, kvm-platform

#2530 Remove assertion for capabilities on 'ping'
  bin/start-vm
  features/_bfpxe/test/capabilities.d/capabilities.list
  features/_iso/test/capabilities.d/capabilities.list
  features/_pxe/test/capabilities.d/capabilities.list
  features/ali/README.md
  features/aws/README.md
  features/azure/README.md
  features/chost/README.md
  features/cis/test/check_scripts/README.md
  features/cis/test/conf.d/README.md
  features/cisPartition/README.md
  features/fedramp/README.md
  features/gcp/README.md
  features/server/README.md
  features/server/test/capabilities.d/capabilities.list
  features/vhost/README.md
  features/vhost/test/capabilities.d/capabilities.list
Labels: build-env, features, test, gcp-platform, azure-platform, aws-platform, ali-platform

#2536 fix: correctly set use_kms in nightly
  .github/workflows/nightly.yml
Labels: github-actions

#2537 fix: add kernel parameter to allow ping for non root users
  features/server/file.include/etc/sysctl.d/90-allow-ping-for-non-root-user.conf
Labels: features

#2542 fix azure chronyd start and gcp ssh timeouts
  features/azure/file.include/etc/systemd/system/chronyd.service.d/10-after_dev-ptp_hyperv.device.conf
  tests/helper/sshclient.py
  tests/helper/utils.py
  tests/platformSetup/gcp.py
Labels: platform/azure, platform/gcp, test-env, features, gcp-platform, azure-platform, platform-tests

#2540 use nightly as base for platform-test images
  .github/workflows/ali_tests.sh
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/gcp_tests.sh
  .github/workflows/gcp_trustedboot_tests.sh
  .github/workflows/gcp_trustedboot_tpm2_tests.sh
  .github/workflows/nightly.yml
  .github/workflows/platform-test-images.yml
  .github/workflows/tests.yml
  tests/images/Makefile
  tests/images/platform-test-base/Containerfile
  tests/images/platform-test/ali/Containerfile
  tests/images/platform-test/aws/Containerfile
  tests/images/platform-test/azure/Containerfile
  tests/images/platform-test/firecracker/Containerfile
  tests/images/platform-test/gcp/Containerfile
  tests/images/platform-test/kvm/Containerfile
  tests/images/platform-test/openstack/Containerfile
Labels: test-env, github-actions, platform-tests

#2541 feat: add OCI artifact signing keys to cert build
  cert/Makefile
  cert/gardenlinux-oci-sign.chain
  cert/gardenlinux-oci-sign.conf
  cert/gardenlinux-oci-sign.crt
  cert/oci-sign.conf
Labels: certificates

#2548 fix platform-tests: paramiko.ssh_exception.SSHException: Error reading SSH protocol banner
  tests/helper/sshclient.py
Labels: test-env, platform-tests

#2546 make build.yml reusable by gardenlinux-ccloud
  .github/workflows/build.yml
  .github/workflows/generate_matrix.yml
Labels: github-actions

#2549 feat: enable in-place updates
  features/_usi/exec.post
  features/_usi/pkg.include
Labels: features, packages

#2539 Integrate new version of glcli into upload_oci workflow
  .github/workflows/upload_oci.yml
Labels: github-actions

#2553 Add mediatype to OCI index
  .github/workflows/upload_oci.yml
Labels: github-actions

#2556 Improve connection handling of `helper.sshclient` for tests
  tests/helper/sshclient.py
Labels: test-env

#2557 Increase retry wait time for azure platform tests
  .github/workflows/azure_tests.sh
Labels: github-actions, platform-tests

#2559 Ensure the defined retry wait second value is used for azure
  .github/workflows/azure_tests.sh
Labels: github-actions, platform-tests

#2563 Ensure `/dev/ptp_hyperv` systemd unit is in active state for chrony
  features/azure/file.include/etc/systemd/system/chronyd.service.d/10-after_dev-ptp_hyperv.device.conf
  features/azure/file.include/etc/udev/rules.d/60-hyperv-ptp.rules
Labels: features, azure-platform

#2566 Ensure systemd detects drop-in files in `chronyd-restricted` for azure
  features/azure/file.include/etc/systemd/system/chronyd-restricted.service.d
  features/azure/file.include/etc/systemd/system/chronyd-restricted.service.d/10-after_dev-ptp_hyperv.device.conf
Labels: features, azure-platform, platform-tests

#2570 Allow access to `ptp_hyperv` for `chronyd-restricted.service`
  features/azure/file.include/etc/systemd/system/chronyd-restricted.service.d/05-private-devices-access.conf
Labels: features, azure-platform, platform-tests

#2571 Allow `rw` access to `/dev/ptp_hyperv` for `chronyd-restricted`
  features/azure/file.include/etc/systemd/system/chronyd-restricted.service.d/05-private-devices-access.conf
Labels: features, azure-platform

#2575 Allow access for group `_chrony` to access symlinked `/dev/ptp_hyperv`
  features/azure/file.include/etc/udev/rules.d/60-hyperv-ptp.rules
Labels: platform/azure, features, azure-platform, platform-tests
