Repository gardenlinux/gardenlinux, pull requests merged in 2024-09, with the labels that each got.

#2327 Update SAPMachine to 21.0.4
  features/sapmachine/exec.config
Labels: features

#2321 Update builder image
  build
Labels: build-env

#2302 ci: rename integration tests to platform tests
  .github/labeler.yml
  .github/workflows/ali_tests.sh
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/build_container.yml
  .github/workflows/gcp_tests.sh
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  container/Makefile
  container/platform-test/.gitignore
  container/platform-test/Dockerfile
  container/platform-test/cloud.google.gpg
  docs/02_operators/deployment/aws-secureboot.md
  docs/02_operators/deployment/gcp-secureboot.md
  features/container/README.md
  tests/README.md
  tests/_dev.py
  tests/conftest.py
  tests/local/README.md
  tests/local/test_oci.py
  tests/platformSetup/__init__.py
  tests/platformSetup/ali.py
  tests/platformSetup/aws.py
  tests/platformSetup/azure.py
  tests/platformSetup/chroot.py
  tests/platformSetup/firecracker.py
  tests/platformSetup/gcp.py
  tests/platformSetup/kvm.py
  tests/platformSetup/manual.py
  tests/platformSetup/misc/docker_registry_config_platform_tests
  tests/platformSetup/misc/nft_ssh_platform_test_ports.conf
  tests/platformSetup/misc/sshd-platform.test.service
  tests/platformSetup/misc/sshd_config_platform_tests
  tests/platformSetup/openstackccee.py
  tests/platformSetup/util.py
  tests/pytest.ini
  tests/shellcheck/README.md
  tests/tools/clean_orphans_aws.py
  tests/tools/clean_orphans_gcp.py
Labels: test-env, features, github-actions, docs

#2323 vmware: Fix ova vmdk size
  features/vmware/make-ova
Labels: features

#2333 ci: use pattern to download build and platform-test artifacts
  .github/workflows/upload_to_s3.yml
Labels: github-actions, platform-tests

#2331 ci: update actions/upload-artifact and actions/download-artifact to v4
  .github/workflows/build.yml
  .github/workflows/publish_container.yml
  .github/workflows/release-page.yml
  .github/workflows/stig.yaml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2338 2324 create stable and release tags for base images
  .github/workflows/release-page.yml
  .github/workflows/tag_latest_container.yml
  .github/workflows/tag_latest_container_manually.yml
Labels: github-actions

#2330 Various pxe fixes
  features/_ignite/file.include/usr/lib/dracut/modules.d/30ignition-extra/after-net-online.conf
  features/_ignite/file.include/usr/lib/dracut/modules.d/30ignition-extra/module-setup.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/99-any.conf
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.sh
  features/_pxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
Labels: features

#2345 fix: make /etc/update-motd.d/05-logo executable
  features/base/exec.config
Labels: features

#2340 cleanup: remove _secureboot, _readonly, _trustedboot
  build
  features/_persistence/README.md
  features/_persistence/fstab.mod
  features/_persistence/info.yaml
  features/_readonly/README.md
  features/_readonly/exec.config
  features/_readonly/file.exclude
  features/_readonly/file.include/etc/kernel/cmdline.d/99-no-gpt-auto.cfg
  features/_readonly/fstab.mod
  features/_readonly/info.yaml
  features/_readonly/pkg.include
  features/_readonly/test/test_mount.py
  features/_secureboot/README.md
  features/_secureboot/exec.config
  features/_secureboot/exec.post
  features/_secureboot/file.exclude
  features/_secureboot/file.include/etc/kernel/cmdline.d/99-no-rd-shell.cfg
  features/_secureboot/file.include/usr/local/sbin/update-kernel-cmdline
  features/_secureboot/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
  features/_secureboot/fstab.mod
  features/_secureboot/info.yaml
  features/_secureboot/pkg.include
  features/_secureboot/test/test_empty_files_boot_efi.py
  features/_secureboot/test/test_packages_musthave.py
  features/_secureboot/test/test_uefi_pki_files.py
Labels: build-env, features, packages, test

#2342 feat: add _trustedboot and _ephemeral features
  features/_ephemeral/file.include/etc/repart.d/10-var.conf
  features/_ephemeral/file.include/etc/systemd/system/ephemeral-cryptsetup.service
  features/_ephemeral/file.include/etc/systemd/system/var.mount
  features/_ephemeral/info.yaml
  features/_trustedboot/convert.raw~esp.tar
  features/_trustedboot/convert.uki~esp.tar
  features/_trustedboot/exec.config
  features/_trustedboot/exec.post
  features/_trustedboot/file.exclude
  features/_trustedboot/file.include/etc/kernel/cmdline.d/99-no-gpt-auto.cfg
  features/_trustedboot/file.include/etc/kernel/cmdline.d/99-no-rd-shell.cfg
  features/_trustedboot/file.include/etc/repart.d/00-efi.conf
  features/_trustedboot/file.include/etc/systemd/system/auditd.service.d/mkdir.conf
  features/_trustedboot/file.include/etc/systemd/system/etc-overlay.service
  features/_trustedboot/file.include/etc/systemd/system/reload.service
  features/_trustedboot/file.include/etc/systemd/system/reload.target
  features/_trustedboot/file.include/etc/tmpfiles.d/var-home.conf
  features/_trustedboot/file.include/etc/tmpfiles.d/var-opt.conf
  features/_trustedboot/file.include/etc/update-motd.d/25-secureboot
  features/_trustedboot/file.include/usr/bin/repart-esp-disk
  features/_trustedboot/file.include/usr/lib/dracut/modules.d/99sysroot-loop/module-setup.sh
  features/_trustedboot/file.include/usr/lib/systemd/system-generators/detect-disk-by-efivars
  features/_trustedboot/file.include/usr/local/sbin/update-kernel-cmdline
  features/_trustedboot/file.include/usr/sbin/enroll-gardenlinux-secureboot-keys
  features/_trustedboot/image.esp.tar
  features/_trustedboot/info.yaml
  features/_trustedboot/pkg.include
Labels: features, packages

#2343 feat: _tpm2
  features/_tpm2/exec.config
  features/_tpm2/file.include/etc/repart.d/10-var.conf
  features/_tpm2/file.include/etc/systemd/system-generators/detect-tpm
  features/_tpm2/file.include/etc/systemd/system/check-tpm.service
  features/_tpm2/file.include/etc/systemd/system/systemd-cryptsetup@var.service
  features/_tpm2/file.include/etc/systemd/system/var.mount
  features/_tpm2/file.include/usr/bin/check-tpm
  features/_tpm2/info.yaml
  features/_tpm2/pkg.include
Labels: features, packages

#2344 docs: document trustedboot architecture
  features/_ephemeral/README.md
  features/_tpm2/README.md
  features/_trustedboot/README.md
  features/_trustedboot/trustedboot_architecture.svg
  features/_trustedboot/trustedboot_architecture_dark.svg
Labels: features

#2346 add aws_trustedboot and aws_trustedboot_tpm2 to platform tests
  .github/workflows/aws_trustedboot_tests.sh
  .github/workflows/aws_trustedboot_tpm2_tests.sh
  .github/workflows/build.yml
  .github/workflows/tests.yml
  features/base/test/test_basics.py
  tests/conftest.py
  tests/platformSetup/aws.py
Labels: test-env, features, github-actions, test

#2354 fix kvm platform tests
  tests/platformSetup/kvm.py
Labels: test-env

#2357 make sure the `use_kms` input is always set
  .github/workflows/nightly.yml
Labels: github-actions

#2355 fix labels after renamed dirs in #2302
  .github/labeler.yml
Labels: github-settings

#2369 add .`/bin` to `$PATH` to run `upload_to_s3.sh` from everywhere
  .github/workflows/upload_to_s3.sh
Labels: github-actions

#2376 features/base/test/test_sgid_suid_files: add mount.nfs
  features/base/test/test_sgid_suid_files.py
Labels: features, test

#2372 chore: log errors correctly
  bin/.constants.sh
  bin/garden-version
Labels: build-env
