Repository gardenlinux/gardenlinux, pull requests merged in 2024-05, with the labels that each got.

#2081 Rootless podman feature
  features/rootlessPodman/README.md
  features/rootlessPodman/exec.config
  features/rootlessPodman/info.yaml
  features/rootlessPodman/pkg.include
  features/rootlessPodman/test/test_packages_musthave.py
Labels: features, packages, test

#2098 fix: PR #2083
  build
Labels: build-env

#2102 Update SAPMachine to 21.0.3
  features/sapmachine/exec.config
Labels: features

#2101 Fix 1996 remove garden feat tests
  tests/README.md
  tests/local/README.md
  tests/local/test_garden_feat.py
Labels: test-env, features

#2100 docs: use new builder in oras and oci feature README
  features/_oci/README.md
  features/_oras/README.md
Labels: features

#2106 add hack/enable_inactive_workflows script
  hack/enable_inactive_workflows
Labels: tools

#2113 Umask test use umask cmd
  features/base/test/test_umask.py
  tests/conftest.py
Labels: test-env, features, test

#2114 fix: /etc/login.defs permissions
  features/base/exec.config
  features/base/test/test_umask.py
Labels: features, test

#2123 Add target_commitish parameter to POST release api call
  .github/workflows/release_note.py
Labels: github-actions
