Repository gardenlinux/gardenlinux, pull requests merged in 2024-01, with the labels that each got.

#1898 Adapt to actions/labeler v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github-actions

#1904 [no ci] fix typo
  hack/lima-dev-env/README.md
Labels: tools

#1909 add checksum verification for khost tools
  features/khost/exec.config
Labels: low-hanging-fruit, build-env, features, security

#1910 Add checksum verification for sapmachine feature
  features/sapmachine/exec.config
Labels: low-hanging-fruit, build-env, features, security

#1911 update sap machine in bare flavour + checksum updates
  features/sapmachine/exec.config
Labels: bug-fix, features, security

#1874 Define builder version in dockerfile
  .github/dependabot.yml
  build
  builder.dockerfile
Labels: build-env, github-settings

#1922 Fix build after breaking it in #1874
  .github/workflows/build.yml
  cert/build
Labels: github-actions, certificates

#1931 Update dev env
  hack/lima-dev-env/gl-dev.yaml
Labels: tools
