Repository gardenlinux/gardenlinux, pull requests merged in 2024-04, with the labels that each got.

#2069 Stop building openstack and vmware for arm64
  .github/workflows/build.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2068 Improve docs
  LICENSE.md
  README.md
  docs/01_developers/build_image.md
Labels: docs

#1961 GitHub changelog generation
  .github/release.yml
Labels: github-settings

#2059 add gdch to GitHub action build
  .github/workflows/build.yml
  .github/workflows/release-page.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2055 feat: add gdch platform to rel 1443
  features/gdch/convert.gcpimage.tar.gz
  features/gdch/exec.config
  features/gdch/file.include/etc/cloud/cloud.cfg.d/91-gdch-system.cfg
  features/gdch/pkg.include
Labels: features, packages

#2074 (main branch) fix gdch: exclude systemd-timesyncd in favour of chrony
  features/gdch/pkg.exclude
Labels: features, packages

#2075 (rel-1443 branch) fix: add info.yaml for gdch
  features/gdch/info.yaml
  features/gdch/pkg.exclude
Labels: features, packages

#1983 tests: add kernel config tests
  features/base/test/test_kernel_config.py
  features/cloud/test/test_kernel_config.py
  features/metal/test/test_kernel_config.py
  tests/helper/utils.py
Labels: test-env, features, metal-platform, test

#2083 Build with SELinux enabled
  builder.dockerfile
  docs/01_developers/build_image.md
  features/_secureboot/exec.config
  features/_secureboot/pkg.include
Labels: features, packages, docs

#2084 fix: ensure ali access_key masked in action log
  .github/workflows/tests.yml
Labels: github-actions

#2090 Add user docs for lima
  docs/01_developers/lima.md
Labels: docs

#2099 fix: add workaround for deborphan bug
  features/openstack/exec.config
  features/server/exec.config
  features/vmware/exec.config
Labels: features
