Repository gardenlinux/gardenlinux, pull requests merged in 2024-02, with the labels that each got.

#1935 Update builder to include gardenlinux/builder#57
  build
  builder.dockerfile
Labels: build-env

#1938 Add TPM2 emulation support to start-vm using `swtpm`
  bin/start-vm
Labels: build-env

#1946 Feat: Bind TPM2 state to specific MAC address
  .gitignore
  bin/start-vm
Labels: build-env

#1947 Disallow loading of nouveau driver on OpenStack baremetal
  features/openstackbaremetal/file.include/etc/modprobe.d/10-disallow-nouveau.conf
Labels: features

#1930 Update docs for new builder
  docs/02_operators/deployment/aws-secureboot.md
  docs/02_operators/deployment/gcp-secureboot.md
  docs/02_operators/deployment/install-non-default.md
Labels: docs

#1957 ci: dependabot strategy to increase-if-necessary
  .github/dependabot.yml
Labels: github-settings

#1960 Revert "enable ssh-rsa as HostKeyAlgorithm"
  features/ssh/file.include/etc/ssh/sshd_config
Labels: features

#1948 fix(startvm): Remove watchdog option due to incompatibility in newer versions
  bin/start-vm
Labels: build-env

#1963 feat: generate GPG keys using AWS KMS
  .gitignore
  cert/Containerfile
  cert/Makefile
  cert/build
  cert/gardenlinux-repo-sign.crt
  cert/gardenlinux-repo-sign.pub
  cert/gengpg
  cert/keyring.gpg
Labels: certificates

#1965 upgrade linux kernel from 6.1 to 6.6
  features/cloud/pkg.include
  features/firecracker/pkg.include
  features/metal/pkg.include
Labels: features, packages, firecracker-platform, metal-platform

#1969 fix: explicitly install dracut for secureboot feature
  features/_secureboot/pkg.include
Labels: bug-fix, features, packages

#1971 test: handle pam_nologin during connection attempt
  tests/helper/sshclient.py
Labels: test-env

#1973 fix: rewrite test_proc.py to check if proc/ is empty in image artifact
  features/base/test/test_proc.py
Labels: features, test

#1982 Patch crun
  .github/actions/setup/action.yml
Labels: github-settings

#1984 Update README.md of Gardener
  features/gardener/README.md
Labels: features

#1974 test: generalize check for installed kernel modules
  features/cloud/test/test_kernel_modules.py
  features/cloud/test/test_only_one_kernel.py
  features/cloud/test/test_wireguard.py
  tests/README.md
  tests/helper/tests/kernel_modules.py
  tests/helper/utils.py
Labels: test-env, features, test

#1986 Improve Gardener Readme
  features/gardener/README.md
Labels: features

#1988 Support generation of 2048 bit RSA keys for TPM PCR value signing
  cert/Makefile
  cert/gardenlinux-tpm-sign.conf
  cert/tpm-sign.conf
Labels: certificates

#1771 Install kube-tools via apt repository
  features/khost/exec.config
  features/khost/exec.late
  features/khost/file.include/etc/systemd/system/kubelet.service
  features/khost/file.include/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
  features/khost/pkg.include
  features/khost/release.key
Labels: needs/review, features, packages

#1990 doc: remove 934 reference in README.md
  README.md
Labels: docs

#1992 Test: Run only if artifact under test is built
  test
Labels: test-env

#1995 Update dev env
  hack/lima-dev-env/gl-dev.yaml
Labels: tools
