Repository gardenlinux/gardenlinux, pull requests merged in 2024-03, with the labels that each got.

#1998 Fix nightly: apply crun workaround for upload to s3 action
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2002 tests: add GVNIC and VIRTIO_SCSI_MULTIQUEUE to GCP tests
  tests/integration/gcp.py
Labels: test-env, gcp-platform

#1989 Add Gardener Feature for Codeowners
  CODEOWNERS
Labels: docs

#1962 Use Package repo 2.0
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/build_container.yml
  VERSION
  bin/garden-version
  build
  features/cloud/pkg.include
  features/firecracker/pkg.include
  features/metal/pkg.include
  get_repo
  hack/gl-search.sh
  keyring.gpg
Labels: build-env, features, packages, github-actions, tools, firecracker-platform, metal-platform

#2011 Fix platform tests apply crun workaround
  .github/workflows/build.yml
  .github/workflows/publish_container.yml
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2014 Revert "tests: add GVNIC and VIRTIO_SCSI_MULTIQUEUE to GCP tests"
  tests/integration/gcp.py
Labels: test-env, gcp-platform

#2018 Rename uefivars.py to uefivars
  cert/Makefile
Labels: certificates

#2017 Enable cloud-init network config for OpenStack Baremetal
  features/openstack/file.include/etc/cloud/cloud.cfg.d/99_disable-network-config.cfg
Labels: features

#2019 fix: add crun fix to publish_container.yml
  .github/workflows/publish_container.yml
Labels: github-actions

#2021 fix: remove test for "/etc/cloud/cloud.cfg.d/99_disable-network-conf…
  features/openstack/test/test_check_files.py
Labels: features, test

#2020 fix: download crun binary in tmp dir
  .github/actions/setup/action.yml
Labels: github-settings

#2000 fix: 1999 update packages.cloud.google.com apt key
  container/Makefile
  container/integration-test/.gitignore
  container/integration-test/cloud.google.gpg
  container/integration-test/cloud.google.gpg.base64
Labels: test-env

#1985 disabling ssh now by default
  features/gardener/exec.config
Labels: features

#2023 Remove kubelet service files
  features/chost/file.include/etc/systemd/system/kubelet.service
  features/chost/file.include/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Labels: features

#2022 tests: add GVNIC and VIRTIO_SCSI_MULTIQUEUE to GCP tests
  tests/integration/gcp.py
Labels: test-env, gcp-platform

#2035 fix: move actions/setup in publish_container.yml below checkout
  .github/workflows/publish_container.yml
Labels: github-actions

#2037 simplify gallery image cleanup
  tests/integration/azure.py
Labels: test-env, azure-platform

#2025 Cloud-init should configure the network on OpenStack Baremetal
  features/openstackbaremetal/file.include/etc/cloud/cloud.cfg.d/65-network-config.cfg
  features/openstackbaremetal/file.include/etc/cloud/cloud.cfg.d/99_disable-network-config.cfg
  features/openstackbaremetal/file.include/etc/dracut.conf.d/49-include-bnxt-drivers.conf
  features/openstackbaremetal/pkg.include
  features/openstackbaremetal/test/test_check_files.py
Labels: features, packages, test

#2038 remove python3-boto
  features/ali/pkg.include
  features/aws/pkg.include
  features/openstack/pkg.include
  features/openstackbaremetal/pkg.include
  features/vmware/pkg.include
Labels: features, packages, aws-platform, ali-platform

#2041 use packages.gardenlinux.io for release page generation
  .github/workflows/get_kernelurls.py
Labels: github-actions

#2042 Small fix for start-vm
  bin/start-vm
Labels: build-env

#1928 DISA STIG compliance
  .github/workflows/build.yml
  .github/workflows/stig.yaml
  features/stig/exec.config
  features/stig/file.include/etc/apt/apt.conf.d/01-vendor-Ubuntu
  features/stig/file.include/etc/audit/auditd.conf
  features/stig/file.include/etc/audit/rules.d/stig.rules
  features/stig/file.include/etc/kernel/cmdline.d/90-audit.cfg
  features/stig/file.include/etc/modprobe.d/disabled_usb.conf
  features/stig/file.include/etc/rsyslog.d/50-default.conf
  features/stig/file.include/etc/security/faillock.conf
  features/stig/file.include/etc/security/limits.conf
  features/stig/file.include/etc/security/pwquality.conf
  features/stig/file.include/etc/sysctl.d/99-stig.conf
  features/stig/file.include/usr/share/pam-configs/garden-stig
  features/stig/info.yaml
  features/stig/pkg.include
  features/stigDev/exec.late
  features/stigDev/file.include/etc/sudoers.d/user
  features/stigDev/info.yaml
  features/stigDev/pkg.include
  tests/README.md
  tests/integration/chroot.py
Labels: test-env, features, packages, github-actions, certificates

#2043 Add script to automatically bump SapMachine version
  features/sapmachine/exec.config
  features/sapmachine/update-sapmachine.py
Labels: features

#2045 feat: kmodbuild container
  .github/workflows/publish_container.yml
  .github/workflows/release_note.py
  container/kmodbuild/Containerfile
  container/kmodbuild/list_headers
Labels: github-actions

#2012 fix docs: remove references to legacy apt repo
  .github/workflows/check-packages.yml
  README.md
  docs/02_operators/apt_repo.md
Labels: github-actions, docs

#2047 fix: setup after checkout
  .github/workflows/publish_container.yml
Labels: github-actions

#2050 Delete links to deleted file groups.chroot, follow up for #985
  features/_dev/test/groups.chroot
  features/gardener/test/groups.chroot
Labels: features, test

#2049 Remove docker from gardener feature
  features/base/test/test_docker.py
  features/gardener/README.md
  features/gardener/exec.config
  features/gardener/file.include/etc/docker/daemon.json
  features/gardener/info.yaml
  features/gardener/pkg.include
  features/gardener/test/groups.d/groups.list
  features/gardener/test/test_systemd_units.py
Labels: features, packages, test

#2051 Set GH_TOKEN in workflow to use gh cli
  .github/workflows/publish_container.yml
Labels: github-actions

#2054 fixes and enhancements for gdch
  features/gdch/convert.gcpimage.tar.gz
  features/gdch/exec.config
  features/gdch/file.include/etc/cloud/cloud.cfg.d/91-gdch-system.cfg
  features/gdch/pkg.include
Labels: test-env, features, packages, github-actions, certificates, test, azure-platform

#2056 feat: add gdch platform to main
  features/gdch/convert.gcpimage.tar.gz
  features/gdch/exec.config
  features/gdch/file.include/etc/cloud/cloud.cfg.d/91-gdch-system.cfg
  features/gdch/pkg.include
Labels: features, packages

#2060 fix: release page automation - rm package updates section
  .github/workflows/release_note.py
Labels: github-actions
