Repository gardenlinux/gardenlinux, pull requests merged in 2024-07, with the labels that each got.

#2192 fix: set umask value even if /etc/login.defs did not set it before
  features/base/exec.config
  features/stig/exec.config
Labels: features, test

#2185 Document package building
  docs/01_developers/build_packages.md
Labels: docs

#2178 bin/start-vm: add opensuse
  bin/start-vm
Labels: build-env

#2177 document package pipeline design
  docs/00_introduction/README.md
  docs/00_introduction/package-pipeline.md
Labels: docs

#2222 Feature/71 document release plan
  docs/00_introduction/release.md
Labels: docs
