Repository gardenlinux/gardenlinux, pull requests merged in 2024-10, with the labels that each got.

#2383 Add feature to install glvd client and enable summary in motd
  features/glvd/README.md
  features/glvd/file.include/etc/update-motd.d/99-glvd
  features/glvd/info.yaml
  features/glvd/pkg.include
Labels: features, packages

#2386 better support docker build engine for cert building
  cert/build
Labels: certificates

#2339 split platform test images
  .github/labeler.yml
  .github/workflows/ali_tests.sh
  .github/workflows/aws_tests.sh
  .github/workflows/aws_trustedboot_tests.sh
  .github/workflows/aws_trustedboot_tpm2_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/gcp_tests.sh
  .github/workflows/nightly.yml
  .github/workflows/platform-test-images.yml
  .github/workflows/publish_container.yml
  .github/workflows/tests.yml
  bin/garden-version-resolver
  container/Makefile
  container/base-test/Dockerfile
  container/needslim
  container/platform-test/Dockerfile
  images/kmodbuild/Containerfile
  images/kmodbuild/list_headers
  tests/.gitignore
  tests/Pipfile
  tests/Pipfile.lock
  tests/README.md
  tests/conftest.py
  tests/images/Makefile
  tests/images/platform-test-base/Containerfile
  tests/images/platform-test/.gitignore
  tests/images/platform-test/ali/Containerfile
  tests/images/platform-test/aws/Containerfile
  tests/images/platform-test/azure/Containerfile
  tests/images/platform-test/firecracker/Containerfile
  tests/images/platform-test/gcp/Containerfile
  tests/images/platform-test/gcp/cloud.google.gpg
  tests/images/platform-test/kvm/Containerfile
  tests/images/platform-test/openstack/Containerfile
  tests/platformSetup/firecracker.py
Labels: build-env, test-env, github-actions, firecracker-platform

#2418 bump builder version
  build
Labels: build-env

#2411 Selectable region to clean_orphans_aws.py
  tests/tools/clean_orphans_aws.py
Labels: test-env

#2409 create releases in GLRD for nightly and patch releases
  .github/workflows/nightly.yml
  .github/workflows/release-page.yml
  bin/glrd
  bin/glrd-manage
Labels: build-env, test-env, github-actions

#2420 Backport/1592 platform test logs
  .github/workflows/ali_tests.sh
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/build.yml
  .github/workflows/gcp_tests.sh
  .github/workflows/nightly.yml
  .github/workflows/publish_container.yml
  .github/workflows/release-page.yml
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.sh
  .github/workflows/upload_to_s3.yml
  test
  tests/init
Labels: test-env, features, github-actions, test

#2422 Backport/1443 platform test logs
  .github/workflows/ali_tests.sh
  .github/workflows/aws_tests.sh
  .github/workflows/azure_tests.sh
  .github/workflows/build.yml
  .github/workflows/gcp_tests.sh
  .github/workflows/nightly.yml
  .github/workflows/publish_container.yml
  .github/workflows/release-page.yml
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .github/workflows/upload_to_s3.sh
  .github/workflows/upload_to_s3.yml
  test
  tests/init
Labels: test-env, features, github-actions, test

#2428 adaptions and clarifications on releases in README
  README.md
  docs/00_introduction/release.md
Labels: docs

#2408 query GLRD to get latest Garden Linux Version for platform test images
  bin/garden-version-resolver
  tests/images/Makefile
Labels: build-env, test-env

#2432 do not always push platform test images
  .github/workflows/platform-test-images.yml
Labels: github-actions

#2423 fix(pxe): cdc_ether should be omitted from the initrd
  features/_pxe/file.include/etc/dracut.conf.d/30-omit-cdc-ether.conf
Labels: features

#2424 Automate diff output for release notes
  .github/workflows/release_note.py
  hack/compare-apt-repo-versions.sh
Labels: github-actions, tools
