Repository gardenlinux/gardenlinux, pull requests merged in 2024-08, with the labels that each got.

#2242 gh-actions: Remove Ubuntu 22.04 crun workaround
  .github/actions/setup/action.yml
  .github/workflows/lima.yaml
  .github/workflows/stig.yaml
  .github/workflows/tests.yml
Labels: github-actions

#2241 Document architecture decision on vendoring go dependencies
  docs/architecture/decisions/0004-vendoring-go-dependencies.md
Labels: docs

#2247 Use iso 8601 date format
  docs/02_operators/apt_repo.md
Labels: docs

#2240 additional support for NVMe on Azure
  features/azure/file.include/etc/dracut.conf.d/67-azure-nvme-modules.conf
  features/azure/file.include/etc/kernel/cmdline.d/45-nvme-timeout.cfg
Labels: features, azure-platform

#2246 Add script to compare apt repo versions
  hack/compare-apt-repo-versions.sh
  hack/get-selected-gl-bom.sh
  hack/parse-aptsource.py
Labels: tools

#2255 Switch from fail2ban to sshguard
  features/ssh/README.md
  features/ssh/exec.config
  features/ssh/file.include.stat
  features/ssh/file.include/etc/fail2ban/jail.conf
  features/ssh/file.include/etc/systemd/system/fail2ban.service.d/override.conf
  features/ssh/pkg.include
Labels: features, packages

#2261 Fix azure cli tests
  container/base-test/Dockerfile
  container/integration-test/Dockerfile
  tests/Pipfile
  tests/Pipfile.lock
Labels: test-env

#2257 Fix a small problem with clean_ec2_ami.py
  tools/clean_ec2_ami.py
Labels: tools

#2256 Include sbom information in release notes
  .github/workflows/parse_aptsource.py
  .github/workflows/release_note.py
Labels: github-actions

#2264 Add numerical prefixes to all files in /etc/sysctl.d
  features/gardener/file.exclude
  features/gardener/file.include/etc/sysctl.d/40-allow-nonroot-dmesg.conf
  features/gardener/test/test_dmesg.py
  features/khost/file.include/etc/sysctl.d/20-br-nf.conf
  features/khost/file.include/etc/sysctl.d/20-inotify.conf
  features/khost/file.include/etc/sysctl.d/20-ip-forward.conf
  features/server/file.include/etc/sysctl.d/40-enable-unprivileged-user-namespaces.conf
  features/server/file.include/etc/sysctl.d/40-restric-dmesg.conf
  features/server/test/test_dmesg.py
Labels: features, test

#2271 feat: add bluefield feature
  features/_bfpxe/exec.config
  features/_bfpxe/file.exclude
  features/_bfpxe/file.include/etc/dracut.conf.d/20-gl-live.conf
  features/_bfpxe/file.include/etc/systemd/network/91-default.network
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/any.conf
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/cleanup.sh
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/gl-end.service
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/is-live-image.sh
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-get-squashfs.sh
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-overlay-setup.sh
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/live-sysroot-generator.sh
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/module-setup.sh
  features/_bfpxe/file.include/usr/lib/dracut/modules.d/98gardenlinux-live/squash-mount-generator.sh
  features/_bfpxe/fstab.mod
  features/_bfpxe/image.pxe.tar.gz
  features/_bfpxe/info.yaml
  features/_bfpxe/pkg.include
  features/_bfpxe/test/capabilities.d/capabilities.list
  features/_bfpxe/test/test_capabilities.py
  features/_bfpxe/test/test_packages_musthave.py
  features/bluefield/README.md
  features/bluefield/exec.config
  features/bluefield/file.exclude
  features/bluefield/file.include/etc/cron.monthly/update-pciids
  features/bluefield/file.include/etc/cron.monthly/update-usbids
  features/bluefield/file.include/etc/dracut.conf.d/90-virtio-console.conf
  features/bluefield/file.include/etc/kernel/cmdline.d/00-default.cfg
  features/bluefield/file.include/etc/kernel/cmdline.d/10-console.cfg
  features/bluefield/file.include/etc/kernel/entry-token
  features/bluefield/file.include/etc/kernel/postinst.d/00-kernel-cmdline
  features/bluefield/file.include/etc/kernel/postinst.d/00-ucode
  features/bluefield/file.include/etc/systemd/system/getty@tty1.service.d/autologin.conf
  features/bluefield/file.include/etc/systemd/system/serial-getty@.service.d/autologin.conf
  features/bluefield/file.include/etc/udev/rules.d/69-nostbyrot.rules
  features/bluefield/file.include/etc/udev/rules.d/71-intellldp.rules
  features/bluefield/file.include/opt/persist/install.fstab
  features/bluefield/file.include/opt/persist/install.part
  features/bluefield/file.include/opt/persist/install.sh
  features/bluefield/file.include/usr/sbin/update-usbids
  features/bluefield/hack/Dockerfile
  features/bluefield/hack/defaults
  features/bluefield/hack/mlx-trio
  features/bluefield/hack/mlxbf-livefish
  features/bluefield/hack/mlxbf-pka
  features/bluefield/hack/mlxbf-pka.d/class_create.patch
  features/bluefield/hack/mlxbf-ptm
  features/bluefield/hack/packages/.placeholder
  features/bluefield/hack/pwr-mlxbf
  features/bluefield/info.yaml
  features/bluefield/pkg.include
  features/bluefield/test/debsums.disable
  features/bluefield/test/test_packages_musthave.py
Labels: features, packages, test

#2270 Release note dry run
  .github/workflows/release_note.py
  .gitignore
Labels: features, github-actions, test

#2274 delete unused features
  .github/workflows/lima.yaml
  docs/01_developers/lima.md
  features/lima/README.md
  features/lima/convert.qcow2
  features/lima/generate-manifest.py
  features/lima/info.yaml
  features/lima/pkg.include
  features/rootlessPodman/README.md
  features/rootlessPodman/exec.config
  features/rootlessPodman/info.yaml
  features/rootlessPodman/pkg.include
  features/rootlessPodman/test/test_packages_musthave.py
  hack/lima-dev-env/README.md
  hack/lima-dev-env/gl-dev.yaml
  hack/lima-dev-env/update-lima-dev-env.py
Labels: features, packages, github-actions, tools, docs, test

#2275 revert changes from #1874
  .github/dependabot.yml
  build
  builder.dockerfile
Labels: build-env, github-settings

#2280 Revert disable openstack arm64 for rel-1592
  .github/workflows/build.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2279 Revert "Stop building openstack and vmware for arm64 (#2069)"
  .github/workflows/build.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2283 Add Script to compare the apt repo version of Garden Linux with Debian
  hack/compare-apt-repo-versions-gl-debian.sh
Labels: tools

#2310 Block project wide SSH keys in GCP platform tests
  tests/integration/gcp.py
Labels: test-env, gcp-platform
