Repository gardenlinux/gardenlinux, pull requests merged in 2024-11, with the labels that each got.

#2442 fix(gardener): keep LimitNOFILE same as old GL versions
  features/gardener/file.include/etc/systemd/system/containerd.service.d/override.conf
Labels: features

#2434 Feature/enable imds support
  tests/platformSetup/aws.py
Labels: test-env, aws-platform

#2446 Add dpkg-dev package to _dev feature
  features/_dev/pkg.include
Labels: features, packages

#2451 Update kubernetes repository GPG key
  features/khost/release.key
Labels: features

#2387 Feat/trustedboot gcp new: Add build targets for gcp_trustedboot and gcp_trustedboot_gcp, corresponding platform tests + documentation
  .github/workflows/build.yml
  .github/workflows/gcp_trustedboot_tests.sh
  .github/workflows/gcp_trustedboot_tpm2_tests.sh
  .github/workflows/tests.yml
  .gitignore
  cert/Makefile
  cert/gardenlinux-secureboot.db.der
  cert/gardenlinux-secureboot.kek.der
  cert/gardenlinux-secureboot.pk.der
  docs/02_operators/deployment/gcp-secureboot.md
  tests/README.md
  tests/platformSetup/gcp.py
Labels: build-env, test-env, github-actions, certificates, docs, firecracker-platform, gcp-platform

#2454 Update Sapmachine to 21.0.5
  features/sapmachine/exec.config
Labels: features

#2421 Bootstrap PR template
  .github/pull_request_template.md
Labels: github-settings

#2370 Add upload OCI workflow
  .github/workflows/upload_oci.yml
Labels: github-actions

#2463 Various fixes for auditd
  features/log/exec.config
  features/log/file.include/etc/audit/rules.d/10-no-audit.rules
  features/log/file.include/etc/audit/rules.d/21-no32bit.rules
  features/log/file.include/etc/audit/rules.d/22-ignore-chrony.rules
  features/log/file.include/etc/audit/rules.d/30-nispom.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42.rules
  features/log/file.include/etc/audit/rules.d/30-pci-dss-v31.rules
  features/log/file.include/etc/audit/rules.d/30-stig.rules
  features/log/file.include/etc/audit/rules.d/31-privileged.rules
  features/log/file.include/etc/audit/rules.d/40-local.rules
  features/log/file.include/etc/audit/rules.d/44-installers.rules
  features/sap/file.include.stat
  features/sap/file.include/etc/audit/rules.d/70-privilege-escalation.rules
  features/sap/file.include/etc/audit/rules.d/70-privileged-special.rules
  features/sap/file.include/etc/audit/rules.d/70-system-integrity.rules
  features/sap/file.include/etc/audit/rules.d/privileged_special.rules
Labels: features

#2456 feat: start-vm: add ability to create copy-on-write ephemeral disks
  .gitignore
  bin/start-vm
Labels: build-env

#2467 Various fixes
  features/log/file.include/etc/audit/rules.d/11-loginuid.rules
  features/log/file.include/etc/audit/rules.d/20-dont-audit.rules
  features/log/file.include/etc/audit/rules.d/21-no32bit.rules
  features/log/file.include/etc/audit/rules.d/23-ignore-filesystems.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-1-create-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-1-create-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-2-modify-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-2-modify-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-3-access-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-3-access-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-4-delete-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-4-delete-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-5-perm-change-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-5-perm-change-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-6-owner-change-failed.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42-6-owner-change-success.rules
  features/log/file.include/etc/audit/rules.d/30-ospp-v42.rules
  features/log/file.include/etc/audit/rules.d/31-privileged.rules
  features/log/file.include/etc/audit/rules.d/32-power-abuse.rules
  features/log/file.include/etc/audit/rules.d/40-local.rules
  features/log/file.include/etc/audit/rules.d/41-containers.rules
  features/log/file.include/etc/audit/rules.d/42-injection.rules
  features/log/file.include/etc/audit/rules.d/43-module-load.rules
  features/log/file.include/etc/audit/rules.d/44-installers.rules
  features/log/file.include/etc/audit/rules.d/70-einval.rules
  features/log/file.include/etc/audit/rules.d/71-networking.rules
  features/log/file.include/etc/audit/rules.d/99-finalize.rules
  features/log/file.include/etc/systemd/system-preset/00-rsyslog-disable.preset
  features/sap/exec.config
  features/sap/file.include.stat
  features/sap/file.include/etc/audit/rules.d/70-privileged-special.rules.arm64
Labels: features

#2469 fix: temporarily disable /lib64 audit rule
  features/sap/file.include/etc/audit/rules.d/70-system-integrity.rules
Labels: features

#2465 Reduce noise on serial console for _dev feature
  features/_dev/file.include/etc/kernel/cmdline.d/42-forward-journal.cfg
Labels: features, kvm-platform

#2477 Feature/pytest annotate
  features/base/test/test_users.py
  tests/Pipfile
  tests/Pipfile.lock
  tests/conftest.py
Labels: test-env, features, test

#2466 Upload container builds to S3 too
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2479 Add SAPMachine apt repo
  features/sapmachine/exec.config
  features/sapmachine/exec.late
  features/sapmachine/pkg.include
  features/sapmachine/sapmachine.key
  features/sapmachine/update-sapmachine.py
Labels: features, packages

#2489 ci: release-page - fix platform test upload error code
  .github/workflows/release-page.yml
Labels: github-actions

#2485 publish gcp_trustedboot_tpm2 on S3
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2499 Take care of community gallery images for azure in release notes
  .github/workflows/release_note.py
  .gitignore
Labels: github-actions

#2506 Bump k8s version to 1.30.7 for `khost`
  features/khost/exec.late
Labels: features

#2484 Push container images during push OCI
  .github/workflows/nightly.yml
  .github/workflows/upload_oci.yml
Labels: github-actions
