Repository gardenlinux/gardenlinux, pull requests merged in 2024-06, with the labels that each got.

#2134 Upload build artefacts to AWS S3 in China during nightly
  .github/workflows/nightly.yml
Labels: github-actions

#2092 ci: read version from VERSION file
  .github/workflows/dev.yml
Labels: github-actions

#2139 Include checksums and additional tags to S3 artefact uploads
  .github/workflows/upload_to_s3.sh
Labels: github-actions

#2141 Handle special case for release page generation for version 1312.5
  .github/workflows/get_kernelurls.py
Labels: github-actions

#2142 Fix get kernelurls
  .github/workflows/get_kernelurls.py
  .github/workflows/release-page.sh
Labels: github-actions

#2143 fix release page use long commitish
  .github/workflows/release-page.yml
  .github/workflows/release_note.py
Labels: github-actions

#2145 update unbase_oci
  unbase_oci
Labels: bare-container

#2171 Support NixOS in bin/start-vm
  bin/start-vm
Labels: build-env

#2173 Fix start-vm on mac
  bin/start-vm
Labels: build-env

#2174 Fix/disable IMDSv1
  features/base/test/test_metadata_connection.py
Labels: features, test

#2179 Ignore aws specific test on gcp
  features/base/test/test_metadata_connection.py
Labels: features, test
