Repository gardenlinux/gardenlinux, pull requests merged in 2025-03, with the labels that each got.

#2831 fix: _usi: explicitly include systemd-cryptsetup dracut module
  features/_usi/image.esp.tar
Labels: features

#2834 switch ali region to eu-west-1
  tests/platformSetup/tofu/variables.tf
Labels: test-env

#2823 feature/test su
  features/base/test/test_su.py
Labels: features, test

#2838 Fix OCI upload retry logic for 502s
  .github/workflows/upload_oci.yml
Labels: github-actions

#2829 trustedboot documentation
  .gitignore
  README.md
  cert/README.md
  docs/01_developers/build_image.md
  features/_ephemeral/README.md
  features/_tpm2/README.md
  features/_trustedboot/README.md
Labels: features, certificates, docs

#2849 Revert "Automate package upgrade release notes using glvd (#2662)"
  .github/workflows/release_note.py
Labels: github-actions

#2835 Qemu Provisioner - `make` targets for local tests
  .github/workflows/build.yml
  .github/workflows/platform-test-images.yml
  .github/workflows/tests-only.yml
  .github/workflows/tests.yml
  .gitignore
  Makefile
  bin/flavors_parse.py
  docs/02_operators/deployment/aws-secureboot.md
  docs/02_operators/deployment/gcp-secureboot.md
  flavors.yaml
  get_commit
  requirements.txt
  tests/Makefile
  tests/Pipfile
  tests/README.md
  tests/conftest.py
  tests/conftests/provisioner.py
  tests/helper/sshclient.py
  tests/images/Makefile
  tests/images/platform-test/ali/Containerfile
  tests/images/platform-test/aws/Containerfile
  tests/images/platform-test/azure/Containerfile
  tests/images/platform-test/firecracker/Containerfile
  tests/images/platform-test/gcp/Containerfile
  tests/images/platform-test/kvm/Containerfile
  tests/images/platform-test/openstack/Containerfile
  tests/images/platform-test/tofu/Containerfile
  tests/init
  tests/platformSetup/Makefile
  tests/platformSetup/firecracker.py
  tests/platformSetup/platformSetup.py
  tests/platformSetup/qemu.py
  tests/platformSetup/tofu/README.md
  tests/platformSetup/tofu/tf_pytest_ssh.py
  tests/platformSetup/tofu/tf_variables_create.py
  tests/pytest.ini
Labels: build-env, test-env, github-actions, docs, firecracker-platform

#2855 define defaults for platform-test-images build/push in nightly
  .github/workflows/platform-test-images.yml
  .github/workflows/tests.yml
Labels: github-actions

#2854 cleanup 1day old platform test resources via schedule
  .github/workflows/platform-test-cleanup.yml
  tests/platformSetup/tofu/modules/azure/main.tf
Labels: build-env, test-env, github-actions, docs, firecracker-platform

#2761 Use different path pattern for caching certificates
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: github-actions

#2863 fix DER cert and KEK on azure platform tests
  tests/platformSetup/tofu/modules/azure/main.tf
Labels: bug, test-env, platform-tests

#2864 remove wrong dependency introduced in #2854
  tests/platformSetup/tofu/modules/azure/main.tf
Labels: bug, azure-platform, platform-tests

#2862 fix login to tofu platform test targets
  tests/platformSetup/Makefile
Labels: test-env, platform-tests

#2872 fix qemu provisioned platform tests
  features/azure/test/test_azure_times.py
  features/base/test/test_basics.py
  features/base/test/test_disable_sysrq.py
  features/base/test/test_metadata_connection.py
  features/base/test/test_network.py
  features/base/test/test_orphaned.py
  features/base/test/test_platform_driver.py
  features/base/test/test_systemd.py
  features/base/test/test_time_config.py
  features/base/test/test_usr_ro.py
  features/chost/test/test_systemd_unit.py
  features/cis/test/test_debian_cis.py
  features/firecracker/test/test_systemd_unit.py
  features/firewall/test/test_nft_config.py
  features/firewall/test/test_systemd_units.py
  features/gardener/test/test_dmesg.py
  features/gardener/test/test_lsm.py
  features/gardener/test/test_systemd_units.py
  features/khost/test/test_systemd_unit.py
  features/server/test/test_dmesg.py
  features/server/test/test_kernel_parameter.py
  features/server/test/test_machine_id.py
  features/vhost/test/test_systemd_unit.py
  tests/conftests/provisioner.py
  tests/helper/tests/capabilities.py
  tests/helper/tests/rkhunter.py
  tests/helper/tests/ssh_authorized.py
  tests/helper/tests/tiger.py
  tests/local/test_oci.py
  tests/platformSetup/platformSetup.py
  tests/platformSetup/qemu.py
Labels: test-env, features, firecracker-platform, test, azure-platform, platform-tests, qemu

#2749 Fix/test supported distro
  features/base/test/test_basics.py
  tests/pytest.ini
Labels: test-env, features, test

#2859 fix: subscribe to udev rules from google upstream configs
  features/gcp/README.md
  features/gcp/file.include/etc/modprobe.d/gce-blacklist.conf
  features/gcp/file.include/etc/sysctl.d/60-gce-network-security.conf
  features/gcp/file.include/usr/lib/udev/google_nvme_id
  features/gcp/file.include/usr/lib/udev/rules.d/65-gce-disk-naming.rules
  features/gcp/pkg.include
Labels: features, packages, gcp-platform

#2874 update python dependencies for platform-tests
  .github/workflows/build.yml
  build
  test
  tests/Containerfile.chroot
  tests/Dockerfile
  tests/Pipfile.lock
Labels: build-env, test-env, github-actions

#2860 Fix/use gcp guest configs from google 1592
  .github/workflows/build.yml
  VERSION
  features/gcp/README.md
  features/gcp/file.include/etc/modprobe.d/gce-blacklist.conf
  features/gcp/file.include/etc/sysctl.d/60-gce-network-security.conf
  features/gcp/file.include/usr/lib/udev/google_nvme_id
  features/gcp/file.include/usr/lib/udev/rules.d/65-gce-disk-naming.rules
  features/gcp/pkg.include
  features/ssh/test/test_sshd.py
Labels: features, packages, github-actions, test, gcp-platform

#2636 feat: add crictl via the khost feature
  features/khost/exec.late
Labels: features

#2878 feat: remove rootlesskit from chost
  features/chost/pkg.include
Labels: features, packages

#2632 feat: add capi feature
  features/capi/README.md
  features/capi/info.yaml
  features/capi/pkg.exclude
  features/capi/pkg.include
  flavors.yaml
Labels: features, packages, test

#2877 rel-1592: update azure platform to fix boot issues
  features/azure/file.include/etc/systemd/system-preset/00-chrony-disable.preset
  features/azure/file.include/etc/systemd/system/chronyd.service.d/10-after_dev-ptp_hyperv.device.conf
  features/azure/file.include/etc/udev/rules.d/60-hyperv-ptp.rules
  features/azure/pkg.include
  tests/helper/utils.py
Labels: test-env, features, packages, azure-platform

#2880 Fix download of base platform test image artifact
  .github/workflows/platform-test-images.yml
Labels: bug, build-env, github-actions

#2876 native and parallel build of kmodbuild_container
  .github/workflows/publish_container.yml
Labels: enhancement, github_actions, github-actions

#2898 Fix GitHub workflow trying to access non-existent `archs` matrix
  .github/workflows/build_platform_test_images.yml
Labels: bug, github-actions

#2897 Remove bare flavors support from manual tests if downloaded from S3
  .github/workflows/manual_tests.yml
Labels: bug, github-actions

#2899 Make GitHub workflow `tests.yml` input `bare_flavors_matrix` optional
  .github/workflows/tests.yml
Labels: bug, github-actions

#2900 Fix the GitHub workflow platform-test container cache key used
  .github/workflows/test_platform_flavor.yml
Labels: bug, github-actions

#2901 Revert "Log in only to the cloud provider required ..."
  .github/workflows/github.mjs
  .github/workflows/platform_test_cleanup.yml
  .github/workflows/test_platform_flavor.yml
Labels: bug, github-actions

#2902 Fix missing import of `path` in GitHub workflow to login to GCP
  .github/workflows/platform_test_cleanup.yml
  .github/workflows/test_platform_flavor.yml
Labels: bug

#2904 Correctly read the git ref for branches as well as for `main`
  .github/workflows/manual_release.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/publish_s3.yml
Labels: bug, github-actions

#2905 Support empty matrices for GitHub workflows
  .github/workflows/build.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/tests.yml
Labels: bug, github-actions

#2906 Remove `echo` spurious statements in workflow `publish_oci_containers`
  .github/workflows/publish_oci_containers.yml
Labels: bug, github-actions

#2903 Reuse GitHub workflow build container for the kmodbuild container
  .github/workflows/build.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/dev.yml
  .github/workflows/publish_kmodbuild_container.yml
Labels: bug, github-actions

#2907 Only skip tagging as `nightly` on `main` in GitHub workflow `publish_s3.yml`
  .github/workflows/publish_s3.yml
Labels: github-actions

#2908 Disable rp_filter in Gardener feature on GCP
  features/gardener/exec.config
Labels: features

#2910 Cleanup various GitHub workflow statements
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/manual_release.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/publish_s3.yml
Labels: github-actions

#2909 Fix handling of `inputs` as `outputs` in GitHub reusable workflows
  .github/workflows/build.yml
Labels: bug, github-actions

#2912 Adds missing inputs to job in GitHub workflow `publish_s3.yml`
  .github/workflows/publish_s3.yml
Labels: bug, github-actions

#2914 Fix the GitHub workflow syntax to retry certain jobs automatically
  .github/workflows/manual_release.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/publish_s3.yml
Labels: bug, build-env, github-actions

#2916 Use correct matrix source for GitHub workflow
  .github/workflows/publish_s3.yml
Labels: github-actions

#2917 Fix access to alicloud access credentials in GitHub workflows
  .github/workflows/platform_test_cleanup.yml
  .github/workflows/test_platform_flavor.yml
Labels: bug, github-actions

#2918 Add missing `needs` to job `prepare_certs` in GitHub workflow `publish_s3.yml`
  .github/workflows/publish_s3.yml
Labels: bug, github-actions

#2919 Add support to intersect matrices for use in GitHub workflows and tests
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/github.mjs
  .github/workflows/tests.yml
Labels: github-actions

#2920 Fix the flavors matrices used in GitHub workflows for publishing
  .github/workflows/download_workflow_data.yml
  .github/workflows/publish_kmodbuild_container.yml
  .github/workflows/publish_oci_containers.yml
Labels: bug, github-actions

#2922 Fix environment variable names used in `publish_oci_containers.yml`
  .github/workflows/publish_oci_containers.yml
Labels: bug, github-actions

#2779 Create package diff using glvd for release notes
  .github/workflows/manual_gh_release_page.yml
  .github/workflows/release_note.py
Labels: github-actions

#2928 Fix GLRD creating wrong nightly releases under certain circumstances
  .github/workflows/publish_s3.yml
Labels: bug, github-actions

#2931 Read the Git hash for short commit ID in GitHub workflow `publish_s3.yml`
  .github/workflows/publish_s3.yml
Labels: bug, github-actions
