Repository gardenlinux/gardenlinux, pull requests merged in 2025-09, with the labels that each got.

#3357 feat: add requirements.mod scripts to relevant features
  features/_tpm2/requirements.mod
  features/_trustedboot/requirements.mod
  features/_usi/requirements.mod
Labels: features

#3363 fix: use ukify from chroot to restore compatibility with newer systemd
  features/_usi/image.esp.tar
  features/_usi/pkg.include
Labels: features, packages

#3359 Add the what-is-python package to the python feature.
  features/python/pkg.include
Labels: features, packages

#3407 fix: in manual_gh_release_page.yml put flavors_matrix into own step
  .github/workflows/manual_gh_release_page.yml
Labels: github-actions, area/ipcei

#3413 fix: in manual_gh_release_page.yml put flavors_matrix into own step - fetch full history to find commit in release_note.py
  .github/workflows/manual_gh_release_page.yml
Labels: github-actions, area/ipcei

#3451 remove workflow permissions setting from included workflow. refs #3215
  .github/workflows/build.yml
Labels: github-actions

#3485 enable latest flag in release_note.py
  .github/workflows/manual_gh_release_page.yml
  .github/workflows/release_note.py
Labels: github-actions

#3496 [no ci] fix readme of lima feature
  features/lima/README.md
Labels: features

#3498 fix lima readme
  features/lima/README.md
Labels: features

#3501 Move "Test Distribution Build" to the correct GH workflow stage
  .github/workflows/build.yml
  .github/workflows/build_test_dist.yml
  .github/workflows/manual_tests.yml
  .github/workflows/tests.yml
Labels: github-actions

#3500 fix: test-ng: correctly detect errors in QEMU tests
  .github/workflows/test_flavor_qemu.yml
  tests-ng/README.md
  tests-ng/util/run_qemu.sh
Labels: github-actions

#3505 Move GitHub workflow test environments determination to separate function
  .github/workflows/build_test_dist.yml
  .github/workflows/github.mjs
  .github/workflows/tests.yml
Labels: github-actions

#3335 Add new ADR regarding GL versioning
  docs/architecture/decisions/0011-garden-linux-versioning.md
Labels: docs

#3514 Fix hidden dependency for `qemu` to execute `cloud` tests
  .github/workflows/tests.yml
Labels: github-actions
