Repository gardenlinux/gardenlinux, pull requests merged in 2025-04, with the labels that each got.

#2932 Fix "ambiguous argument" in GitHub workflow executed `git` for `publish_s3.yml`
  .github/workflows/publish_s3.yml
Labels: bug, github-actions

#2929 fix: support arm64 machine hardware type for platform-test images
  tests/images/Makefile
Labels: test-env

#2941 fix test: disable test_clocksource on qemu without kvm support
  features/base/test/test_time_config.py
  tests/conftests/platforms.py
Labels: test-env, features, test

#2947 update python-gardenlinux-cli to 0.6.4
  .github/workflows/publish_oci_containers.yml
Labels: github-actions

#2948 Update to newer builder version including modernized apt sources
  build
Labels: build-env

#2962 switch to free github-hosted runners for S3 upload
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2970 Warn more explicitly about memory consumption of build process
  README.md
  docs/01_developers/build_image.md
Labels: docs

#2985 Fix /usr ro test
  features/base/test/test_usr_ro.py
Labels: features, test

#2980 Allow building images suitable for use with lima-vm
  features/lima/README.md
  features/lima/convert.qcow2
  features/lima/info.yaml
  features/lima/pkg.include
Labels: features, packages

#2999 Backport purge excluded packages for rel 1443
  container/kmodbuild/Containerfile
Labels: build-env, test-env, features, packages, github-actions, test

#2997 Document typical kernel build troubleshooting issues
  docs/01_developers/README.md
  docs/01_developers/troubleshooting/README.md
  docs/01_developers/troubleshooting/package-linux/README.md
  docs/01_developers/troubleshooting/package-linux/build-fails-in-binary-phase-c-header-not-found.md
  docs/01_developers/troubleshooting/package-linux/build-fails-in-source-phase-patch-is-rejected.md
  docs/01_developers/troubleshooting/package-linux/debian_ref.png
Labels: docs
