Repository gardenlinux/gardenlinux, pull requests merged in 2025-01, with the labels that each got.

#2578 fix: only chrony.service should run
  features/azure/file.include/etc/systemd/system-preset/00-chrony-disable.preset
  features/azure/file.include/etc/systemd/system/chronyd-restricted.service.d/05-private-devices-access.conf
  features/azure/file.include/etc/systemd/system/chronyd-restricted.service.d/10-after_dev-ptp_hyperv.device.conf
  features/azure/file.include/etc/udev/rules.d/60-hyperv-ptp.rules
Labels: features, azure-platform

#2580 Remove mark manual for packages not in the repo
  features/base/exec.config
Labels: features

#2564 Bump glcli version
  .github/workflows/upload_oci.yml
Labels: github-actions

#2584 fix: _usi mount unit dependency cycle
  features/_usi/file.include/etc/systemd/system/home.mount
  features/_usi/file.include/etc/systemd/system/opt.mount
  features/_usi/file.include/etc/systemd/system/root.mount
  features/_usi/file.include/etc/tmpfiles.d/var-root.conf
Labels: features

#2597 fix: _usi /root tmpfs permissions
  features/_usi/file.include/etc/systemd/system/root.mount
Labels: features

#2602 debug: print more verbose info on KMS PKCS11 signing
  features/_trustedboot/usi.config
Labels: features

#2605 fix: bump duration of secboot signing OIDC role
  .github/workflows/build.yml
Labels: github-actions

#2604 add numactl since there are mixed machines
  features/openstack/pkg.include
Labels: features, packages

#2606 update builder
  build
Labels: build-env

#2524 document decision on handling secure boot keys in glci
  docs/architecture/decisions/0005-secure-boot-keys-glci.md
Labels: docs

#2608 update builder
  build
Labels: build-env

#2613 bump up AWS role duration in upload_to_s3.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2503 hack: add script to list package releases
  hack/list-package-releases.sh
Labels: tools

#2626 mask google-guest-agent-manager.service unit
  features/gcp/exec.config
Labels: features, gcp-platform

#2617 Fix GCP platform-test resource cleanup
  tests/tools/clean_orphans_gcp.py
Labels: test-env
