Repository gardenlinux/gardenlinux, pull requests merged in 2025-07, with the labels that each got.

#3151 dynamically resolve IMAGE_REGISTRY
  .github/workflows/build_platform_test_images.yml
Labels: area/ipcei

#3152 Fix/ccloud build platform test
  .github/workflows/build.yml
  .github/workflows/build_platform_test_images.yml
Labels: github-actions, area/ipcei

#3171 tofu: remove provider overwrite for GCP
  tests/images/platform-test/tofu/.terraformrc
Labels: test-env

#3173 bump python-gardenlinux-lib (s3 artifact manifest modifiers) - 2nd try
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#3177 Reduce number of features included in 'lima' image
  features/lima/info.yaml
  features/lima/pkg.include
Labels: features, packages

#3118 Generate lima manifest automatically when building
  features/lima/exec.config
Labels: features

#3182 document OpenTofu version and provider updates
  tests/platformSetup/tofu/README.md
Labels: test-env, docs

#3205 Bump `python-gardenlinux-lib` to 0.8.5
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
  Pipfile
  requirements.txt
Labels: bug, github-actions

#3210 Bump `python-gardenlinux-lib` to 0.8.6
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
  Pipfile
  requirements.txt
Labels: github-actions

#3180 document Platform-Test image github actions workflow
  tests/README.md
Labels: test-env, docs

#3212 Add workflow for CPE
  .github/workflows/cpe.yml
Labels: github-actions

#3172 build and publish images for use with lima-vm
  .github/workflows/lima_upload_oidc.yml
  features/lima/README.md
Labels: features, github-actions

#3233 feat: add option to run VM configure script via QEMU fw_cfg
  bin/start-vm
  features/_fwcfg/exec.config
  features/_fwcfg/file.include/etc/systemd/system/qemu-fw_cfg-script.service
  features/_fwcfg/file.include/usr/bin/run-qemu-fw_cfg-script
  features/_fwcfg/info.yaml
  features/cloud/info.yaml
  features/metal/info.yaml
Labels: build-env, features, metal-platform

#3235 update builder to latest version
  build
Labels: build-env
