Repository gardenlinux/gardenlinux, pull requests merged in 2025-06, with the labels that each got.

#3067 Use the correct GitHub secrets to access the Azure cloud provider for "Platform Test Cleanup"
  .github/workflows/test_platform_flavor.yml
Labels: bug, github-actions

#2896 test rp_filter in Gardener feature not set to 1
  features/gardener/test/test_sysctls.py
  tests/helper/tests/sysctl.py
Labels: test-env, features, test

#3046 Run the chroot tests as an unprivileged user
  features/base/test/test_basics.py
  features/base/test/test_password_shadow.py
  features/base/test/test_random.py
  tests/helper/sshclient.py
  tests/helper/tests/orphaned.py
  tests/helper/tests/ssh_authorized.py
  tests/helper/tests/users.py
  tests/helper/utils.py
  tests/init
  tests/platformSetup/chroot.py
Labels: test-env, features, test

#3091 Configure AWS S3 multipart upload
  .github/workflows/upload_to_s3.sh
  .github/workflows/upload_to_s3.yml
Labels: enhancement, github-actions

#3099 Bump `python-gardenlinux-lib` actions to 0.7.1
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/download_workflow_data.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/publish_s3.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
Labels: bug

#3101 Bump `python-gardenlinux-lib` to 0.7.2
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/publish_s3.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#3102 Bump `python-gardenlinux-lib` to 0.7.3
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/publish_s3.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#3109 Fix missing manifest download in `publish_oci_containers.yml`
  .github/workflows/publish_oci_containers.yml
Labels: bug, github-actions

#3108 Improve GitHub workflow `publish_s3.yml` to handle flavor tests correctly
  .github/workflows/publish_s3.yml
  .github/workflows/upload_to_s3.yml
Labels: bug, github-actions

#3110 Allow `publish_s3.yml` to complete successfully if `$CNAME` directory exists
  .github/workflows/publish_s3.yml
  .github/workflows/upload_to_s3.yml
Labels: bug, github-actions

#3140 Add script to browse glvd data on the terminal with fuzzy search
  hack/glvd-search.sh
Labels: tools
