Repository gardenlinux/gardenlinux, pull requests merged in 2025-02, with the labels that each got.

#2631 ci: use special upload runner instead of 64 core
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#2657 Use pipenv sync instead of install
  tests/Containerfile
Labels: test-env

#2630 Add utility script to find the correct build container for Garden Linux releases
  bin/find-build-container-for
  requirements.txt
Labels: build-env

#2654 Feature/test for support disto
  features/base/test/test_basics.py
  tests/pytest.ini
Labels: test-env, features, test

#2663 feat: improved os-release file
  features/base/exec.config
Labels: features

#2662 Automate package upgrade release notes using glvd
  .github/workflows/release_note.py
Labels: github-actions

#2666 Revert "Feature/test for support disto (#2654)"
  features/base/test/test_basics.py
  tests/pytest.ini
Labels: test-env, features, test

#2665 fix: bump kernel time to work with _usi
  features/base/test/test_basics.py
Labels: features, test

#2667 Feature/test mount
  features/base/test/test_mount.py
Labels: features, test

#2655 Feature/test for users
  features/base/test/test_users.py
Labels: features, test

#2674 Do not use nightly tags anymore for 1443
  .github/workflows/publish_container.yml
Labels: github-actions

#2678 fix: use Wants instead of Requires for sysroot-*.mount units
  features/_ephemeral/initrd.include/etc/systemd/system/sysroot-var.mount
  features/_nocrypt/initrd.include/etc/systemd/system/sysroot-var.mount
  features/_tpm2/initrd.include/etc/systemd/system/sysroot-var.mount
  features/_usi/initrd.include/etc/systemd/system-generators/detect-disk-by-efivars
Labels: features

#2672 Upgrade python to 3.13 in platform tests
  tests/images/platform-test-base/Containerfile
Labels: test-env

#2687 build only tofu platform-test-images in nightly
  .github/workflows/platform-test-images.yml
  .github/workflows/tests.yml
Labels: github-actions, platform-tests

#2689 bump glrd version to be compatible with v2 syntax
  .github/workflows/nightly.yml
  .github/workflows/release-page.yml
  .github/workflows/tests.yml
Labels: github-actions

#2690 platform-tests: convert UUIDs to lowercase on macos
  tests/platformSetup/Makefile
Labels: test-env

#2685 Fix/test mount trustedboot
  features/base/test/test_mount.py
Labels: test-env, features, test

#2691 Always upload test artifacts
  .github/workflows/tests.yml
Labels: github-actions

#2693 change the behavior once more, the step to upload artifacts still gets skipped after a test failure
  .github/workflows/tests.yml
Labels: github-actions

#2695 Feature/configuration for tests uci
  features/base/test/test_mount.py
  tests/conftest.py
Labels: test-env, features, test

#2699 Revert/test mount
  features/base/test/test_mount.py
Labels: features, test

#2701 change "!cancelled()" to always() to get the test artifacts to upload…
  .github/workflows/tests.yml
Labels: github-actions

#2704 platform-test logs are not named with a cname but a combination of $FLAVOR-$ARCH
  .github/workflows/tests.yml
Labels: github-actions

#2658 Feature/clean up uncessary user accounts
  features/base/exec.config
  features/base/file.include/var/www/.gitignore
  features/base/test/test_password_shadow.py
Labels: test-env, features, test

#2709 Fix/patch to password shadow
  features/base/test/test_password_shadow.py
Labels: features, test

#2697 Add generic support to retry failing tests
  features/base/test/test_time_config.py
  tests/Pipfile
  tests/Pipfile.lock
Labels: test-env, features, test

#2708 feat: include certs in build artifacts
  .github/workflows/build.yml
  .github/workflows/upload_oci.yml
Labels: github-actions

#2714 Fix broken nightly by fixing the test shadow password test
  features/base/test/test_password_shadow.py
  tests/helper/tests/capabilities.py
  tests/pytest.ini
Labels: test-env, features, test

#2739 enable arm64 azure platformtests for 1443
  .github/workflows/tests.yml
Labels: github-actions

#2716 feat: add skip_upload option to nightly workflow
  .github/workflows/nightly.yml
Labels: github-actions

#2705 feat: support running platform tests without KMS backed keys
  .github/workflows/tests.yml
  tests/platformSetup/tofu/modules/aws/main.tf
  tests/platformSetup/tofu/modules/azure/main.tf
  tests/platformSetup/tofu/modules/gcp/main.tf
Labels: test-env, github-actions

#2740 enable arm64 azure platform tests
  .github/workflows/tests.yml
Labels: github-actions

#2727 Add auto rerun on GHCR upload
  .github/workflows/upload_oci.yml
Labels: github-actions

#2741 fix: do not exclude copyright files
  features/_slim/exec.late
  features/_slim/file.exclude
Labels: features

#2762 set nightly/now version in tests-only
  .github/workflows/tests-only.yml
Labels: github-actions

#2669 Feature/test password hashes
  features/base/test/test_password_hashes.py
  tests/helper/tests/password_hashes.py
Labels: test-env, features, test

#2778 Change format of CVEs in release notes to long-list style
  .github/workflows/release_note.py
Labels: github-actions

#2780 feat: indicate secureboot support in uploaded yml
  .github/workflows/upload_to_s3.sh
Labels: github-actions

#2817 Feature/check homes for permissions
  features/aws/test/test_users.py
  features/azure/test/test_users.py
  features/gcp/test/test_users.py
Labels: features, test, gcp-platform, azure-platform, aws-platform

#2656 Feature/add read file remote func
  tests/helper/utils.py
Labels: test-env

#2706 Feature/cleanup conftest
  tests/README.md
  tests/conftest.py
  tests/conftests/__init__.py
  tests/conftests/architecture.py
  tests/conftests/elements.py
  tests/conftests/features.py
  tests/conftests/miscellaneous.py
  tests/conftests/platforms.py
  tests/conftests/provisioner.py
  tests/platformSetup/qemu.py
Labels: test-env, python, security, platform-tests
