Repository gardenlinux/gardenlinux, pull requests merged in 2025-10, with the labels that each got.

#3564 Remove firecracker feature
  .github/labeler.yml
  docs/architecture/decisions/0012-remove-firecracker-feature.md
  features/firecracker/README.md
  features/firecracker/file.exclude
  features/firecracker/file.include/etc/systemd/system/rngd.service.d/architecture.conf
  features/firecracker/image.firecracker.tar.gz
  features/firecracker/info.yaml
  features/firecracker/pkg.exclude
  features/firecracker/pkg.include
  features/firecracker/test/debsums.disable
  features/firecracker/test/test_packages_musthave.py
  features/firecracker/test/test_systemd_unit.py
  images/kmodbuild/Containerfile
  tests/Pipfile
  tests/conftest.py
  tests/conftests/platforms.py
  tests/images/platform-test/firecracker/Containerfile
Labels: test-env, features, packages, github-settings, docs, firecracker-platform, test

#3619 fix: rename packages in `vhost` `pkg.include`
  features/vhost/pkg.include
Labels: features, packages

#3631 feat: use glrd@v4 for semantic versioning support
  .github/workflows/manual_gh_release_page.yml
  .github/workflows/publish_s3.yml
Labels: github-actions

#3630 Update README for the new versioning
  README.md
Labels: docs
