Repository gardenlinux/gardenlinux, pull requests merged in 2025-05, with the labels that each got.

#3032 Move `secureboot` files to be prefixed with "cname" before upload S3
  .github/workflows/publish_s3.yml
Labels: github-actions

#3033 Move secureboot files to be prefixed with "cname" before upload S3 (v2)
  .github/workflows/publish_s3.yml
Labels: github-actions

#3034 Fix `secureboot` file moves to not include directory names in `for` loop
  .github/workflows/publish_s3.yml
Labels: github-actions

#3030 Feature/extend remote client class
  tests/helper/sshclient.py
Labels: test-env

#3043 fix: multipath ignore everything except iscsi and nvme/tcp
  features/multipath/file.include/etc/multipath.conf
Labels: features

#3031 update python-gardenlinux-cli to 0.6.5
  .github/workflows/publish_oci_containers.yml
Labels: github-actions

#3045 Include _usi and _tpm2_trustedboot variants in release page
  .github/workflows/manual_gh_release_page.yml
  .github/workflows/release_note.py
Labels: github-actions

#3055 Skip ali for _usi and _tpm2_trustedboot images
  .github/workflows/release_note.py
Labels: github-actions

#3062 fix: make image_variants optional in release page action
  .github/workflows/manual_gh_release_page.yml
  .github/workflows/release_note.py
Labels: github-actions
