Repository gardenlinux/gardenlinux, pull requests merged in 2025-08, with the labels that each got.

#3248 Bump `python-gardenlinux-lib` to 0.8.9
  .github/workflows/build_flavor.yml
  .github/workflows/build_flavors_matrix.yml
  .github/workflows/build_kmodbuild_container.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/test_flavor_chrooted.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
  Pipfile
  requirements.txt
Labels: github-actions

#3258 Add lima sample manifests
  features/lima/README.md
  features/lima/samples/README.md
  features/lima/samples/gardenlinux-containerd.yaml
  features/lima/samples/gardenlinux-rootless-podman.yaml
Labels: features

#3259 Revert "build(deps): bump aws-actions/configure-aws-credentials"
  .github/workflows/build_flavor.yml
  .github/workflows/download_flavors_images.yml
  .github/workflows/manual_gh_release_page.yml
  .github/workflows/platform_test_cleanup.yml
  .github/workflows/publish_oci_containers.yml
  .github/workflows/publish_s3.yml
  .github/workflows/test_platform_flavor.yml
  .github/workflows/upload_to_s3.yml
Labels: github-actions

#3270 Update the builder image to testing after debian trixie was released
  build
Labels: build-env

#3291 fix: dracut move of /initrd failed
  features/_pxe/image.pxe.tar.gz
  features/_usi/image.esp.tar
Labels: features

#3316 Fix docs for how to call python3 in bare container
  docs/01_developers/bare_container.md
Labels: docs

#3325 Bump OpenSSL Version 3.5 in README
  README.md
Labels: docs

#3331 Fix UEFI related keys for OpenTofu Azure
  tests/platformSetup/tofu/modules/azure/main.tf
Labels: test-env

#3337 Revert "Define a created OpenTofu Azure NIC as a explicit dependency for the VM"
  tests/platformSetup/tofu/modules/azure/main.tf
Labels: bug
